[2017-10-16 18:34] LoosGuccreen commented on #831
You did it on FEL mode or on non-FEL mode ? (aka reset or non reset mode)

[2017-10-16 19:17] LoosGuccreen commented on #831
YESS it did indeed work (had to flash original kernel and then flash custom Kernel) ! Maybe a FAQ update would be appropriate ?

[2017-10-16 19:32] T3rry12 commented on #831
i ended up installing the driver in FEL mode, then flashed the modded kernel in FEL, then after it finished i could upload the roms, i assume at that point the flash reset it back to non-FEL

[2017-10-16 20:12] thezakattac commented on #773
Hey @KingHippo27 ,

I had this same exact issue - even following the link above provided by @adamschlag still gave me what I believe is the same exact problem that you did. When it is entering the sync game phase, are you turning on the SNES, waiting for it to appear in the USB list on the bottom right as "Nintendo (etc./whatever)", selecting that and then getting the error?

That's where I got lo

[2017-10-16 20:15] joetheuseless commented on #825
Same issue! i noticed there is sometimes some delay on the Snes Mini when its connect to the computer sometimes the power indicator will flash sometimes it will not.. Even though its still functioning in Device Manager i have tried all the USB available in my computer but its still an issue USB  3.1 ''3.0'' 2.0 it has something to do''' AMD USB eXtension controller Host controller '' in Device man

[2017-10-16 21:26] atarimonkey2000 commented on #836
I installed Hackchi on my Famicom mini today and ive having the same issue. (plus it will randomly crashes in the menu as well?!?).

Works perfectly on my euro snes mini though! :)

[2017-10-16 21:34] clubbedmink opened #839 "No added games work!"
I must be doing something wrong. I added 50 or so games and they all go to black screen and then back to the games menu. Any help would be aprecieated

[2017-10-16 21:45] hoderer commented on #839
this is an issues board. please ask these kind of questions here:

https://gbatemp.net/threads/hakchi2-nes-mini-very-simple-pimp-tool.456256/

and add a little more information about how you did it. more information = better chance to get help.

[2017-10-16 21:49] sweetpalma commented on #775
@mikazza I second this. Would be a great option.
@zimmertr Well, issue tracker can be used for making feature requests too, that's clearly stated on the Github Issues landing page.

[2017-10-16 22:11] qingjian0 commented on #806
Had the same problem, tried a diffrent PC with fresh installed win10 and everything works well. Just to mention, this PC that gave me the problem used o work perfect flashing nes mini and snes mini but all of a sudden it stopped working, tested diffrent usb ports and diffrent cables but same freezing issue. Try a fresh install of win10 or another PC.

[2017-10-16 22:14] ghost commented on #744
Or ability to setup the dual boot from Hakchi2, and add NES games to the "NES side" of the dual bootable SNES
https://www.reddit.com/r/miniSNESmods/comments/76fr80/release_nessnes_classic_dualboot_mod_v03_no_more/?st=j8uqkuhv&sh=4ff77e68

[2017-10-16 22:36] MotleyLou commented on #831
Hello Everyone,

Semi-Newbie with Hakchi.

Just got a NES Mini that I believe was hacked and "restored". Noticed choppy menu music, also, I cannot perform a System Restore via the console. So, I figured I'd rather load games I wanted, and ended up learning Hakchi via YouTube vids etc.

Now, I cant even Dump or Flash my Kernel (downloaded a supposed Stock Kernel) Long story short...when I try to 'H

[2017-10-16 22:41] MotleyLou commented on #831
Forgot to add...when I hold reset, then power, then release reset, the unit just powers up, so Hakchi never "finds it"

[2017-10-16 22:48] SieOne commented on #806
All good, downloaded 2.21d and it worked no problem. Thanks for the input.

[2017-10-16 22:56] schaudhr commented on #839
I am having the same issue....anyone have a resolve for this?

I dragged over the 200 or so ROMs and when playing the system the original 20 games work, but everything else I added does not.  Just goes back to game select screen.

[2017-10-16 22:58] KingHippo27 commented on #773
Thanks for all the help.  Have a newborn, but will have time to try tonight.
Zakattack - Did you end up using USB 2 or 3?

[2017-10-16 22:59] jackkknifejones opened #840 "Clovershell read timeout"
I am pretty sure i did everything right but get this when i synchronize selected games. what should i do ? thank you

[2017-10-16 23:59] jackkknifejones commented on #840
also said kernel dumped but the md5 checksum is unknown when flashing new kernel

[2017-10-17 00:36] mrTruch commented on #820
+1

[2017-10-17 01:17] durubz commented on #833
SNES used hackhi2 v2.21d and retroarch 1.0 Thanks

[2017-10-17 01:31] DecanFrost commented on #839
Did you install retroarch and snes9x2010 hmods ?

[2017-10-17 01:51] Garymf commented on #806
I also get the problem. I am using 2.21d , after flash the kernel, and google pic & adding game, is connect then got the problem

shell command "tar -xvC /" returned exit code 1:tar: can't open '._bin':Read-only file

Anybody can help? I just got one computer at home

[2017-10-17 01:53] DefKorns opened #842 "NESCE - shell command "mkdir - p..."
Hello ,

i was using hakchi 2.17 on my mini Nes and now i updated to 2.21d (internal version 2.0.21.53).

- Uninstalled previous version
- flashed original kernel
- flashed custom kernel
- uninstalled all hmods
-installed new hmod

after this when i try to add games i get this error:

![image](https://user-images.githubusercontent.com/32590804/31642921-394e1648-b2dd-11e7-9456-b1e31cf1883f.png)

th

[2017-10-17 01:57] Cuddles07 commented on #814
Oh, I wasn't aware that auto detection was in. Still it would be nice for those that have already uploaded games to their SNES mini and don't want to have to re-add them.

[2017-10-17 02:25] RoberMC commented on #702
On previous Hakchi versions global commands like -filter and -magfilter were working flawlessly, but it seems they got broken in the latest release.

[2017-10-17 02:47] durubz commented on #833
Tried changing the number of folders in Main menu to 45 instead of 100. Issue solved and closed.  Thanks

[2017-10-17 02:47] #833 closed, assigned to nobody

[2017-10-17 03:09] ghost commented on #842
Do you mean you uninstalled Hakchi 2.17 or do you mean you ran the Kernel -> Uninstall feature?

[2017-10-17 03:29] ghost commented on #831
Perhaps learn what you're doing before you do it. Sounds like you're going to have to solder it.

[2017-10-17 03:37] ghost commented on #825
I had success with kernel related operations / flashing at first on most ports but I couldn't do anything related to NAND dumping on my Intel system. I have 16 USB ports on my motherboard / front panel. Only the USB 3.1 Gen 2 Type A port on the rear of my board would dump the NAND. Only four USB 3.0 ports could dump NAND-B and NAND-C. My Intel based laptop couldn't dump the NAND at all. Perhaps it

[2017-10-17 03:57] schaudhr commented on #839
I installed retroarch. I didnt Install the snes9x2010 mods but I thought those were already on Hackchi2.21d?

{PRIVATE INFO REDACTED (@Drakonas)}

[2017-10-17 07:42] KingHippo27 commented on #773
Great news, Its working!  Now I just have to figure out how to get MAME running...
Some troubleshooting tips for Virtual Box:
1) This website is a good place to start
https://toadle.me/2017/02/03/how-to-add-more-games-to-you-nes-mini-classic-using-hakchi2-and-a-mac.html
2) When configuring VB, make sure you:
a) Install extension pack (prior to creating your windows instance)
b) Under settings add

[2017-10-17 08:08] Tshakka opened #843 "Are games like Star Ocean ever going to be supported by hakchi2 or does it need Retroarch?"
The title says it all. As i heard that games like Star Ocean and Tales of Phantasia are using a special graphic chip that may not be supported by the SNES Mini classic emulator, is that true?

And does it mean in the end that it will most likely never going to run on hakchi2 without RetroArch?

ty in advance.

[2017-10-17 08:18] DefKorns commented on #842
Kernel > Uninstall

[2017-10-17 09:15] ArieKindicator commented on #837
Solved it, by uninstalling it, overwriting the kernel to the stock version, Twice. Then flashing the custom kernel without any of the additional modules installed. The custom kernal is a patched original kernal and runs as such. All traces of previous installed modules and games were finally gone and I could start adding additional modules to a clean kernel.

[2017-10-17 09:15] #837 closed, assigned to nobody

[2017-10-17 09:49] LoosGuccreen commented on #831
What happens when you try to launch it in FEL mode? (Normally: the led don't light up but after a few seconds you hear the windows "plugged device" sound)

Please check:
- the cable you're using (try with the stock one if you have it)
- your Peripheral Manager (opposite to what I have said earlier in this thread, there is not two drivers. If you see the CLV-S-SNPY on your Peripheral Manager, it me

[2017-10-17 10:00] ClusterM commented on #842
Uninstall, reinstall custom.
But you can make NAND-C dump first and send this dump to me if you wanna help to fix it.

[2017-10-17 10:01] ClusterM commented on #839
Can you make NAND-C dump and send this dump to me?

[2017-10-17 10:20] DefKorns commented on #842
@ClusterM it didn't work. I also tried:
- Uninstall
- Reinstall custom
- Uninsntall
- Restore original rom
In both cases only cases only the original games work. When i tried to add games i get the above error.

 But i already managed to "fixit".

-  flash custom kernel
- installed retroarch
- telnet to NESCE
`# cd /var/lib/hakchi/rootfs/usr/share/games/nes/`
`# ls -l`
`-rw-r--r--    1 root     ro

[2017-10-17 11:13] sweetpalma opened #844 "[Feature-Request] Fifth invisible save state to backup in-game progress?"
**Preamble:**
I started playing Super Metroid and made a suspend point in first five minutes of gameplay, just to test this feature. After that I only used vanilla in-game saves for better authenticity and it worked great. After playing a decent period of time I've accidentally loaded that almost blank save point (derp) - and BAM!!! All my progress is lost.

Is it possible to store "vanilla" in-ga

[2017-10-17 11:17] ArieKindicator commented on #774
Compressing artwork is a very good idea. I use RIOT for that matter and I reduce the color palette to 128 for the box art and 16 for the thumbmail. You can hardly tell the difference but the file sizes decrease tremendously.

Hakchi2 looks in the `art` directory for artwork that matches the filename of a game. However, hakchi2 reprocesses the images when adding it to the games directory and the re

[2017-10-17 11:50] AndreSanctus opened #845 "SNES Mini stays frozen a few seconds after synchronize"
My SNES Mini stays frozen a few seconds after synchronize.
I am on hakchi2 v2.21d.

Anyone knows why?

This happened after i downloaded manually some HD box arts and dragged them to the name of the games. But for what i understood, hakchi2 automatically converts the box arts to a new resolution right?...

[2017-10-17 11:51] MotleyLou commented on #831
Both the computers I tried it on (both Windows 10) see my NES as a “media player” That’s the thing, I can never get it to go into FEL Mode. Also, not sure if the USB cable that came with it, is the stock version. I had another cable, but same results. I did just order (just in case it matters) a power supply and cable from Nintendo.

I thank you for replying, also, just in case I tried doing it of

[2017-10-17 11:52] AndreSanctus opened #846 "SNES Mini with only 224,1MB even after extra_space module installed"
Hakchi2 2.21d says my SNES Mini has only 224,1MB.
And this is after i installed the "extra_space" module... wasn't supposed to have 300MB total?

[2017-10-17 12:04] DefKorns commented on #842
@ClusterM here's my [NAND-C Dump](https://wetransfer.com/downloads/c97737726a440d3504616d9df5f64ea520171017120021/28fed8173a1fd3fdc45ac01fc6077feb20171017120021/c05db3)

[2017-10-17 12:29] ledste commented on #845
Maybe it's long process and the processor of mini SNES is not like a strong CPU.

[2017-10-17 12:33] AndreSanctus commented on #845
The freeze was more than 40 seconds. Anyway i made a full uninstall and installed again hakchi2.

[2017-10-17 12:39] ledste commented on #845
If the cover is heavy can be but never tried this. ciao.

[2017-10-17 12:44] Rustythesnowman commented on #839
I am also having the same issue working added games.
I have tried both hackchi 2.2.b and 2.2d with no joy. I have follwed vids on you tube but the games appear in the list but do not load when you click on them.

[2017-10-17 12:46] warlockv2 commented on #839
Why would you put your buisness signiture in your post lmao

On Oct 17, 2017 1:27 AM, "schaudhr" <notifications@github.com> wrote:

[2017-10-17 12:47] djritz0 commented on #798
@clusterM

NAND C dump sent to your email. Was a large file so sent as a link.

[2017-10-17 12:57] DanTheMan827 commented on #846
The extra_space mod moves your saves to the extra partition, if you don't have many saves, this won't save much space.

If you make heavy use of save states, I personally wouldn't use that mod since it can only hold around 24 of them, they take around 2MB each

[2017-10-17 14:08] NoeleyC opened #847 "Windows 10 Norton Antivirus issue"
While every version of hakchi2 I've installed on my laptop has proven tricky to run (as Norton scans it and declares it too new and with not enough registered users) I cannot install version 2.21d at all, Norton removes the hakchi exe file and also a language dll. I mark these for exception, but it keeps rescanning them. I didn't install 2.21c but 2.21b is still working OK on my laptop. Has anyone

[2017-10-17 14:20] NicholasB85 opened #848 "Black screen but sound"
After updating hakchi and adding a couple more games. my snes mini now only shows a black screen when connected to my tv. I have tried flashing back to the original kernal and that does not seen to help. The background music plays and when I shut off the console it says shutting down on the screen... anyone have any ideas on how to fix this issue? did I brick my console?

[2017-10-17 14:39] LoosGuccreen commented on #831
You shouldn't be able to disable the FEL mode, even by hacking it (or at least by hacking it using hakchi). That's something hard linked to how the AllWinner CPU works.

The two most probable issue I can see here is a deficient reset button (does it work as intended when you use the console normally?), or a deficient USB cable (I don't know if FEL mode asks for a certain amount of power or somethi

[2017-10-17 16:30] AndreSanctus commented on #846
After i uninstalled everything in my snes mini, i only flashed the custom hakchi2 kernel and i get only 238,3MB total space (with only the original games and without saves). I thought it was around 300MB...

[2017-10-17 17:19] DanTheMan827 commented on #846
The extra space provided with extra_space is only used for saves, hakchi cannot use that space for games with the mod.

[2017-10-17 17:32] NicholasB85 commented on #698
Thank you very much. My system became a brick during the latest update and flashing back to your stock kernal helped. Obviously I lost all my save states etc. but now my console is working again. I was stuck at just having a black screen before this. I think my stock kernal had became corrupt.

[2017-10-17 17:52] Darky2k1 commented on #848
Did you change the Firmware to a different country?

[2017-10-17 19:15] djritz0 commented on #848
I have this issue too. The picture will appear after about 30 seconds. It’s annoying but will still work

[2017-10-17 19:21] NicholasB85 commented on #848
I did not change the firmware to another country. I ended up searching through the threads till I found someone who had posted a stock version of their kernal. I flashed that and it worked again. I can only assume my kernal had become corrupt and when I flashed a custom kernal it was reading part of the original kernal. I have since added the custom kernal and retroarch. So far all the games that

[2017-10-17 22:13] Turom421 commented on #819
I use windows 10 64 bit and all versions of Hakchi work.

[2017-10-17 22:40] PushkaCom opened #850 "Password to reset to factory settings"
I'm not sure if it would be possible - but it would be great to hide the 'reset to factory settings' option in the snes settings, or password protect it - so someone/kids using the machine wouldn't accidentally wipe everything

[2017-10-17 22:43] PushkaCom commented on #813
I'm not sure what I was doing wrong - but I attempted to use hakchi/retroarch multiple times reading multiple guides and youtube videos - and either nothing happened and it was stock snes, or boot to C8 error - nothing working

This happened one time where I just added 1 snes game, retroarch and the snes module... I thought I was going crazy, how can 1 game cause a memory issue?

one thing I didn'

[2017-10-17 22:44] AndreSanctus commented on #693
I notice that Retroarch save states (inside Retroarch) takes space too. Where can i delete them? Didn't see an option there...

I noticed now the following:

I install a fba rom, i play it, i save state inside retroarch, i play more. If i try to load state in the same snes mini boot instance, the retroarch load state works (and the save logically occupies space).

The problem is, if i reboot the s

[2017-10-17 23:03] SassyFish256 opened #851 "Boulder Dash NES game not working on SNES Classic"
When I select the game, the screen goes black and it resets, but other NES games work fine.

[2017-10-17 23:04] Robo-1982 commented on #851
Tried latest version of retroarch?

[2017-10-17 23:55] #848 closed, assigned to nobody

[2017-10-18 01:15] SassyFish256 commented on #851
no, but for some reason, hakchi wont pick up my snes.

[2017-10-18 01:45] nimbylive opened #852 "failed to add "hmod""
I cannot add any of hmod files to hakchi.

Everything in hakchi works just fine for me. I have added many games and everything that should work(is compatible with the stock emulator) has worked flawlessly.

However, I cannot add any of the hmod's so that I cannot add retroarch. I have the files from this site and I have attempted to drag and drop them(as seen in more than 1 youtube vid), but I jus

[2017-10-18 02:04] kyleroberson commented on #828
My hero <3 This made my system perfect. Thank you for all of your help Dan (and Cluster obviously).

[2017-10-18 02:16] Drakonas commented on #693
@AndreSanctus what FBA core are you using? ClusterM's or KMFDManic's?

[2017-10-18 03:14] DanTheMan827 commented on #828
@kyleroberson

This works, but it can cause issues, there’s a zip file attached to pull request #841 that has a few files, I would use those instead of erasing the mod_repair_modules function

You can drop that etc folder into the `mods/mod_hakchi/hakchi/rootfs` folder on your pc while replacing the ones that already exist and then sync your games

If you use the web installer, I’m not sure where

[2017-10-18 03:50] Timedye opened #853 "Sound sync issue with SNES Classic custom kernel."
So I've got an odd issue and I can't seem to find an answer for it.

When I flash the custom kernel onto the system and test it out, everything is fine. However, the problem starts once I shut the console off. The next time I turn it back on, the sound is two to three seconds out of sync in both the system menus and in games. Turning it off and on again does not help, the sound remains two to thre

[2017-10-18 05:58] MotleyLou commented on #831
Loos,

Thank you very much for replying to my questions. I found out, my USB cables were to blame. I tried a third cable and had success. Thank you so much for helping out.

[2017-10-18 06:25] r3tro80 opened #854 "Preview for additional games too...!"
It's possible to add the preview for the added games too?

I mean the automatic preview with Mario showing the installed games, it works only for the original included roms but doesn't work for added games...

Originally how this feature works? Are movie clips or the Snes Mini starts the emulation and exit automatically after some minutes?

Thanks.

[2017-10-18 07:08] ArieKindicator commented on #852
I have some similar issues when adding or updating hmods. I can drag and drop hmods on hakchi2 (plus sign) but the hmods are not updated. and the date and time stamps of the files do not change.
Somehow, it seems that hakchi2 doesn't actually process/update the hmods files.

Q. I have 2 hakchi2 installs: 1) the web installer/updater and 2) the stand-alone directory (zip) version. Are there (known)

[2017-10-18 08:42] JustInsane360 opened #855 "Black screen with menu music...??!!"
Today, I downloaded the latest version 2.21d. I also added a couple extra cores to get some arcade games to play. Like a dummy, I forgot to set up the folders and had 175mb of arcade games checked and accidently synchronized the games...only the arcade games. I didn't wipe it before doing so either. Right now I have a black screen and the menu music plays in the background. I've tried to reflash w

[2017-10-18 10:17] gingerbeardman opened #856 "Add default cartridge icons for all supported rom types"
When you do not assign artwork to a game a default icon is used based on the console/rom type.

Currently, support for the following cores is included:

2600
32x
arcade
gb
gba
gbc
genesis
gg
n64
neogeo
nes
pce
sms
snes-eu-jp
snes-us

roms for platforms that are not on this list are displayed as an "app" (page with gear cog).

It would be good if all supported rom types could have a suitable cartri

[2017-10-18 10:34] sceptre2k3 opened #857 "Missing encoded character in desktop file causes C8 when navigating into folder"
Using Wordpad, this is what the .desktop file looks like for a setup that doesn't have issues (only the last line of the .desktop is relevant):
  Copyright=hakchi2 Â©2017 Alexey 'Cluster' Avdyukhin
There is a special/encoded character before the copyright.

Using Hakchi2 2.21d (the version that was available on Sunday Morning), I had added a game and edited the details of the game.  The .desktop g

[2017-10-18 11:49] Xavali opened #858 "You’re doing an awesome job."
Thank you very much for everything you’ve done for us. I know everyone just complains about what isn’t working correctly, but we all appreciate the effort you’ve gone to. I hope you keep the great work up. Thanks again for what you’re doing for everyone and good luck with the future

[2017-10-18 13:37] Shoothimnow commented on #858
I created an account just to say I laughed pretty hard at this.

"I know everyone just complains about what isn't working correctly..." - This isn't Reddit...  This is the **issues** section to remove bugs.  People are not complaining... they are helping Cluster improve his program so that it is easier to use.

[2017-10-18 14:02] JeffSeverino commented on #858
If you're really thankful, would be nice to donate to ClusterM for all his work instead of doing this. Even being for a good reason, posting things like this here kinda pollutes the issues board. Most people are asking about emulation and even where to find ROMS...

[2017-10-18 14:14] hoderer commented on #858
You're right. Writing is one thing, but "doing" is another. I just donated 20 bucks a few days ago and it feels good. It's nice to write something like this, but it's actually kinda 'not the right place'.

[2017-10-18 15:07] Vanadiy opened #859 "Can,t run NES ROM side SNES"
After running the installed game, a black screen appears and the game closes, only in ROM NES.
If you install ROM SNES then everything works fine. Is it possible to install NES games on the SNES?

[2017-10-18 15:08] AndreSanctus commented on #693
@Drakonas, I think it's ClusterM's v1. I didn't know there is another. If it's "better", where can i download it?

[2017-10-18 15:11] nimbylive commented on #852
The plot thickens. My Hakchi2 still does not appear to add hmod.

I was able to play Seiken Densetsu 3, and Terranigma today (I patched Terranigma with the NTSC patch and I am unsure if that solved the problem or not). Illusion of Gaia would not start (not surprising, but worth a look) and neither would tales of Phantasia.

The other odd piece was that although I cannot see any of the new cores in

[2017-10-18 15:13] Drakonas commented on #693
@AndreSanctus No, that's the one you want to use. What FBA rom are you attempting?

In all honesty I would make a separate issue for this. That is a different issue.

[2017-10-18 15:24] #859 closed, assigned to nobody

[2017-10-18 15:25] Vanadiy commented on #859
install RetroArch. sry.

[2017-10-18 15:28] AndreSanctus commented on #693
@Drakonas, i can open a new topic, but i think this issue is related, this is about the total snes mini storage. Every time we save an internal retroarch save state, if it remains there or not (after a snes mini restart) it takes snes mini storage anyway but we can't manage those save states (delete, take out). If we keep saving inside retroarch, in time, not even one game will fit in snes mini.

[2017-10-18 15:30] Drakonas commented on #693
@AndreSanctus This issue thread was not really an issue, but rather was people not properly updating their SNES Classics. Yours is an actual bug it seems, from the retroarch cores. That needs a separate issue. I don't think it will be noticed otherwise.

[2017-10-18 15:32] AndreSanctus commented on #693
@Drakonas , ok! I will start it. Thanks!

[2017-10-18 15:46] #693 closed, assigned to nobody

[2017-10-18 16:21] GenralTOW commented on #570
Update : It's very better now.

I close this issue ! :)

[2017-10-18 16:21] #570 closed, assigned to nobody

[2017-10-18 16:27] #858 closed, assigned to nobody

[2017-10-18 17:23] Gab-75 opened #860 ""extra space" module"
This is not a real issue, but a request for clarification... :)

The extra space module allows to use a portion of unused NAND space (about 50MB) to store the savestates, but I didn't understand well if also the "standard" free NAND memory may continue to be used to store the savestates (when the extra NAND space is full).., thanks in advance for answer/clarification! :)

[2017-10-18 17:34] Dabullfrog91 opened #861 "Memory Available keeps shrinking!"

[2017-10-18 17:37] #861 closed, assigned to nobody

[2017-10-18 17:39] Drakonas commented on #860
Please don't use this issue tracker for asking questions. This is meant for bugs/feature requests only. Go to the Nintendo Classics Discord for that. The extra_space module makes the 50MB partition the only storage for savestates.

[2017-10-18 17:40] Drakonas commented on #857
You are having problems probably because you are using Notepad/Wordpad to edit the desktop file. Windows notepad/wordpad isn't made to handle linux-based files. Use Notepad++ or Sublime Text instead.

[2017-10-18 17:45] Drakonas commented on #854
There are two forms of savestates you need to create, one is easy and covers most of the demos, and you just need to create a savestate for it to load for that, but it will not be a recording, rather it will just load from when you made the savestate, so during a cutscene/main menu would be good. This one is loaded when mario spin jumps on the savestate.

The second, when mario hits the game like

[2017-10-18 17:47] Drakonas commented on #852
Have you tried not using the web installer? Also you are dragging and dropping the entire retroarch_cores.zip that you get from the releases page for Retroarch cores, correct? And @ArieKindicator you need to use one or the other. Having them both on the computer does not conflict, but I imagine using them alternately will produce issues.

[2017-10-18 17:50] Drakonas commented on #847
Hint: Don't use Norton. Can't really help you there. The only thing you can do is to try to add it as an exception, which you've already tried.

[2017-10-18 17:51] DecanFrost commented on #846
Correct me if I'm wrong. But the extra space hmod essentially releases the reserved 50mb space in the main nand which was reserved for save states back to the games portion and will then move the save states to an unused portion dynamically as they are created ..  there is an different hmod that installs the games to that other partion untill its full and then continues to install to main nand. Th

[2017-10-18 17:52] Drakonas commented on #846
@AndreSanctus The SNES Mini has about 315MB of space, but 80 of it is used by the games already on the console, and they cannot be removed, only hidden. You're stuck with around 240MB or less I'm afraid.

[2017-10-18 17:56] DecanFrost commented on #846
It would make for a nice feature to remove them comoletly and add different games or even re-add those exact same games via roms . I gathered up those same games as roms added covers and let hakchi2 compress them and they take up half the space (41mb)
________________________________
From: 3rdN3rd <notifications@github.com>
Sent: October 18, 2017 1:52:20 PM
To: ClusterM/hakchi2
Cc: DecanFrost; Com

[2017-10-18 18:01] Drakonas commented on #846
Unfortunately, it's impossible. They are unable to be written to or be deleted. It's a limitation of the SNES Classic system. @DecanFrost You're stuck with the ~240MB.

[2017-10-18 18:08] Drakonas commented on #843
Please refrain from using the issue tracker for general questions. Use the Nintendo Classics discord for that. This is meant for bugs or feature requests only.

To answer your question, Star Ocean is 99.9% impossible. Street Fighter Alpha 2 was a rare case being able to be patched for Canoe, because it only used the custom chip it required for use with encrypting the graphics as some form of anti-

[2017-10-18 18:12] Drakonas commented on #825
I know this may be a given, but have you guys tried updating your bios's for Ryzen? There have been issues like these fixed in the past for Ryzen by a BIOS update.

[2017-10-18 18:14] Drakonas commented on #820
You DO realize that Game Genie is superior to Action Replay for the SNES, right? It lets you hack roms directly.

[2017-10-18 18:17] nimbylive commented on #852
The web installer did not install properly for me. I cannot remember if it was a permission or exception error, but an error message popped up when I attempted to run that installation. I have attempted to drag the zip file from the the website onto the open program window with no luck. It is very odd and I will work on it again tonight. Does the web installer version include the cores already pac

[2017-10-18 18:31] douglie007 commented on #852
I had to add them one by one and in the modular area active them.  I added retro arch first then each of the cores

[2017-10-18 18:38] Timedye commented on #853
To further elaborate: I've now tried flashing the system with multiple versions of hakchi, and the result is always the same: the custom kernel causes the sound to fall out of sync after rebooting the system, but restoring the original kernel always fixes it.

I just got my SNES Classic in the mail yesterday, so it's from a new batch of stock. I wonder if something in the kernel has changed someho

[2017-10-18 19:04] Drakonas commented on #852
@nimbylive I said to NOT use the web installer. I was assuming you were already using it. Where are you extracting Hakchi2 to? You need to be placing it into a folder in your user directory, not in the C drive root or program files.

[2017-10-18 19:11] Gab-75 commented on #860
Sorry for the "improper use" and thanks for the  answer/clarification!  :)

[2017-10-18 19:11] #860 closed, assigned to nobody

[2017-10-18 19:31] cleardragon commented on #840
Disconnect the hdmi from the snes mini and just connect it to the pc to upload roms

[2017-10-18 19:54] nimbylive commented on #852
Okay, well good to know on the web installer, it didn't work for me anyway. I believe that I have the program in the program files (I just dropped them there so they can easily be moved).

This thing is weird with what is working and what is not, but I will take advice from above and move the program to a better location. I installed the program on my pc here at work and was able to drag and drop

[2017-10-18 19:57] MIKEB6 opened #862 "SHELL COMMAND ERROR"
Hello

I keep getting the shell command error on 2.21d. Not sure what else to do i deleted version and reinstalled. But still keep getting shell command error trying to hack snes

[2017-10-18 20:06] Drakonas commented on #852
@nimbylive I would move the dump folder over and personally re-extract hakchi. The permissions of everything including the games_snes folder are probably fucked in the program files hackchi folder now. The dump folder doesn't matter though (it normally just has your OG kernel file) You never want to extract things that don't have an installer to program files. Windows Vista and newer cause problem

[2017-10-18 20:07] MIKEB6 commented on #862
I was able to use 2.20 but has problems with c7 errors. Just wanted to get latest version to work thank you

[2017-10-18 20:11] MIKEB6 commented on #862
i did see this repsonse on a closed issue

but dont have original nes hakchi on my pc?

any other suggestions?

thank you

**"Ok I came up with a fix.

Not sure what the cause is but here it is.

So I had my original NES classic Hakchi folder and the snes was in the same directory when I downloaded this new build. To fix this issue download the build and install it separate in another directory an

[2017-10-18 20:31] burgerrob opened #863 "Rival Turf"
Has anyone managed to get this working ? i dont see it on the list of problem games.

When i try to run this game it just freezes then when i hit the reset button it pops up an error screen.. any suggestions ?

[2017-10-18 20:49] Drakonas commented on #863
Then why don't you submit an entry to the list, instead of making a useless issue request that is not an issue request? This is for bugs/feature requests only. Ask on the Nintendo Classics discord if you have a question please.

[2017-10-18 20:55] Drakonas commented on #799
You never want to put those files in program files, or you will have problems. Instead you should be downloading the hakchi2.zip (not the web installer) and extract it somewhere in your user directory, like Downloads. You can move the dump and games_snes folder from the appdata folder into the extracted hakchi2 folder after you do that.

[2017-10-18 20:56] Drakonas commented on #791
Can you clarify what you mean by this? What you are saying makes no sense.

[2017-10-18 20:56] Drakonas commented on #789
Satellaview games will probably never launch through Canoe.

[2017-10-18 20:58] Drakonas commented on #786
@Ferkner Cluster was saying to uninstall hakchi, update your hakchi program using the instructions in the FAQ on the wiki page here, and then reflash the custom kernel with the new version and then install your mods again.

[2017-10-18 21:11] Ferkner commented on #786
I ended up doing that in the end, and it didn't really help. I'm chalking up the delay tri the fact that i loaded a lot of games and that it's a mini computer that doesn't work instantly like a console.

[2017-10-18 21:12] Drakonas commented on #786
If you have more than 30 games in a folder that is probably your issue. You need to separate the games into different folders. It helps.

[2017-10-18 21:13] felipe2345rr opened #864 "problem from the message: Access to the path "music.wav" is denied"
i tried to change the music of the nes mini and didnt work so i tried to put the original music.wav,so later i tried to put super mario land 3 but in the start of the process it says Access to the path "music.wav" is denied everytime, i was so dumb to deinstall hakchi2 that i delete the original kernel ._. .... so i install the portable version make another copy of my kernel but it give me the sam

[2017-10-18 21:16] Ferkner commented on #786
It might help but it looks like crap and is annoying to navigate. Maybe I'll make custom folders for genres and add folder icons.

[2017-10-18 21:17] Drakonas commented on #786
That's what I do. :) You'll want to have more than 12 games per folder or the scrolling will be screwy.

[2017-10-18 22:24] felipe2345rr commented on #864
and sorry for bad english

[2017-10-19 00:00] Redghost22 opened #865 "sync issue"
Hi,
 i try to sync the snes with the lastest version of hakchi.
I push the button reset then the power one. I wait until my computer recognize the snes. The light will show up (so i stop) and if I wait more the light don't show but the consol disconnect, connect and after i have a USB error.

Can you help me thanks

[2017-10-19 00:37] SassyFish256 commented on #851
I installed the latest version, but it still doesn't work.

[2017-10-19 02:06] electrocret commented on #851
Have you tried a different distribution of the ROM? I know the NES emulator doesn't like No-Intro Roms. https://github.com/ClusterM/retroarch-clover/issues/103

[2017-10-19 02:51] tlayne commented on #271
Mirthfulman, I could kiss you.

[2017-10-19 03:09] rhester72 opened #866 "Issuing "exit" at telnet shell prompt crashes Hakchi2"
If you enable telnet and connect, as soon as you issue an "exit" command at the telnet CLI prompt, the session will disconnect and immediately after the Hakchi2 binary will crash.  Using stand-alone Hakchi2, 100% reproducible with every build.

[2017-10-19 04:33] djritz0 commented on #855
Picture will come on after about 30 secs.

[2017-10-19 04:38] JustInsane360 commented on #855
I left it on for about 10 min last night while I tried to figure out a fix. I'm not 100% familiar with the nand files, but I did see some people were able to add the whole SNES mini interface to the NES classic by dumping the nand onto it. Anyway to just replace the one on the SNES?

[2017-10-19 05:05] juanlin commented on #866
Happening to me as well on portable 2.21d (2.0.21.56), connecting with telnet (Windows 10) or putty. It happens whenever:
(a) I enter 'exit' in telnet
(b) Ctrl-C out of the username login prompt

But does not happen if I hit the X to close the telnet window.

It does not happen with the debug build of 2.21d (2.0.21.56).

[2017-10-19 05:25] MIKEB6 commented on #862
installed with web installer works now

[2017-10-19 05:25] #862 closed, assigned to nobody

[2017-10-19 07:28] VAsHachiRoku opened #867 "Access to Path ".\..\busybox" is denied"
When trying to run the first synchronization requires updating the kernel. Followed all the steps and after the kernel dump, the next step it fails with this error below.

C:\User\me\AppData\Local\Temp\hakchi-temp\kernel\initramfs\bin\busybox' is denied.

Windows 10 Pro 1709 x64
Windows Defender for AV
RunAs Adminstartor on hakchi2

When I browse the path to look at the busybox properties and clic

[2017-10-19 07:57] rovervt opened #868 "Problem when shutting down console"
Hello,
when I shut down the console, always show a C8 error, and i can only shutdown turning on and turning off one more time. How can I fix it?

[2017-10-19 07:58] r3tro80 commented on #854
@Drakonas It's the second on i'm interested for... Have you an idea of where this file is located for original games?

[2017-10-19 08:44] ArieKindicator commented on #868
Try to remove the last added games, they might be the problem. You might have disconnected your device too early after coping games to the device and some files/games might be corrupted.

1. remove the added games and check for C8 error
2. add the removed games again and check if the C8 error returns.

[2017-10-19 08:45] rovervt commented on #868
Ok, i'll try it. Thank you very much!

[2017-10-19 09:00] cruxan commented on #868
It could be because you have to many games without folders.

On 19 Oct 2017 09:57, "robertocastroserantes" <notifications@github.com>
wrote:

[2017-10-19 09:03] rovervt commented on #868
Yes, i have 103 games, so I will try to divide it into folders with Hakchi and I'll tell you.
Thank you very much!

[2017-10-19 09:23] Poulpi06 commented on #819
@DanTheMan827 : ok, but i don't need .net install, but hacki need it.

@maskedmaniac : thanks, i will try this. 3 comments, and just one good answer, thanks . Regards

@Turom421 : thanks, that's help me a lot.

[2017-10-19 09:23] #819 closed, assigned to nobody

[2017-10-19 09:50] MrPokemon270588 opened #869 "SNES mini rebooting after loading state of SEGA rom"
Hello. Can somebody tell me if there is a difference between running SEGA game with adding "--retroarch" line and without it. The point is i was trying to play Earthworm Jim 2 sega version (because snes version lacks some sound effects on snes mini emulator) and installed retroarch for it. Then i added --retroarch line (don't ask why). So i've played it a couple of minutes and when i tried to save

[2017-10-19 11:40] Scanlineman opened #870 "Scanlines for 4:3 mode please"
I would like to implement scanlines without changing anything else. The older global command line "-filter 2" no longer works since updating to the new Hakchi.

The new options are:
--smooth43 - enable bilinear filter in 4:3 mode:
--no-scanlines - disable scanlines in CRT mode
--no-smooth - disable bilinear filter in CRT mode

None of these options actually allow me to enable scanlines in other fi

[2017-10-19 12:11] Gab-75 commented on #870
If I'm not wrong, the aspect ratio of CRT mode should be 4:3, so if you use the command line "--no-smooth" the resulting CRT mode should be a 4:3 mode with scanlines...

PS: obviously the problem is if you want to keep the original CRT mode and plus add a 4:3 scanlines mode.

[2017-10-19 12:26] DecanFrost commented on #868
I reloaded with 2.21d on both my systems and I get c8 on shutdown I put 2.21c back on with same games and c8 error gone

[2017-10-19 12:43] Scanlineman commented on #870
Your suggestion defeats the point of what I'm asking.

I want one mode that has scanlines and the filter (like the CRT is normally), and I would like a second mode with just 4:3 ratio and scanlines. So basically the 4:3 mode but with scanlines added to it.

I want these modes side by side, so I can switch between them when playing a Mode 7 game or a normal game.

Previously this was achieved with

[2017-10-19 13:09] Georges8 opened #871 "Hakchi: Keeping my games when using 2 different PC"
Hello everyone,

I've installed hakchi 4 days ago with a friend's PC, now I've got parallels running on my personal mac, I'm glad for that but I'm lost with all kernel options. I kept my original kernel dump somewhere... My question is: how do I keep my modified snes with all games added, folders, since I didn't kept my hakchi settings (i erased all on my friend's pc). I wonder what option (flash

[2017-10-19 13:31] Scanlineman commented on #871
Your library is stored here:
hakchi2\games_snes

I zipped my folder up and put it aside as a back up in case I lost it. You could zip your folder then just move it to your other computer.

[2017-10-19 14:06] Georges8 commented on #871
I should have done that, copying this /games_snes folder on a usb stick, I didn't.
Is there a way hakchi2 can adapt, restructure folders from what my snes has inside?
At least recognize and show content? I'm afraid, as I don't really understand kernel options, to erase all... Thank you Scanlineman

[2017-10-19 15:55] nimbylive commented on #852
I still do not know why my pc won't allow me to add these(not a problem of this program), but I tried the procedure on a different pc and it worked perfectly. Thanks to everyone for the help.

[2017-10-19 15:56] #852 closed, assigned to nobody

[2017-10-19 16:35] nonnoUmby opened #872 "Snes Mini Original 21 Games C8 error"
Hello!
Recently I tried to add a few new games to my European SNES Mini. I already did it without problems back when Version 2.20 came out. But after I added a couple other games, the console took a lot longer than usual to show on the TV, and when it did the original 21 games had broken covers, and when I tried to load them I was greated with a C8 error message. The 18 games I added (for a total

[2017-10-19 17:06] scramble45 commented on #542
Same issue on: v2.21d (internal version 2.0.21.56) - tried 3x cables 3x computers win7-win10. I just want to dump the factory NAND.

[2017-10-19 17:17] DecanFrost commented on #872
Change your folder setting to hold more thsn 30 titles. If you got 31 games set it to 40 or 50

[2017-10-19 18:47] gromber opened #873 "[REQUEST] Driver for Windows, to use Snes Mini´s gamepad when its conected to PC"
I love this gamepad, and i think this could be a great idea without buying a mayflash adapter, in hakchi2 an option that make a gamepad available on windows pc, in xinput, to use with emulators and pc games.

[2017-10-19 19:09] Georges8 commented on #871
Finally, I chose "synchronize with snes mini" and lost my installed games, but I started rebuilding my collection and it'll not take long, thanks

[2017-10-19 19:09] #871 closed, assigned to nobody

[2017-10-19 20:02] nonnoUmby commented on #872
I already tried that (set it to 40, being 39 games), but still nothing...

[2017-10-19 20:26] seannbastard commented on #609
which windows emulator did you use?

[2017-10-19 20:50] tonyrayo commented on #873
If I understand this request correctly, I believe that it is outside the scope of this project.  There are however existing projects to interpret Nintendo's controllers as xinput devices ([this project](http://www.wiinupro.com/home) for example supports the Wii U Pro Controller, Wiimote + extension [which I believe the SNES Classic would fall under as it uses the same interface], Joycons and more)

[2017-10-19 20:59] gromber commented on #873
i only want to use original gamepad with snes classic mini, without buying anything more on pc.
hakchi runs on snes mini when you add games, save manager... on hackhi2, why not when you activate a pc gamepad mode.

only an idea, i dont know the difficult.

[2017-10-19 21:35] Timedye commented on #853
I seem to have worked out the issue on my own, so I'll post the solution just in case anyone else ends up having this problem.

The problem was caused by one of two issues -- or perhaps a combination of both -- and that was the extension USB cable I was using to run the SNES Classic to the back of my PC, or the USB port that the extension cable was connect to.

I ended up having to spin the comput

[2017-10-19 23:14] rovervt commented on #868
Finally, i've found the solution. The error only appears if you are in the game list. If you start a game or if you are into a game, and you shut down the console, it shuts down perfectly. If someone has also this problem, this could be the solution, at least right now.

[2017-10-19 23:35] poke2222 opened #874 "C4 error for statesaves"
It won't let me use the state save function anymore. Everything still runs the original games and added games. No C4 error on shutdown also so help?

[2017-10-20 02:11] drbourbon commented on #609
parallels

[2017-10-20 02:52] Drakonas commented on #874
Do you have ample enough space left for the savestates? If you installed the extra_space mod you are limited to 50MB for savestates.

[2017-10-20 02:53] Drakonas commented on #873
This isn't something software can do. You need a hardware adapter for this like Mayflash. The SNES classic doesn't send inputs through the cord, and even if it did, the lag would be insanely horrible, too horrible to play with.

[2017-10-20 03:00] Drakonas commented on #869
First of all SEGA games can't use --retroarch, that is only for SNES games using ClusterM's core. You need to add the mega drive/genesis game to hakchi and keep the line as default, as well as make sure you have installed the genesis_plus_gx core from the retroarch cores releases (as well as the retroarch hmod itself). If the command line has anything but "/bin/clover-**_canoe_**-shvc-wr" at the b

[2017-10-20 03:20] poke2222 commented on #874
Yeah, I just figured that out thanks for the help.

[2017-10-20 03:20] #874 closed, assigned to nobody

[2017-10-20 04:45] Drakonas commented on #872
What platform were these games you added from? @nonnoUmby

[2017-10-20 04:47] Drakonas commented on #868
The solution: Don't install so many games. SNES Classic does not like a lot of games. 80-90 should be a recommended maximum.

[2017-10-20 04:49] Drakonas commented on #865
You are supposed to disconnect the cable if you already connected it, then hold the reset button WHILE pressing power and keep holding reset until Hakchi picks up the signal, and then LET GO of reset but keep power on. Then wait until flashing is over and the light turns off.

[2017-10-20 04:52] Drakonas commented on #867
Yes, because the program files folder is not a good place for a program data like hakchi's data files, or else file writing errors will occur more often. (Windows 7+ locks down writes to the Program Files folder, and programs with advanced drivers do not like this) Thus only the program is stored there. However, as much as ClusterM recommends the web installer, the zipped version works best from o

[2017-10-20 04:55] Drakonas commented on #864
If you have deleted your original kernel, dumping the kernel will dump it in a non-original state. You need to search the internet for an untouched original kernel for your region SNES Classic. That's why we always stress to keep your Original kernel. Keep backups next time. We can't provide a link to one here, so don't ask.

[2017-10-20 04:59] Drakonas commented on #864
And no worries on the bad English. :-) I understood ok.

[2017-10-20 05:57] nonnoUmby commented on #872
They are all SNES games, in the American and Japanese format (NTSC) @Drakonas

[2017-10-20 06:13] MrPokemon270588 commented on #869
Thank you for your reply. So the embarrassing fact that I added --retroarch could result rebooting device even when playing **not** sega games, even after JIM 2 deleted? Or it is just coincidence and there is some power problem?

[2017-10-20 06:30] BillyDanzini500 commented on #584
This is What I Get.. "No Answer From Device" Please HELP

![no answer](https://user-images.githubusercontent.com/26205546/31807863-7ea965c2-b53e-11e7-9b00-fdcc56f82027.jpg)

[2017-10-20 06:57] rovervt commented on #868
Ok, this is a good advice. And I can delete 15 games without problem. I will test and I tell you. Thank you to everyone!

[2017-10-20 09:08] Solaski opened #875 "Problem: Hakchi does not have my modules"
I left them in the proper folder and the proper place but they aren't popping up. Why? I need the modules to run some emulators.

[2017-10-20 09:16] 03bgood opened #876 "Error: Config exit mode"
When I tried to add more games, it came up with a weird error, right at the end. What do I do? It says: shell command and a bunch of text, something "temp inti script error", and something about return exit mode. No matter what I do, this fucking error keeps popping up!

[2017-10-20 09:16] gixernaz commented on #872
1. Backup your save states and back it up twice (encountered a corrupted save state with Super Mario Kart) in two different folders, save it somewhere safe:
- Open hakchi2 > Tools > Save-State Manager
2. Uninstall the custom kernel:
- Open hakchi2 > Kernel > Uninstall
to restore your original flash.
3. Once your SNES Mini has reverted back to it's original kernel, boot it up and Format/Reset your

[2017-10-20 09:56] #876 closed, assigned to nobody

[2017-10-20 10:06] 03bgood opened #877 "Getting weird error after adding new games"
When I add the new games to my SNES Classic, it comes up with some weird error. It's a shell command error. There was also a glitch that caused games like DKC3 and Final Fight 3 to not show the "3" in the title so it said "Donkey Kong Country        : Dixie Kong's Double Trouble!" and "Final Fight   ". This damn thing is so buggy. Somebody please fix this with a new update! Where the hell is 2.22,

[2017-10-20 10:33] 03bgood commented on #877
I got the # thing fixed. I accidently disabled "Use extended font".

[2017-10-20 11:17] #877 closed, assigned to nobody

[2017-10-20 12:05] ClusterM commented on #872
Try to reinstall custom kernel.

[2017-10-20 12:06] ClusterM commented on #875
Describe what exactly have you done.

[2017-10-20 12:07] ClusterM commented on #873
It will be laggy. It's better to build adapter to connect contoller directly to USB, it's pretty simple.

[2017-10-20 13:00] codex785 opened #878 "[Hakchi2 GUI] Text issue French version"
![text issue](https://user-images.githubusercontent.com/32591366/31821977-3ef1447c-b5a7-11e7-8155-6053aaade017.jpg)

If only the line was long enough!!

[2017-10-20 13:07] jdpgrailsdev opened #879 "2.21e fails to start after using web installer"
After attempting to upgrade from 2.21d to 2.21e via the web installer, a prompt appears indicating that the application failed to start.  Clicking on details reveals the following information:

[code]

I am running Windows 10 64-bit (VirtualBox VM).  All previous versions launched after using the web installer.  I am going to attempt to use the other distributions to see if I can get them to start

[2017-10-20 13:10] codex785 commented on #791
Hi,
I mean some games are not working properly when converted to .sfrom
Some people want to leave their games not to be patched (ips patching or NTSC/PAL)
Some people do not want to use CANOE
Some people also want to "backup" their games
then it'll be cool if the game you drag and drop in the Hakchi GUI, it makes a copy of the game you are adding, as a "backup" in a dedicated folder.
And then, it'

[2017-10-20 13:12] 77920 commented on #704
Had to use the debug copy for it to work.

[2017-10-20 13:13] jdpgrailsdev commented on #879
Downloading the 2.21e distribution zip and launching the application from it works.  I was also able to successfully revert the application back to 2.21d via the uninstaller and that launches as well.

[2017-10-20 13:14] gromber commented on #873
oohh too bad, so maybe i should buy a adapter or a 8bitdo, i love this gamepad :)

[2017-10-20 14:28] Cameron1391 opened #880 "Kernel not dumping / waiting for device"
I have hackchi 2 set up to my SNES classic mini , the games are all on the program but I can't synchronize them on the system.
when i go to "Sync selected games" I follow the steps but then when I go to "Install drivers" it sits there and does nothing. The black loading screen comes up and nothing happens. I can't get the games to sync on the system although i'm doing everything right. What is goi

[2017-10-20 14:48] Georges8 commented on #880
Hi,
In the black loading screen you must press enter once, I think.
Could be something else, but...

[2017-10-20 14:50] thesk8rguitarist opened #881 "[NESC] Unable to flash custom Kernel: MD5 + Invalid Kernel Size"
I have dumped original kernel and tried flashing custom only to constantly receive the checksum error which reads:
"Kernel dumped but the MD5 checksum in unknown: a5b24e0081a50f3b693be6f220bb7971 Do you want to continue?"
I hit yes, then receive the error "Invalid kernel size 455680"

I've been running in loops all morning. What am I doing wrong?

[2017-10-20 15:03] Cameron1391 commented on #584
Have the same problem here. Driving me nuts

[2017-10-20 15:14] DanyMode8 opened #882 "ClusterM Hakchi 2.21e LAST VERSION?"
Hi ClusterM, i will hope to know when you going to release other version or if this is an definitive edition, to play my games normally, beacause im bored to delete all my save states every time when i change the version.  This version of hakchi is very stable? or wait to other version to play all my games normally and don´t change anymore?
Hope you can answer me please, and Congrat for your Job y

[2017-10-20 15:21] DanyMode8 commented on #880
you dumped the original kernel? and after that flash custom kernel? (and hold reset buttom and power the snes without release the reset until you listen the USB sound)

[2017-10-20 15:35] hoderer commented on #882
Why don't you export your save states before updating with the save state manager (TOOLS --> SAVE STATE MANAGER) and import them when you got the new version running...!?

[2017-10-20 15:42] Drakonas commented on #791
Backups sound neat and all, but you should be keeping backups anyway. Also, Hakchi needs to NTSC patch the roms because the SNES Classic, regardless of what region you're in (Europe included), only works with NTSC. You'll get a crash otherwise.

You don't have to use canoe if you don't want to. Retroarch is the alternative and works with sfroms just fine. So I'm not sure why you are asking for thi

[2017-10-20 15:44] Cameron1391 commented on #880
I do press enter at the black screen. Nothing happens.
I do follow instructions and hold reset and power button next then release and hear the USB sound but still nothing and hackchi2 doesn't seem to pick up the system

[2017-10-20 15:52] codex785 commented on #791
It's matter of letting people manage their roms the way they want!
I'm not sure why you are asking this. Don't you think people should have the ability to manage things on their own?

[2017-10-20 16:22] BillyDanzini500 commented on #584
I figured it out. Before you flash the system and click yes hold the reset up and power button on (like when you put it in developer mode), then click yes when it asks you “do you want to flash the system”. For some reason you have to put it in developed mode before it prompts you to put it in developer mode. Now my system is working again.

Sent from my iPhone

[2017-10-20 16:53] BillyDanzini500 commented on #202
I use “parallels desktop” and “windows xp” now I can use hackchi on my Mac. Make sure to use the right “zadig” for your system to find your Nes/snes

[2017-10-20 17:17] djritz0 opened #883 "Blank screen with sound for about 10 seconds"
2.21e

Turning on the unit you can hear music for about 10 seconds before the picture comes in. Works ok, just annoying to have it not come on at the same time.

[2017-10-20 17:26] gromber opened #884 "Open game folder"
right click, open game folder, if you want to manualy patch the rom or change with other, etc

[2017-10-20 18:06] risus-sardonicus commented on #517
I found an awkward but simple solution.
I'm using a Ryzen 1600X with a ASUS Prime B350M-A mainboard and the error kept persisting.
It seems to be related to an unusual USB circuit on the motherboard or driver issue although I never had any problems before.
I thought how about using a USB-3.0 hub and you know what? It works!!!
I use a UGREEN 4port USB3.0 hub 20291 which I bought some time ago on Am

[2017-10-20 18:07] risus-sardonicus commented on #728
I found an awkward but simple solution.
I'm using a Ryzen 1600X with a ASUS Prime B350M-A mainboard and the error kept persisting.
It seems to be related to an unusual USB circuit on the motherboard or driver issue although I never had any problems before.
I thought how about using a USB-3.0 hub and you know what? It works!!!
I use a UGREEN 4port USB3.0 hub 20291 which I bought some time ago on Am

[2017-10-20 18:16] djritz0 commented on #883
Figured it out. Had to do with Retroarch not being in a folder from the main screen. Fixed. Boots as normal. Only issue now, that happens with every build, is soft resetting to main screen in game after a few plays. Usually starts to do a black screen loop for about a minute or so then enters main screen again. Unit is usually quite warm at this point. Not sure if this is the reason it starts to c

[2017-10-20 19:18] kaleneet opened #885 "NES | hakchi2 v2.21e (2.0.21.60) | mkdir error"
Hi, I'm trying to sync my games, the custom kernel installs perfectly, however I get this error when I try to sync my games:

[code]

![mkdir error](https://user-images.githubusercontent.com/32710318/31838195-ee0db402-b5db-11e7-9593-5df89a0f6799.jpg)

[2017-10-20 19:25] ArieKindicator commented on #881
I had this too, you have to restore the original kernel and start over.
To 'fix' the checksum error I uninstalled all extra modules (that were not installed, obviously), a complete uninstall, and a factory reset (in the options menu). Then I flashed the original kernel back on the device.

But first, you could try to do a factory reset only, and then reflash the custom kernel. As factory reset mig

[2017-10-20 19:32] ArieKindicator commented on #873
Buy a SNES USB-controller on AliExpress for less than $3. I have one and it is of good quality.

[2017-10-20 19:41] Shoothimnow commented on #873
From what it sounds like, you want to instead of doing

SNES Controller -> SNES to USB Adapter -> Computer -> Emulator

you want to

SNES Mini Controller -> SNES Classic -> USB To PC -> **Read Controller as USB** -> Emulator

It doesn't... really.... work that... way =\

[2017-10-20 19:51] LPXIII commented on #880
I Have exactly the same issues. I try different computer, différent UsB cable,  different UsB port but Just nothing happen. I install the driver many times and I follow the instructions but nothing. So I can't dumb the Kernel, I cant flash the Kernel.
Thk for a solution.

[2017-10-20 20:14] Timedye commented on #853
So it turns out the issue is not fixed: after booting the SNES Classic up this morning, the sound delay his re-manifested out of the blue. Really at my wits end with this, particularly since I've put a lot of time into Super Metroid now and if I have to flash back to the original kernel again, I'm going to lose my gameplay. :(

[2017-10-20 21:49] ajmi982 commented on #637
any update on this? thank you

[2017-10-20 23:13] bigjobbyx opened #886 "paypal"
the paypal donation button doesn't function as expected on your website. I am in the UK if this helps

[2017-10-20 23:36] DefKorns commented on #885
@kaleneet  i had the same proble with the previous version.

 But i managed to "fixit".

-  flash custom kernel
- installed retroarch (optional)
- telnet to NESCE
`# cd /var/lib/hakchi/rootfs/usr/share/games/nes/`
`#mv kachikachi kachikachibackup`
- added a test game and it worked
- removed original games (worked)
- add the rest of the games (also worked)

[2017-10-21 03:26] TheLegendofChaz opened #887 "Certain IPS rom hacks not playing properly"
I tried playing an ips patched rom hack of Super Metroid on the SNES Classic called Retroid which is basically a Metroid remake with the SNES engine. https://www.romhacking.net/hacks/3234/ I went through the trouble of making mock box art for the game and everything
![metroid](https://user-images.githubusercontent.com/28716143/31847634-85b1b8d8-b5ed-11e7-8838-41df0ba66b56.png)

I was so sad when t

[2017-10-21 04:34] juanlin commented on #887
https://github.com/ClusterM/retroarch-clover

[2017-10-21 09:41] Georges8 commented on #880
With a virtual pc running on my mac(parallels), hakchi didn't allow "sync games" untill I pluged the mac, didn't work running on battery, without any message to tell me so, I had to check the forum here. Just in case...

[2017-10-21 11:21] spotanjo3 commented on #202
Meaning zadig ? No idea. I understand about parallels and windows.. We are talking about wineskin problem.

[2017-10-21 11:38] BillyDanzini500 commented on #202
I tried using wineskin and I couldn’t figure it out so I used parallels desktop and it was a lot easier for me. Zadig is a separate program that helps you find your drivers

[2017-10-21 11:52] Cameron1391 commented on #880
PC is plugged in to the charger

On Sat, Oct 21, 2017 at 8:41 PM, Georges8 <notifications@github.com> wrote:

[2017-10-21 11:55] spotanjo3 commented on #202
Yeah, I tried with Wineskin for NES hackchi2 and it works before they created NES and SNES for newer hackchi2. Now, a newer version of hackchi2 doesnt work with wineskin for both NES and SNES.. That's strange.

Oh, I thought Hackchi2.exe can be use in Mac with Parallels and Windows without using Zadig.  I am confused.

[2017-10-21 12:40] BillyDanzini500 commented on #202
You do not need zadig for hackchi2. You only need zadig to help find the drivers for Nes/snes if parallels can not find the drivers automatically. After your drivers are connected to your Nes/snes then hackci2 will recognize your Nes/snes is present

[2017-10-21 12:42] hoderer commented on #868
I don't know if that's true. I have 707 (!) games incl. compressed cover artwork (thanks Pngyu), custom backgrounds and custom icons installed for the following systems:

Atari 2600, C64, NES, Sega Master System, PC Engine, Gameboy, Sega Mega Drive, Super Nintendo, Nintendo 64, Gameboy Color and Gameboy Advance

I have up to 200 roms in one folder. The shutdown-error occurs only 2 out of 10 times

[2017-10-21 13:15] nonnoUmby commented on #872
Thanks @gixernaz , by following your greatly detailed guide I was able to restore all the games and save datas! Also Thank you to everyone who responed!

[2017-10-21 13:15] #872 closed, assigned to nobody

[2017-10-21 13:41] jdpgrailsdev commented on #879
I am going to close this issue, as I re-attempted to install using the 2.21e web installer and the application launches after the second attempt.  Not sure what went wrong during the first one, but it appears to be fixed after deleting the downloaded web installer binary and re-attempting.

[2017-10-21 13:41] #879 closed, assigned to nobody

[2017-10-21 14:05] dav333 commented on #436
I have the same Kernel dump error as many on my US SNES.

 I was using 2.21d and would get the following message when flashing the custom kernel:

Kernel dumped but the MD5 checksum is unknown:  5be67f86fb0b0aaa275cd730d8b40a91

 I upgraded to 2.21e and when flashing the custom kernel I got the following:

Kernel dumped but the MD5 checksum is unknown: ea5d1d9061bcc7d0c42374eca76eb611

I continued

[2017-10-21 14:34] bonxraw commented on #886
Q: How can I donate to you?
A: My PayPal: clusterrr@clusterrr.com
And thank you! This really helps me a lot. I have many ideas in my head but I have not so much time because I'm busy with commercial projects. Remember that it's just hobby for me, I'm doing it for fun :)

[2017-10-21 14:37] ArieKindicator commented on #235
Instead of deleting a game from the device hakchi should offer the choice to 1) delete them, 2) store/back-up them to a seperate folder (i.e. games_favorites or games_history).

[2017-10-21 14:49] TheLegendofChaz commented on #887
It seems to be more of an issue with the rom hack being incompatible with the SNES mini hack in general. I even tried playing it with retroarch and it booted, but still got the same result.

[2017-10-21 14:59] kaleneet commented on #885
@DefKorns the solution worked! Thanks!

[2017-10-21 17:18] djritz0 opened #892 "Randomly crashes"
This is an ongoing issue. It randomly crashes to the main screen during gameplay. But before it gets to the main menu, it goes thru some sort of loop where it tries to restart. Eventually gets to main menu, but after a couple minutes. This also happens when you try to soft reset. I've asked about this issues a few times. Is there a resolution @clusterm ?

[2017-10-21 17:28] Drakonas commented on #869
--retroarch is only for the retroarch snes core. It doesn't work for other platforms.  If you change the command and resync it should be fine.

[2017-10-21 17:29] DaniilSokolyuk commented on #271
Confirmed, with macbook and parallels need power plugged, else you get error:)

[2017-10-21 17:32] spotanjo3 commented on #202
Thank you. I google it and I got this zadig at: http://zadig.akeo.ie

Is that one ?

[2017-10-21 18:07] BillyDanzini500 commented on #202
Yes that is the newest version. Here are more version for different windows systems..
http://zadig.akeo.ie/downloads/

[2017-10-21 18:16] MikeBpro opened #893 "Power LED open in fel mode while dumping kernel."
Hello, when I try to dump the kernel my power led open even in fel mode and then I get this message '' no answer from device ''

[2017-10-21 18:17] MikeBpro commented on #893
Forgot to mention, It's a SNES classic.

[2017-10-21 18:33] bigjobbyx commented on #886
made a donation. Thanks for your hard work

[2017-10-21 18:33] #886 closed, assigned to nobody

[2017-10-21 18:36] Gab-75 commented on #893
Did you try to use a different USB cable and/or a different PC USB socket?

[2017-10-21 18:37] sathdor commented on #873
I just made up my adapter a couple days ago, following this tutorial:
[http://www.instructables.com/id/Teensy-USB-Wii-Classic-Controller/](http://www.instructables.com/id/Teensy-USB-Wii-Classic-Controller/)
You can also buy a premade adaptor like this:
[http://www.mayflash.com/Products/PCUSB/PC052.html](http://www.mayflash.com/Products/PCUSB/PC052.html)

Btw, 8bitdo sfc30/snes30 is a great device,

[2017-10-21 19:02] MikeBpro commented on #893
Done both, problem is still there..

[2017-10-21 20:41] gromber commented on #863
no problem with this game.

[2017-10-21 21:10] Gab-75 commented on #893
Maybe is an useless question... did you install "nesmini_driver" ?

[2017-10-21 21:42] thesk8rguitarist commented on #881
Well I just followed all those steps to the "T". Once back to factory, I held reset and pushed power, then clicked "Flash Custom Kernel" and get the exact same results.

Any ideas to progress?

[2017-10-21 22:09] thesk8rguitarist commented on #881
Ok I finally got the custom kernel loaded. I had to go back and use Hakchi 2.17d. Flashing the kernel there worked the first time with no issues. So there's something possibly wonky with 2.21

[2017-10-21 22:22] Bumblecito commented on #668
Well I've been testing all week and only had one reboot.
Tried with Mario Kart with retroarch 1.0 and hakchi 2.21d

[2017-10-22 00:19] MikeBpro commented on #893
I installed it with Zadig to be sure, seems installed correctly, my power led still turn on everytime I start to dump kernel

[2017-10-22 00:39] SassyFish256 commented on #851
i reflashed the custom kernel using 2.21e and it works now.

[2017-10-22 00:39] #851 closed, assigned to nobody

[2017-10-22 00:51] Gevander commented on #893
I am having the same exact issue, not sure what is happening but my power led  also comes on during kernel dump

[2017-10-22 00:52] Pandahboy opened #894 "ROMs keep getting wiped from hdd"
This is the second time this has happened to me and it is very frustrating. The first time I didn't know what happened to all my ROMs but now I figured it out. Someone asked me if I would be able to put games on their NES Classic for them and I said sure. I went into settings on Hakchi2 v2.21d and changed the Console type from SNES (USA/Europe) to NES (USA/Europe). When I did this there was an Err

[2017-10-22 01:17] ufuk6p opened #895 "Nes mini blurry effect level"
is it possible to reduce the effect of blurry on "CRT mode".
I want to blurry but less than original "CRT mode"'s level.

[2017-10-22 01:18] ufuk6p opened #896 "Snes mini disable epilepsy filter"
is it possible to disable epilepsy filter for all games in snes mini ?

[2017-10-22 01:18] techhitnz commented on #442
I have an issue using ds4 where all the buttons are mapped incorrectly and shifted clockwise. So B is mapped to Square and A is mapped to X.

[2017-10-22 01:28] MikeBpro commented on #893
Impossible this is a fake snes, bought it day 1, so it's probably not this.

[2017-10-22 01:34] krec9 opened #897 "Hakchi drag and drop won’t work can’t add no mods ."
Any help on this I wanna add retroarch with cores but its not letting me add them I can’t even drag and drop a game?

[2017-10-22 03:01] ghost commented on #896
you can use the command -fp 0 but it doesnt seem to do the whole trick. but some of the changes seem to be undone by this

[2017-10-22 05:20] Gab-75 commented on #893
Did you try to use a different PC and/or Windows OS ?

[2017-10-22 07:20] RamMan21 opened #898 "Soft reset leads to C8 error"
When I soft reset from snes rom it works perfectly. when i attempt from nes rom, it leads to C8 error.

A hard reset from Nes rom leads to C6 error but wont lock up the console.

Am I the only one with this issue?

[2017-10-22 08:09] 03bgood opened #900 "Experiencing transparent issued in KLD3 that weren't in the previous build"
Kirby's Dream Land 3 had no transparency issues in the previous build. How do I know this, I saved my data on stage 2-1 and I was in an underwater area and the water was in fact transparent, then after I updated Hakchi; about a week later, I loaded the restore point and the water was no longer transparent. How did compatibility get worse since the last build, instead of better?

[2017-10-22 08:09] #900 closed, assigned to nobody

[2017-10-22 08:10] 03bgood opened #901 "Experiencing transparent issues in KLD3 that weren't in the previous build"
Kirby's Dream Land 3 had no transparency issues in the previous build. How do I know this, I saved my data on stage 2-1 and I was in an underwater area and the water was in fact transparent, then after I updated Hakchi; about a week later, I loaded the restore point and the water was no longer transparent. How did compatibility get worse since the last build, instead of better?

[2017-10-22 08:13] #901 closed, assigned to nobody

[2017-10-22 08:13] 03bgood opened #902 "Experiencing transparent issues in KDL3 that weren't in the previous build"
Kirby's Dream Land 3 had no transparency issues in the previous build. How do I know this, I saved my data on stage 2-1 and I was in an underwater area and the water was in fact transparent, then after I updated Hakchi; about a week later, I loaded the restore point and the water was no longer transparent. How did compatibility get worse since the last build, instead of better?

[2017-10-22 10:20] 100kd opened #903 "Original PAL SNES kernel dump needed"
Greetings,

It appears that I've bricked my SNES mini by trying to flash a wrong kernel into it. Nothing seems to help and I have no original kernel dump for said console on my computer.

Will someone be kind enough to post or e-mail me an original SNES kernel? {PRIVATE EMAIL REDACTED @Drakonas}

Any help is appreciated.

[2017-10-22 11:32] Babbonz commented on #892
Yep as before I also get the same issues on mine now and again

[2017-10-22 11:46] enewton commented on #903
I've emailed you a dropbox link

[2017-10-22 13:29] ArieKindicator commented on #894
Hakchi2 simply removes existing games from your connected device as it sees it as a new one (different region) and therefore deletes all installed games.

However, you can uncheck your games without deleting them. So, don't press the delete button, just uncheck those games you don't want te be installed.

[Feature Request]Hakchi2 should give the user a choice to 1) delete all games from the device

[2017-10-22 13:35] Pandahboy commented on #894
I didn't get that choice it just erased everything and now I have to take another 4 hours to get everything back. I'm going to turn off my external hard drive from now on if I need to make the switch because I can't be downloading everything every time I switch consoles.

[2017-10-22 14:45] MikeBpro commented on #893
Yup, not working..

[2017-10-22 14:56] Gevander commented on #893
so i just noticed that the circle in the bottom left corner of the application is red where in some screen shots it is green, could that have anything to do with this problem?

[2017-10-22 15:24] ufuk6p commented on #870
Hello,
Which version of Hakchi works "-filter 2" global command?
Version 2.31b works "-filter 2" global command?

[2017-10-22 15:25] ufuk6p commented on #870
*v2.21b

[2017-10-22 15:45] SergioGDP commented on #903
Hello,

I am in the same boat as 100kd.  I have bricked my SNES and could use the original kernel.

I would appreciate any help.  Thank you.

{PRIVATE EMAIL REDACTED @Drakonas}

[2017-10-22 16:32] ufuk6p commented on #870
Hello,
Which version of Hakchi works "-filter 2" global command?
Version 2.21b works fine for "-filter 2" global command?

[2017-10-22 17:39] Bombahee opened #904 "games not working"
I managed to add games on my SNES but can't play, it just give me black screen and go back to main menu

games i added

1942
antartic adventure
Balloon Fight
Bomberman
pacman
battle city
twinbee
galaga
ice climber

etc

did i miss something?

[2017-10-22 18:11] SeeDborg commented on #898
I have the same issue.

[2017-10-22 18:35] Babbonz opened #905 "hakchi2.21e regularly crashing. Debug log attached"
When playing games i get regular crashes with the screen going either red or black and freezing. I've attached a hakchi2.21e dubug log of the last crash so hopefuly this is helpful?
I was playing street fighter 2 via mame2000 hmod and it quited out. I've also tried unstalling all traces of retroarch and mame2000 (its the only hmod I currently use but have the same issues with other mods previously

[2017-10-22 20:00] MrPokemon270588 commented on #892
I have the same problem. Primary on SEGA games. First black screen, then some boot loop a few times, then work again. Hakchi 2.21d. Maybe some power supply problem.

[2017-10-22 20:05] MrPokemon270588 commented on #869
I've deleted the --retroarch line. Changed hakchi to 2.21d. Reflashed kernel. Resynced. Played some time - it was ok. Then SNES Mini crashed on other SEGA game. I did not put any lines anywhere. Obviously there is some power supply problem. It is not only me with this issue. My snes was powered with laptop usb.

[2017-10-22 20:41] Drakonas commented on #869
First of all, which version of JIM2 are you trying to run? Sega CD or Mega Drive/Genesis? The Sega CD isn't supported by any emulators for SNES Classic yet. The extension for the rom needs to be ".md".

[2017-10-22 20:43] Jeyl1984 opened #906 "Original 21 Games Not Working (Resolved)"
Hakchi2 v2.21e

So I got an SNES Classic, loaded some titles onto it, flashed a custom kernal and hooked it up to my TV set. Upon startup, the system played it's menu music to a blank screen for about six seconds before showing the original menu. Only the original 21 games were not there. Each selection was missing the cover artwork and attempting to play the original pre-loaded games did not work

[2017-10-22 20:47] MrPokemon270588 commented on #869
Correct. .md. I have genesis rom. It's not only Jim 2. I have problems with Asterix Power of Gods sega rom. And one time i even had problem with snes game Bubsy.

[2017-10-22 20:47] Drakonas commented on #906
May I ask how many games and what platforms you added? The SNES Classic only can handle so many games before the memory fills.

[2017-10-22 20:52] Jeyl1984 commented on #906
All the games are strictly for the SNES console and the current memory usage is at 100.9MB out of the 225.6MB with 125 games loaded. Is there a specific limit to how many games you can put onto the system even if the memory says you're in the green?

[2017-10-22 20:54] Drakonas commented on #906
Do you have all the games in one folder? That would be your problem. The SNES Classic can only handle showing 60 or less games at one time, 45 if you want the thumbnails to show on screen. I recommend separating the games either automatically into folders, or sort them yourself with custom folder layout. See the settings menu for this.

[2017-10-22 20:56] Drakonas commented on #869
Does the command line start with /bin/md (See the entry in the Hakchi2 window)? If so, have you installed the genesis_plus_gx AND retroarch modules?

[2017-10-22 21:08] MrPokemon270588 commented on #869
Yes. Indeed it starts with /bin/md. I'm not sure where should i look to know what modules are installed. I can find modules-install modules. And there i see genesis_plus_gx. Does that mean it is installed?

[2017-10-22 21:09] Drakonas commented on #869
it doesn't hurt to install again if it was already installed, so install that AND the retroarch one, and see if that fixes it.

[2017-10-22 21:12] MrPokemon270588 commented on #869
Ok. I'll try. The thing is it doesn't happen too often. Today i played for about an hour until i saw that problem. As soon as i face it again, i'll post here. Thank you a lot.

[2017-10-22 21:12] Jeyl1984 commented on #906
I set the filing system to automatic and number of items per folder to 30, but she's still giving me hiccups. All the custom games still show up fine, but the originals are coming up blanks even after Hakchi2 re-organized them.

I did notice this however. After doing some more kernal flashing, this warning pops up that occurs when I initiate 'Flash Custom Kernal'.

Would that be an issue?

[2017-10-22 21:14] Drakonas commented on #906
your kernel was dumped from a modified system then... you need to find an original kernel dump from the internet and place that in your dump folder. then flash the OG kernel first, then custom kernel.

[2017-10-22 21:32] Andrew-Bedard opened #907 "Application file missing"
This may sound stupid, but I've gone through every which way I can imagine, and there is no application file.

[2017-10-22 21:38] ghost commented on #902
in hakchi select the game and press strg+alt+e. check the preset id, it should be A210. maybe the update accidently changed that, i dont know.

[2017-10-22 21:40] 03bgood commented on #902
Should I still use the current build or should I go back to an earlier build, when the transparency still worked

Update: Just changed it to A210, will it work now?

Update 2: It works now! The water is transparent again! Yay!

[2017-10-22 22:03] Jeyl1984 commented on #906
Found out what was causing the problem and it's pretty embarrassing. Turns out I was updating the software incorrectly. I was only dragging the hakchi.exe file only instead of everything else. After replacing all the files in the original folder with everything in the updated folder, I flashed the custom kernal again. Looks like that did the trick.

Thanks Drakonas for your timely replies. Sorry f

[2017-10-22 23:14] #902 closed, assigned to nobody

[2017-10-22 23:18] #907 closed, assigned to nobody

[2017-10-22 23:25] gnadenlos commented on #897
Copy them to the folder yourself.

[2017-10-22 23:25] Jeyl1984 commented on #906
Oh, that Kernal that was dumped? I think that was because the SNES I was having issues with was someone else's SNES classic. The Dump that was on my system came from my SNES that I had already played for a while (Some saved games, SF2 unlocked). She still restores the system well enough so that shouldn't be a problem, should it?

[2017-10-23 00:09] andkush31 commented on #816
This has happened to me as well... how do I fix?  I'm trying to rid the C8 error and can't change my max games per page... thanks!

[2017-10-23 01:15] ryandoll commented on #898
Same thing for me too. Gameboy and NES games will prompt errors, but using either the controller shortcut or reset button on any SNES game works fine.

[2017-10-23 01:44] JFork36 opened #908 "Using Multiple PCs"
Not exactly an issue, but I can't find info on this anywhere.

I hacked my SNES on a friend's PC. I copied all the hakchi folders onto a flash drive so I'd have the kernel, etc.

He moved out suddenly and now I'm planning to use a different PC to update my SNES. How can I do this without starting over from scratch?

[2017-10-23 02:05] jgoldsack commented on #908
Install hakchi to your new PC, then copy the folders from the flash drive to the new installation folder.

[2017-10-23 02:14] x925 opened #909 "Slowdown and auido distortion in certain games"
A few games i added to my classic have distorted sound and slowdowns in certain areas, i believe that if i were to use the snes9x2010 emulator over the stock one it would fix these issues but i have no idea how to change which emulator they actually use

[2017-10-23 02:18] JFork36 commented on #908
I did that. My game list didn't appear. I feel like I'm missing something obvious.

[2017-10-23 02:28] jgoldsack commented on #908
Strange. I did the same thing and had no issues.

Are your games in the games_snes folder?

[2017-10-23 02:38] juanlin commented on #909
Add --retroarch to the command line arguments.

https://github.com/ClusterM/hakchi2/wiki/FAQ

[2017-10-23 02:47] JFork36 commented on #908
Oh shoot. That's it. Won't have access to the PC till tomorrow. I'll toss the ROMS in there and let you know what happens.

[2017-10-23 03:27] x925 commented on #909
Just tried this and it caused that game to just not boot

[2017-10-23 03:34] juanlin commented on #909
Do you have the retroarch-clover module and snes9x or snes9x2010 cores installed?
https://github.com/ClusterM/retroarch-clover/releases

If you have the modules installed and it's still happening, try installing and running CloverApp-ForSNES and loading/running your game through that, and see what error shows up.

[2017-10-23 03:37] x925 commented on #909
I should have them installed but ill install them again just in case

[2017-10-23 03:53] x925 commented on #909
No idea what im doing, i just reinstalled all of the modules, it boots with the following command line
"/bin/clover-canoe-shvc-wr -rom /usr/share/games/CLV-U-CWMNT/Mega_Man_X_2.sfrom.7z --volume 100 -rollback-snapshot-period 600"
but it just black screens if i use
"/bin/clover-canoe-shvc-wr -rom /usr/share/games/CLV-U-CWMNT/Mega_Man_X_2.sfrom.7z --volume 100 -rollback-snapshot-period 600 --retroar

[2017-10-23 06:29] ReyVGM opened #910 "Enable "Classic Demo" for added games."
Would it be possible for the "Classic Demo" option to play for added SNES games?

The "My Gameplay Demo" works for added games as long as you make a save state, which is to be expected since they play from the rewind segment.

But for "Classic Demo", whenever Mario touches one of the added games, nothing happens. I assume this is something that could be addressed since when Mario touches one of th

[2017-10-23 08:57] ArieKindicator commented on #910
Look at  [url=https://github.com/ClusterM/hakchi2/issues/64]#64[/url]

[2017-10-23 11:34] thesk8rguitarist commented on #881
Now the NES Shows all 30 games as missing files, and any games I add to it are only in Black and White.

I flashed custom kernel in Hakchi 2.17d as 2.2 and 2.21 would not allow me to flash the kernel. Any idea why I'm having the issues I have now?

[2017-10-23 11:37] mattcoops opened #911 "Micro Machines doesn't detect 2 controllers connected to play 4 player? (2 players sharing one controller)"
Micro Machines doesn't detect 2 controllers connected to play 4 player? (2 players sharing one controller)

[2017-10-23 13:00] m1nhx opened #912 "Hakchi2 v2.21e Super Famicom Mini - ENTER PASSWORD SCREEN"
Hey guys,

I managed to complete this on my SNES Mini fine and all happy, this time round tried to do the same on my Super Famicom mini and I can only get pass the install module and flash custom Kernel !! once done the mini power light stays on even though I switch it off ?

When I try and boot it up it shows "ENTER PASSWORD" after several buttons press shows "ACCESS DENIED"

So I thought ok mayb

[2017-10-23 13:13] beyondmany commented on #615
@sectokia @warlockv2 UPDATE: I discovered that the extension cables from INSIGNIA (https://www.bestbuy.com/site/insignia-6-extension-cable-for-nintendo-snes-controller-2-pack-black/6025000.p?skuId=6025000)  work as expected when used on the modded SNES Classic console. It's not clear why the Nyko cable no longer works after installing the custom kernel.

[2017-10-23 13:16] beyondmany commented on #873
@sathdor the links in your post return a 404.

[2017-10-23 13:53] Tango80 opened #913 "WWF Wrestlemania the Arcade Game and Uniracers"
Hello,

is it possible to patch these two games :)
I dont want to use retroarc .

Thank you ;)

[2017-10-23 14:25] sathdor commented on #873
Sorry, my mistake, they work now.

[2017-10-23 14:41] TechnoSurYoutube opened #914 "[NOT WORK] I have an idea for hakchi, improve the tool: "Make a screenshot""
Hello,
After hacking my Snes Mini and seeing hakchi options and tools, I came across "Make a Screenshot"

Here is my idea, why not improve this option to allow to play the Snes Mini from his computer?

This is just an idea, I do not force anyone to add this tool but it would still be really cool :)

That's all for now =)

TechnoSurYoutube

PS: I have used Google Translate because I am French, sorr

[2017-10-23 16:21] SkyDude79 opened #916 "[request] Implement the CRT Filter from the NES Mini on the SNES Mini..."
Would this be possible? I and many others think the NES Mini CRT Filter is better and more "genuine" than the new one for the SNES. But it is more advanced and most likely more heavy on the CPU, so perhaps it would generate slow-down issues for SNES games? Could be the reason why they changed it to a simpler one perhaps... Would love to have the possibility to swap to that tho.

Thanks for an amaz

[2017-10-23 16:43] efgamer opened #917 "Is Kirby Dream Land 3 now working with Canoe?"
I was readding some games and I realized that the suggestion to use a 3rd party emulator (which is Retroarch) is gone for good when Kirby Dream Land 3 is added. Does it mean that now it is compatible with Canoe?

I'm using 2.21d version and haven't updated to the last version of Hakchi2. The message actually has gone automatically. Does Hakchi2 check if a game is compatible or not with Canoe onlin

[2017-10-23 16:52] #917 closed, assigned to nobody

[2017-10-23 18:04] Drakonas commented on #914
Because USB cannot handle that kind of data throughput. It's too much data at one time to send through the cable. The SNESC uses USB 2.0, not 3.0. 3.0 would be fast enough, but the port on the SNESC itself is 2.0.

Not only that, but the SNESC would not be able to send video output to two sources at once. That would basically lag the heck out of everything to be doing that. (Because even if you ha

[2017-10-23 18:05] Drakonas commented on #912
Umm... do you have anybody else in your family that could have set up the password? This can't exactly happen by accident, unless your kernel dump was downloaded from the internet and they set a password on it.

You can try uninstalling the password module from the modules menu in Hakchi.

[2017-10-23 18:18] Paul330 commented on #584
That doesn't work for me. I am still struggling with the "not finding snes" problem and I don't know exactly what's the problem. I could sync the games some days ago for one time but since then I couldn't.

[2017-10-23 18:20] moltke44 commented on #904
Waiting for some kind of resolution as well. Same error with the single oddity that the first added game did and continues to load up fine. None of the others will work and just give a quick black screen and back to the menu. I have around 50 games set up in a couple folders. Box art all shows fine, and again the first game I choose at random works but no other added.  The originals still work.

[2017-10-23 18:22] moltke44 commented on #839
Same error with the single oddity that the first added game did and continues to load up fine. None of the others will work and just give a quick black screen and back to the menu. I have around 50 games set up in a couple folders. Box art all shows fine, and again the first game I choose at random works but no other added. The originals still work.

[2017-10-23 18:44] daveDGAZ opened #918 "Can't load more than 24 rooms???"
I successfully hacked my SNES classic last night and it was easy enough for me to do it so thanks ClusterM!
I loaded a few ROMs and 2/3 worked great, (one would not open, no biggie), but when.i downloaded more ROMs I tried to add them but I can only get to 24 max, what's the deal #pleasehelp

[2017-10-23 19:12] paty6510 opened #919 "snes mod shutting down while playing"
I just modded my snes classic and when im playing games or browsing games it shuts off on me randomly I only put the snes roms with hakchi

[2017-10-23 19:59] Whiteiswong opened #920 "NES Classic Mini success with hakchi, not with SNES Classic Mini"
I successfully got hakchi2 to work with my NES Classic Mini using v2.17d.  I do remember that it was an adventure getting the program to recognize my NES Classic Mini but I did accomplish that.

I downloaded v2.21e to go with my SNES Classic Mini.  However, after way more trials and tribulations I can't get the program to recognize the SNES.  I can get the driver installation program to at least a

[2017-10-23 20:55] MrPokemon270588 commented on #869
Ok, so I reinstalled all retroarch modules including genesis_plus_gx. In five minutes of playing got reboot loop again. Sega game. Maybe usb cable problem?

[2017-10-23 20:55] MrPokemon270588 commented on #869
Sorry for open/reopen business

[2017-10-23 20:57] Drakonas commented on #869
what are you powering the system from? You need to be using the cable it came from and plugging it either into a computer port (try back and front) or directly into a power plug in the wall. Using a USB hub or plugging it into a TV/monitor or console USB will produce issues.

[2017-10-23 21:00] Drakonas commented on #920
Are you using a 3.0 or newer port? Try using a 2.0 port or using an older port or different PC if you have to.

[2017-10-23 21:01] Drakonas commented on #919
make sure you're using the original cable that came with the SNES and plugging it either into a wall or directly into a computer, not a monitor/TV or console or USB hub. Try different usb ports on your computer. Basically, your SNES is not getting the power it needs.

[2017-10-23 21:02] Drakonas commented on #918
What game console are the roms from? The SNES Classic only has about 240MB free space to add games but that space is also used by the saves.

[2017-10-23 21:03] MrPokemon270588 commented on #869
I plugged it into laptop usb. Maybe it causes problem. I'll try to use only my 5v 2A adapter. See what happens. Thank you.

[2017-10-23 21:06] daveDGAZ commented on #918
Snes

On Oct 23, 2017 2:02 PM, "3rdN3rd" <notifications@github.com> wrote:

[2017-10-23 21:06] Drakonas opened #921 "[Major] Yoshi's Island built-in has major audio issues when rendering SuperFX 2 data on 2.21c/d/e, not on 2.21b"
I have confirmed this with a friend's seperate Super NES Classic, and 2.21e has a major audio pitch fluctuation on the title screen when Yoshi's Island is rendering the SuperFX 2 island.

2.21b is reported by a couple friends to not have this problem.

I have uninstalled Hakchi, and tested this with an OG Flash and it runs fine, then installed Hakchi2 kernel from 2.21e and without syncing roms or

[2017-10-23 21:18] rhester72 commented on #916
Not really possible - the NESCE "wobble" filter is part of the emulator binary itself, not a filter/shader.

The reason for the "simpler" shader on Canoe is twofold - first, it's a horsepower issue, and second, Nintendo wisely decided to mask that problem by claiming that by the time of the SNES, most people had moved on to composite hookups and thus the signal was 'cleaner' and the NESCE filter w

[2017-10-23 21:19] rhester72 commented on #911
Canoe doesn't, but Retroarch does.

[2017-10-23 21:21] rhester72 commented on #910
There is no 'attract mode' for any of the games.

What you see with "Classic Demo" is effectively pre-programmed save-state style recordings done by Nintendo and hardcoded on the device.

If the format for those recordings (which is presumed to simply be timed inputs and variable states) is ever known and documented, theoretically, a "playback generator" of sorts could be written...but given that

[2017-10-23 21:22] rhester72 commented on #896
Agree - some of the armet filters are actually patched directly into the cartridge code on flash and cannot be removed.

[2017-10-23 21:37] SkyDude79 commented on #916
Too bad... But thanks for a good answer. :)

[2017-10-23 21:43] dav333 opened #922 "MD5 checksum error"
I have the same Kernel dump error as many on my US SNES.

 I was using 2.21d and would get the following message when flashing the custom kernel:

Kernel dumped but the MD5 checksum is unknown:  5be67f86fb0b0aaa275cd730d8b40a91

 I upgraded to 2.21e and when flashing the custom kernel I got the following:

Kernel dumped but the MD5 checksum is unknown: ea5d1d9061bcc7d0c42374eca76eb611

I continued

[2017-10-23 21:48] Whiteiswong commented on #920
Wow, so simple.  Yes, I changed to the USB on the other side which should be 2.0 and all worked like a charm.  Thank you Drakonas!

[2017-10-23 21:48] #920 closed, assigned to nobody

[2017-10-23 21:54] spotanjo3 commented on #202
Thank you, BillDanzini500!

[2017-10-23 22:15] nex86 commented on #921
Yea I can completely confirm this.
c/d/e have the issue, b does not.

I'm going to try increasing canoe's process priority using "nice", if that does anything then I guess it might be something running in the background stealing CPU time.

other CPU demanding emulators (like n64 or psx) or FX games on Canoe might be affected as well.

EDIT 1
I had no luck with renice, it made it only worse,
but I

[2017-10-23 22:47] Drakonas commented on #922
It is because your kernel dump file is used to create the custom kernel image. You have corrupted your kernel file in the kernel folder, and need to redump the original kernel from an unmodded (as in never once hakchi'd) SNES Classic or find a dump elsewhere. Any SNES Classic you install the custom kernel on from that computer until you get a clean dump will have a corrupt kernel, which means game

[2017-10-23 22:54] nex86 commented on #921
oh hey I can confirm it is indeed a CPU hogging issue.
I ran "echo 1400000 >/sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq"
to overclock it to 1.4ghz and the sound was all fine.

[2017-10-23 22:57] Drakonas commented on #918
are you adding the roms after extracting them, or are you just adding the games as is?

[2017-10-23 23:03] Drakonas commented on #910
To clarify @rhester72 into a direct answer, the prerecorded gameplay footage (classic demos) cannot currently be created for a game, and is limited to the original 21 already created recordings for the included 21 games. This may be possible in the future.

However, there are two forms of demos that Mario initiates. When he hits the game like a question block, that initiates the aforementioned foo

[2017-10-23 23:08] ReyVGM commented on #910
Thanks for the replies.

I didn't know they were "pre-recorded" demos. I thought the system was just starting a game and letting the attract mode run for a certain time before going back to the system menu.

As for there being no "Attract Mode", every game has a demo/intro/gameplay if you let it run, people usually call that an Attract Mode.

[2017-10-23 23:16] daveDGAZ commented on #918
As is

On Oct 23, 2017 3:57 PM, "3rdN3rd" <notifications@github.com> wrote:

[2017-10-23 23:35] 03bgood commented on #686
This is happening to me, too. The original 30 NES games show up as corrupted. What do I do?

[2017-10-23 23:39] 03bgood opened #923 "Original 30 NES games showing up as corrupted with the C8 error"
I'm using the latest version and when I switched back NES mode via Hakchi, somehow the original 30 pre-installed NES games got corrupted (with their icons as well). How do I fix this?

[2017-10-23 23:49] #923 closed, assigned to nobody

[2017-10-24 00:06] 03bgood opened #924 "Where can I find the NTSC patch for Ufouria: The Saga?"
The music plays slower (like 50Hz) when loading the ROM via an emulator or the NESC and I want it to be fast, like in the Virtual Console version. Where can I download an NTSC patch, if one exists?

[2017-10-24 00:43] Drakonas commented on #924
Why don't you search google or ask on a discord channel. This issue tracker is for submitting problems with the Hakchi code, not asking for personal help.

[2017-10-24 00:45] Drakonas commented on #910
Yes, but that attract mode won't work for games other than the originals unless you made a savestate where you want it to play from.

[2017-10-24 01:25] ReyVGM commented on #910
No, that's different from what I'm asking. What I'm asking is for "Classic Demo", what you're saying is "My Game Play Demo". The latter works fine. I addressed both in the OP by the way.

[2017-10-24 01:40] Drakonas commented on #918
I would advise extracting the files you downloaded with software like winrar and see if there is more than one file in them. You should only see one file inside each compressed archive. If there is, you probably downloaded a GoodSet pack for the game. We advise against using those roms, and instead using No-Intro roms. The file names can be an indicator of what pack you downloaded. For example, Ea

[2017-10-24 01:42] Drakonas commented on #376
Why don't you try turning on pixel perfect mode in the (S)NES Classic menu. This is not a Hakchi problem.

[2017-10-24 01:45] Drakonas commented on #398
You can rename the rom and add and it will produce a different entry.

[2017-10-24 01:51] #924 closed, assigned to nobody

[2017-10-24 01:52] 03bgood opened #925 "BS Zelda not working (C7 error)"
I cannot get BS Zelda (Both the 3rd and 4th Quests) to work. When I launch them, I get nothing but a black screen and if I hit reset, a C7 error comes up.

[2017-10-24 01:53] Drakonas commented on #910
Oh I'm sorry. Technically we know the command used to create the recording, but we don't exactly know how to implement it yet.

        canoe-shvc -rollback-snapshot-period 720 -rom /var/lib/hakchi/squashfs/usr/share/games/CLV-P-SABRE/CLV-P-SABRE.sfrom --volume 75 -rollback-snapshot-period 3600 --sram-file /var/lib/clover/profiles/0/CLV-P-SABRE/cartridge.sram -filter 1 --pixel-perfect --use-decora

[2017-10-24 01:57] Drakonas commented on #925
BS Zelda will not work with canoe. It is also reported not working with ClusterM's Retroarch cores yet. Give it time. It may work with the upcoming SNES9x 1.54.1 core, if you feel courageous in installing that directly from the github source. But it is quite slow in emulating most things.

[2017-10-24 01:57] dav333 commented on #922
Wow.  That worked.  No more MD5 checksum errors.

I get all of the way to Synchronize  selected games with NES/SNES Mini button.  When I click it.  I get the following.

Error message:

shell command "tar -xvC /" returned exit code 1: tar: can't open '._bin':
Read-only file system

I uninstalled and flashed the custom kernel twice and everything was smooth until it was time to synchronize.  Then I

[2017-10-24 01:59] daveDGAZ commented on #918
Where do you suggest getting ROMs from?

On Oct 23, 2017 6:40 PM, "3rdN3rd" <notifications@github.com> wrote:

[2017-10-24 02:02] Drakonas commented on #922
Looks like this is a separate issue from your first it seems. Looks like one of your roms has an improper command line. Something may be saying /_bin/*** instead of /bin/*** from the looks of it.

If there are none I recommend uninstalling hakchi and initiating a full factory reset from the SNES Mini (erases all saves and residual data from bad/old hakchi installs) if you haven't since you got it

[2017-10-24 02:03] 03bgood commented on #925
Just used the RetroArch add-on and I no longer get a C7 error and the game boots fine.

[2017-10-24 02:03] #925 closed, assigned to nobody

[2017-10-24 02:04] Drakonas commented on #925
good to know thanks.

[2017-10-24 02:04] Drakonas commented on #918
Google. You won't get help from us for that, as it's illegal to download them.

[2017-10-24 02:11] Drakonas commented on #898
what console? Classic NES or Classic SNES? Also, are you using a dual boot method, or are you using retroarch for the alternate console? What games are you having issues with?

[2017-10-24 02:12] daveDGAZ commented on #918
Ok, so I'll unzip the files tonight and try again, thanks allot

On Oct 23, 2017 7:04 PM, "3rdN3rd" <notifications@github.com> wrote:

[2017-10-24 02:13] Drakonas commented on #913
No. Use retroarch. Next time ask on the forums or on the discord server. this is not the place to ask for a request non-related to a hakchi coding issue.

[2017-10-24 02:16] ReyVGM commented on #910
Gotcha. Hopefully one day one of you can crack it and have it working :)

Thanks for the reply.

[2017-10-24 02:16] Drakonas commented on #909
Have you installed the retroarch module and a single snes module of choice using Hakchi2? @x925 ? Those are required to use Retroarch... https://github.com/ClusterM/retroarch-clover/releases

[2017-10-24 02:18] x925 commented on #909
https://imgur.com/a/LuqD0
That is a list of the modules currently installed in my system

[2017-10-24 02:19] ryandoll commented on #898
Classic SNES. Retro arch I assume for trying to play the NES games, and whatever the gameboy one is (I have both of those mods installed) no dual boot.

[2017-10-24 02:20] Drakonas commented on #905
Ask this from the person who made the mame2000 hmod, this is out of ClusterM's hands as he did not have anything to do with that core.

[2017-10-24 02:29] Drakonas commented on #881
@thesk8rguitarist the checksum error means your untouched kernel dump was corrupted or deleted and redumped from a modified NESC kernel. You need an OG unmodified kernel either by restoring from a backup (which has been consistently recommended to do so, and has to be done manually by backing up the file in the dump folder), or by obtaining one from elsewhere.

Basically Hakchi uses the dumped OG

[2017-10-24 02:31] Drakonas commented on #887
technically incorrect @TheLegendofChaz . These incompatibilities have mostly nothing to do with Hakchi, but are incompatibilities with clover-canoe, the emulator on the SNES Mini that was coded by Nintendo.

We are trying to do our best to make games compatible via finding what their preset ID's are, but if that still fails there's not much else we can do to make them compatible and you are stuck

[2017-10-24 02:34] Drakonas commented on #892
As @MrPokemon270588 guessed, this is usually due to using a usb port on a computer that isn't providing enough power. Try a different port or plugging directly into a wall adapter when not needing to add games from your computer.

Also you should avoid using TV/monitor ports, USB hubs, or game console ports as they will most likely not provide enough power to the mini.

[2017-10-24 03:04] 03bgood opened #926 "How do I get Terranigma to work on the SNES Classic?"
I have a NTSC SNES Classic and running Terranigma forces the message "This game pak is not designed for your Super Famicom or Super NES" and I have no idea how to bypass this! It even does it to me on SNES9X on my PC as well. None of the NTSC patches seem to work and I still get that message. This is bullshit!

[2017-10-24 03:10] #926 closed, assigned to nobody

[2017-10-24 03:46] cerealofmana opened #927 "Original games have choppy sound can barely hear it anymore"
After adding new games the original do not play sound properly anymore. The added games however do not have any problems. I've tried messing with the audio settings with no success. Are there any other things I can try before I mess it up.

[2017-10-24 04:05] #866 closed, assigned to nobody

[2017-10-24 04:11] Drakonas commented on #898
Did you install the retroarch module as well as the cores?

[2017-10-24 04:14] #916 closed, assigned to nobody

[2017-10-24 04:14] #913 closed, assigned to nobody

[2017-10-24 04:14] #914 closed, assigned to nobody

[2017-10-24 04:17] Drakonas commented on #906
Yeah that was most likely the issue. I'd advise against using two SNESCs with the same PC, unless you can keep two hakchi folders and be diligent about using one with one SNESC and the other with another.

Closing this issue for now. Reopen it if you have issues again.

[2017-10-24 04:17] #906 closed, assigned to nobody

[2017-10-24 04:19] Drakonas commented on #903
This is not the place to be asking for links to kernels... This is copyrighted content. Please keep this to private messages or forums that allow sharing of pirated materials.

[2017-10-24 04:19] #903 closed, assigned to nobody

[2017-10-24 04:21] XGoldenboyX opened #928 "Adding .NES games not working"
HI all,
I have this issue where I add .NES games to my list. It does install and show the NES games thumbnails with my SNES ones.

Once I start the .NES game it loads to a Black screen and then goes back to the SNES Mini games menu.

What am I doing wrong ?

thank you

[2017-10-24 04:28] Drakonas commented on #909
Uninstall all but the modules that concide with the games you plan to use. Also, if you haven't modified the bios_template mod you shouldn't be installing that. Same goes for music_hack. password module should only be installed if you plan to use it. other than that only install the cores you plan to use as well as the retroarch mod. You are probably using up too much space of your SNESC.

[2017-10-24 04:29] ryandoll commented on #898
Here is what is installed:
![capture](https://user-images.githubusercontent.com/1770175/31924859-10b52042-b84a-11e7-9cb1-995421eed11d.PNG)
Any NES Game (Batman was one I tried) or any Original GameBoy game (Super Mario Land 2 - 6 Golden Coins) will prompt the issue when trying to do a reset via the controller command (Currently set to UP and select) or using the reset button on the SNES Classic.
!

[2017-10-24 04:31] Drakonas commented on #928
Have you installed an NES retroarch module as well as retroarch? you can't run NES games on an SNES classic when it doesn't have the software to run it.

[2017-10-24 04:36] XGoldenboyX commented on #928
Thanks , just found out as well.

excelent !

[2017-10-24 04:44] Drakonas commented on #867
Please respond if this was resolved or not.

[2017-10-24 04:44] x925 commented on #909
Alright i just uninstalled all but the Snes9x2010, retroarch, remove_thumbnails, extra_space,  gambatte, and mgba

[2017-10-24 04:44] Drakonas commented on #865
Please respond if this was resolved or not. @Redghost22

[2017-10-24 04:44] Drakonas commented on #864
@felipe2345rr was this ever resolved?

[2017-10-24 04:45] Drakonas commented on #909
try uninstalling extra_space unless you really need the space. That limits your savestates total useable space to 50MB. and you may have filled up that space.

[2017-10-24 04:48] Drakonas commented on #927
#This may be related to my submitted issue  #921, which I have confirmed.

[2017-10-24 04:49] x925 commented on #909
Just took the extra space out, and no change

[2017-10-24 04:52] Drakonas commented on #909
I would probably try uninstalling hakchi altogether using the Uninstall feature in the Hakchi2 menu, and start fresh and install what you need for the game you want first, then branch out... try to narrow down what exactly is the issue. I can't reproduce this from my end as everything is working for me. If you haven't done that since updating from any older version of hakchi, you should be doing t

[2017-10-24 04:53] x925 commented on #909
I'm specifically trying to get megaman x2 to work, it isn't much of an issue if i can't fix it but figured id try at least

[2017-10-24 04:53] Drakonas commented on #883
Try a different USB port to see if that helps. Most people are seeing that issue resolved by trying a different port. Basically the SNES may not be receiving enough power.

[2017-10-24 04:55] Drakonas commented on #904
Did you install the retroarch and the nestopia retroarch modules to be able to play the NES games? The SNES Classic doesn't have the software to play NES titles by itself.

[2017-10-24 04:55] Drakonas commented on #928
Glad to hear. Please reopen if the problem happens again.

[2017-10-24 04:55] #928 closed, assigned to nobody

[2017-10-24 04:56] daveDGAZ commented on #918
How do I get winwar?

On Oct 23, 2017 7:12 PM, "Dave G." <dgservicepros@gmail.com> wrote:

[2017-10-24 04:59] Drakonas commented on #875
Has this been resolved @Solaski ?

[2017-10-24 05:03] x925 commented on #909
i think i fixed the problem by changing the command line to /bin/snes /usr/share/games/CLV-U-CWMNT/Mega_Man_X_2.sfrom.7z from /bin/clover-canoe-shvc-wr -rom /usr/share/games/CLV-U-CWMNT/Mega_Man_X_2.sfrom.7z --volume 100 -rollback-snapshot-period 600

[2017-10-24 05:08] Drakonas commented on #878
This has been fixed. :)

![Pochette](https://a.safe.moe/5jBo1.png)

[2017-10-24 05:09] Drakonas commented on #873
Closing this issue as this will never be implemented unless some miracle happens.

[2017-10-24 05:09] #873 closed, assigned to nobody

[2017-10-24 05:09] Drakonas commented on #868
@robertocastroserantes Has this been resolved? And hoderer, arcade games are tiny in comparison to most other consoles.

[2017-10-24 05:10] x925 commented on #653
if you haven't fixed this yet, there is a fix but it doesn't use the stock emulation, you need to install retroarch as well as snes9x2010 and change the command line to /bin/snes /usr/share/games/CLV-U-CWMNT/Mega_Man_X_2.sfrom.7z  i just did this and it seems to have gotten rid of all of the lag, though rewind does not work at all but the save states do

[2017-10-24 05:12] x925 commented on #909
This definitely fixed it, and i really appreciate all of your help through this and i kind of feel stupid for not trying it earlier

[2017-10-24 05:12] #909 closed, assigned to Drakonas

[2017-10-24 05:12] Drakonas commented on #653
actually there has been a fix for the distorted audio problem, similar to the Street Fighter Alpha 2 patch. https://a.safe.moe/VERWo.zip

[2017-10-24 05:13] x925 commented on #653
i tried that and while it fixed the audio the lag seemed to persist in this game

[2017-10-24 05:16] Drakonas commented on #855
@JustInsane360 uninstall hakchi, flash og kernel, then perform factory reset from the SNES Classic main menu (which will unfortunately erase your saves. You can try to back them up with Hakchi2 Savestate manager built into hakchi prior to uninstalling hakchi, if it works at all)

This is a full reset. Without the factory reset from the SNESC main menu, Hakchi residual files are left on the system,

[2017-10-24 05:18] #863 closed, assigned to Drakonas

[2017-10-24 05:19] Drakonas commented on #857
@sceptre2k3 was this ever resolved? Please close it if so.

[2017-10-24 05:21] Drakonas commented on #918
https://www.rarlab.com/download.htm It has a free version that is basically an infinite demo mode... it will warn you to buy it every time you start it after so many days, but only when you open a file with it. It won't nag you otherwise. Solid software, and a good company.

[2017-10-24 05:30] Drakonas commented on #853
You might try doing a full uninstall, og kernel flash and factory reset from the SNES Classic main menu (THIS WILL ERASE ALL SAVES, so backup before you uninstall the custom kernel if you need to!) to remove all residual files left over from bad hakchi installs. And make sure you're not getting any MD5 checksum errors during flashing.

[2017-10-24 05:34] Drakonas commented on #898
@ryandoll You have no nes core installed. You need the nestopia or fceumm hmod to use NES roms. The SNES has no software included for running NES games.

[2017-10-24 05:34] Drakonas commented on #898
@RamMan21 is your problem resolved? Please close this ticket if so.

[2017-10-24 05:38] Drakonas commented on #893
I advise to only use the cord that came with your SNES Classic. Try a different USB port on both of your PC's. USB hub/monitor/tv/game console ports will most likely result in not enough power. Most likely the ports on your PCs you are trying aren't providing enough power. You also need to have 2.21+ to work with the SNES Classic. Also, make sure you are installing the driver if not installed alre

[2017-10-24 05:39] #885 closed, assigned to nobody

[2017-10-24 05:42] Drakonas commented on #880
Here's a hint @Cameron1391 Don't use an unsupported operating system. The driver is most likely incompatible with XP. Windows XP automatically receives loads of viruses regardless of what antivirus you have because Microsoft isn't patching the system anymore. If anything XP machines should never connect to the internet anymore unless you want your entire house invaded by malware. Get a new machine

[2017-10-24 05:42] #880 closed, assigned to nobody

[2017-10-24 05:53] Drakonas commented on #882
@DanyMode8 technically a factory reset nowadays is only needed for dire situations. Most of the bugs causing residual files to be left over have been resolved. The only way you'd need to factory reset these days is if you flash a corrupted kernel and the system is unable to be fixed after an og flash and hakchi uninstall. I've been switching between versions with just a uninstall and og flash from

[2017-10-24 05:57] Drakonas commented on #847
This is a Norton issue, not Hakchi. The user should try to submit the program to Norton support to have them add an exception to prevent detecting as a "false positive".

[2017-10-24 05:57] #847 closed, assigned to nobody

[2017-10-24 05:58] #846 closed, assigned to Drakonas

[2017-10-24 05:59] Drakonas commented on #845
Has this been resolved @AndreSanctus ?

[2017-10-24 06:01] Drakonas commented on #844
Unfortunately this is not possible because of how savestates are designed. Emulators have always worked this way. If you load a savestate in any emulator, you are loading that game's instance when that savestate was made into memory, and thus the emulator will save any progress from that point over the main savedata. If you're going to load a savestate, make a backup savestate first. There is no w

[2017-10-24 06:01] #844 closed, assigned to Drakonas

[2017-10-24 06:03] #843 closed, assigned to Drakonas

[2017-10-24 06:06] Drakonas commented on #840
be nice cleardragon. @jackkknifejones it would be nice to have the image I expect you meant to post along with your submission?

[2017-10-24 06:12] Drakonas commented on #839
All of these can be fixed by making sure you limit how many roms you install, only install mods you really need, install the snes9x AND retroarch mod for other SNES games (REQUIRES BOTH to be installed), and only having a limit of 60 games shown in one folder at a time. I also advise against installing the extra_space mod when having a large amount of games, as it limits the savestates storage to

[2017-10-24 06:18] Drakonas commented on #824
The problem with this request is that the files on the SNES classic require launching games from their specific directories. Having files elsewhere would make it nearly impossible to detect them for removal in case you wish to remove them. You can just rename your roms to be able to load them all... Not exactly sure what you're asking for....

[2017-10-24 06:19] Drakonas commented on #834
Since this is inactive and technically fixed I am closing this.

[2017-10-24 06:19] #834 closed, assigned to Drakonas

[2017-10-24 06:23] Drakonas commented on #831
The main cause of this, I believe, is overwriting the files for the hakchi update since 2.20 debug. 2.21 added an option to detect for NES Mini or SNES Mini, but if you didn't erase the config file, it would still think you were using an NES Mini. Following the proper update instructions in the FAQ would have bypassed this. Closing this issue.

[2017-10-24 06:23] #831 closed, assigned to Drakonas

[2017-10-24 06:24] #830 closed, assigned to Drakonas

[2017-10-24 06:25] #829 closed, assigned to Drakonas

[2017-10-24 06:31] Drakonas commented on #826
@funkytowel360 Has this been resolved? Please close the ticket if so.

[2017-10-24 06:32] Babbonz commented on #905
This has nothing to do with that hmod  as I get the same crashes when retro arch and all hmods are also unistalled and I just use the default canoe enu (as I posted already above if you read the second paragraph) )? So your reply makes no sense!

[2017-10-24 06:35] Babbonz commented on #905
I think this maybe related to power though as when I use a mains plug it seems to hardly crash now compared to previously using a USB port on my uhd tv?

[2017-10-24 06:36] Drakonas commented on #814
But you can just load the game and let it save its data and presto. Takes literal seconds whereas it takes at least an hour or more to add a feature like this that barely anyone would use. Also, if you happen to erase your saves somehow, then the saved checkmarks would have to be micromanaged even more. To be honest this may just be too much micromanaging for most, and would get quite irritating t

[2017-10-24 06:41] Drakonas commented on #811
This is not the place to ask for illegally distributed copyrighted content. Keep this to private messages or forums that allow sharing of pirated material. Closing.

[2017-10-24 06:41] #811 closed, assigned to Drakonas

[2017-10-24 06:44] Drakonas commented on #813
@fpmpaolo Has this issue been resolved? Please close this ticket or respond if so.

[2017-10-24 06:44] sceptre2k3 commented on #857
Hi,

Yes, it was indeed because I used Notepad/Wordpad to edit the desktop file.  I only did this with Monopoly and a few other games, and these seem to be the problematic ones.

Would there be any value in making Hakchi2 more robust to detect/handle situations where people did the same thing?  If so, perhaps another enhancement type item is better for tracking.

[2017-10-24 06:45] #857 closed, assigned to Drakonas

[2017-10-24 06:46] Drakonas commented on #808
Unfortunately it is impossible to edit the included games on the SNES Classic. They are read only. The only option is to add an extra copy of them into Hakchi, rename them, and disable the originals (which will use up your rom storage as you cannot delete the originals)

[2017-10-24 06:46] #808 closed, assigned to Drakonas

[2017-10-24 06:47] Drakonas commented on #806
Closing this issue as the OP's problem was fixed. @Garymf should create a new issue if they are still having problems.

[2017-10-24 06:47] #806 closed, assigned to Drakonas

[2017-10-24 06:49] Drakonas commented on #804
You cannot edit the included games. They are unable to be deleted or edited. You can, however, disable them one by one and add copies of them into Hakchi to install normally. This will, however, use up more space as you cannot delete the originals.

[2017-10-24 06:49] #804 closed, assigned to Drakonas

[2017-10-24 06:51] Drakonas commented on #799
@Linkinworm Please respond or close the ticket if this has been resolved. Thank you.

[2017-10-24 06:53] Drakonas commented on #796
@Litfam877 please respond or close this issue if it has been resolved. Thank you.

[2017-10-24 06:55] Drakonas commented on #905
I am sorry. I have spent the last 7 hours trying to clear up some of these tickets. Yes, using a TV/monitor/USB hub/game console usb port often does not provide enough power to the SNES classic. Has your issue been resolved?

[2017-10-24 06:56] Drakonas commented on #653
The lag is mostly due to canoe, not hakchi I believe, but more testing is needed I suppose.

[2017-10-24 06:58] #795 closed, assigned to nobody

[2017-10-24 07:01] #792 closed, assigned to nobody

[2017-10-24 07:02] #789 closed, assigned to Drakonas

[2017-10-24 07:02] Drakonas commented on #789
This is not going to be possible. Only retroarch will be able to support this.

[2017-10-24 07:05] Drakonas commented on #786
@Ferkner did you ever resolve this? Please close this issue if so.

[2017-10-24 07:07] Drakonas commented on #777
@jcbelinda did you ever resolve this? Please close the ticket if so.

[2017-10-24 07:09] #773 closed, assigned to nobody

[2017-10-24 07:10] Drakonas commented on #759
This game is unsupported by Canoe. Use retroarch to load this game.

[2017-10-24 07:10] #759 closed, assigned to Drakonas

[2017-10-24 07:11] rovervt commented on #868
If I divide the list in folders, the problem dissapears, but folders division is very slowly in comparison of have the whole list of games without division, mostly when you are in a game and try to come back. So, the people have to choose if they want to avoid the error and have a slow snes mini, or have the error with more speed.

[2017-10-24 07:12] Drakonas commented on #758
This has already been resolved by the latest Retroarch update as of writing (1.0C). The snapshots were not being compressed.

[2017-10-24 07:12] #758 closed, assigned to Drakonas

[2017-10-24 07:14] Drakonas commented on #764
@Redghost22 has this been resolved. Please close this ticket if so.

[2017-10-24 07:15] Drakonas commented on #748
Sorry accidental press, has this been resolved?

[2017-10-24 07:17] Drakonas commented on #754
Yes @shurp the built in games are not able to be edited or deleted. They are read-only. At best you can add an extra copy of the game to edit and disable the included one like MindController said. But that uses extra space.

[2017-10-24 07:17] #754 closed, assigned to Drakonas

[2017-10-24 07:18] Drakonas commented on #757
@DecanFrost Has this issue been resolved?

[2017-10-24 07:20] Babbonz commented on #905
I'm at work now but will test again tonight and confirm if all sorted. Thanks for the reply!

[2017-10-24 07:48] Pito23 commented on #686
i had to reinstall everything: reflashing back original kernel and then flashing the custom one. Finally reinstall mods and games... now it works but is  very annoying.

[2017-10-24 07:57] AndreSanctus commented on #845
Yes, after a new uninstall and install.

[2017-10-24 08:47] lpossamai opened #929 "Unable to create suspend points #SNES Mini"
When I want to save a game (Suspend Point), I press the "RESET" button and then I press "DOWN" on the controller.

How-to save a game: http://en-americas-support.nintendo.com/app/answers/detail/a_id/27241/~/how-to-save-game-progress-%5Bsuper-nes-classic-edition%5D

However my SNES Mini freezes. I cannot do anything else and I need to take the power out and plugin again. When doing it, it tells me

[2017-10-24 08:53] shadowxau commented on #921
Can also confirm the issue.

Interestingly enough I can verify an almost identical sound issue when using the newly found "fix" for Seiken Densetsu 3 (Secret of Mana 2) Hi-Res text issue as per the following reddit thread:

https://www.reddit.com/r/miniSNESmods/comments/78chn3/seiken_densetsu_3_hires_working_in_canoe/

EDIT 1: I can confirm that the SD3 sound issue is substantially less noticeable

[2017-10-24 09:02] lpossamai commented on #929
**UPDATE 1:**

The "C8" error actually happens when I shut the SNES MINI down. Not when trying to create a suspend point.

For the suspend point it just freezes and I need to shut it down.

**UPDATE 2:**

NAND-C (for debugging) available for download here: https://drive.google.com/open?id=0B9VRju-W-e4nOHBZRUNPdFNiVzQ

I've used hakchi2.21e_debug to get the debug log: [debuglog.txt](https://github.

[2017-10-24 09:09] lpossamai commented on #334
@holeshot1982  you could provide us more info (i.e how did you update it?)

Cheers

[2017-10-24 09:26] holeshot1982 commented on #334
I wish I could but I don't even remember creating this thread. I sort set up the NES Classic the way I wanted it and left it alone.... If I updated the SNES HMod then I probably got the answer from Reddit. My suggestion would be to search Google or check out the Reddit sub. Those guys are more than helpful and can rattle off fixes pretty quick.

[2017-10-24 09:29] Hurgnation commented on #904
Signed up to say I'm having this same issue. Have managed to get everything else running fine, extra SNES roms, including ones that don't come with native miniSNES support, N64 and GBA games. But for some reason, I can't get any NES games to run. Tried using --retroarch and --use_nestopia, neither work, just a blank screen then return to menu.

I haven't tried many games, just the ones I was inter

[2017-10-24 09:32] Redghost22 commented on #764
No. I will try today on another computer

[2017-10-24 09:54] gromber commented on #758
yes but not for native emulator.

[2017-10-24 11:43] mattcoops commented on #911
thank you so much. Installed retroarch and it is working perfectly. thanks for the help!

[2017-10-24 11:44] #911 closed, assigned to nobody

[2017-10-24 12:00] #881 closed, assigned to Drakonas

[2017-10-24 12:05] thesk8rguitarist opened #930 "[NESC] All works perfectly except all NES games show no color"
Finally got my NESC modded just fine. GBA, GBC, SNES, Genesis works fine. All NES games including all original 30 are in Grayscale only. I did not issue a global command line argument for this and followed all proper instructions.

This specific console has been giving me a lot of grief about modding it. I kept getting MD5 Checksum immediately followed by Invalid kernel size in Hakchi 2.20 and 2.2

[2017-10-24 13:02] m1nhx commented on #912
Thx uninstalling the password mod did the trick!

[2017-10-24 13:02] #912 closed, assigned to Drakonas

[2017-10-24 13:12] #840 closed, assigned to Drakonas

[2017-10-24 13:43] Bombahee commented on #904
@Drakonas can you guide us how to use retroarch and nestopia retroarch or any link for tutorial how to use those two? thanks in advance!

[2017-10-24 14:37] Babbonz commented on #905
Yes this definitely looks like the power issue as have been playing for over an hour using it connected to mains and it hasn't crashed once! It's weird as using the USB port on my tv does work (it's fine for my pi, nvidia shield etc) as it plays happily enough for a while before the crashing? Anyway I guess consider this resolved.

[2017-10-24 14:49] DanTheMan827 commented on #921
If the problem is with clovercon, I wonder if using the old clovercon would fix it.

https://github.com/ClusterM/hakchi2/commit/d1a7a450dfd206de18fd4a988a52a5c5ff3aab44

[2017-10-24 14:51] DanTheMan827 commented on #921
If the problem wasn't present on 2.21b, here are all the commits that affected system scripts

https://github.com/ClusterM/hakchi2/commit/124f65ddedbd41a2179c8b61fd6d634fa599aaf9
https://github.com/ClusterM/hakchi2/commit/d1a7a450dfd206de18fd4a988a52a5c5ff3aab44
https://github.com/ClusterM/hakchi2/commit/6bbdcdab42bae2cb94f2633d01e7e12116a997f3
https://github.com/ClusterM/hakchi2/commit/7d014b7da4

[2017-10-24 14:53] Ferkner commented on #786
No, but I'll close it anyways.

[2017-10-24 14:53] #786 closed, assigned to nobody

[2017-10-24 15:29] Linkinworm commented on #799
Sorry I will close it but before I do 1: why is that folder a bad idea? 2: maybe we could just get an option on the installer to select a directory for everything instead? I had a second hdd set up as basically a copy of the windows folder structure with "program files, program files (x86) just so sanity sake 3: when updating hakchi whats the best way to copy over files just move everything over f

[2017-10-24 15:34] marilite commented on #748
@abdessamedh Same problem for me. no sound since installation hakchi same thing with original kernel. I would so like to find the sound!!! did you succeed?

[2017-10-24 15:56] DecanFrost commented on #591
Here is an idea.  If we rewrite the Snes kernel with the nes mini kernel. We woulf have all the same features MINUS the rewind feature and full compatiblity with all games.   Also this method would give us alot more free space. .. nes kernel uses less pace due to no rewind feature

[2017-10-24 16:03] efgamer commented on #921
I couldn't imagine that Hakchi2 would affect the performance of the system in general because it's not neither an emulator nor a process that runs in background (correct if i'm wrong).

After you flashed the original kernel back did you use the "Uninstall" option? If you didn't then the mods might stay there just waiting to be started by the custom kernel that should be there but its not anymore b

[2017-10-24 16:05] DanTheMan827 commented on #921
@efgamer There are two things I can think of that run in the background, the gamepad driver, and the clover shell daemon.

If the shell daemon is misbehaving, that could easily slow down the entire system.

It appears that `remote-exec` is responsible, that's part of clovershell I believe.

[2017-10-24 16:37] ghost opened #931 "Polling for interest in new mod"
Hi all!

I have created a v2 of the password mod that let's you set a user code to access the system, a master code you can set to change the usercode and a disable mod code to temporarily disable the mod, so basically you can change all using the controller. The code handling is more robust than the original mod and the screens are pretty nice I think. It can handle button presses as well as rele

[2017-10-24 16:40] efgamer commented on #921
**@DanTheMan827**  Things started to makes sense then. This week I was readding some games and one game specifically that Hakchi2 always suggested to use 3rd party emulator is gone. I assume that Hakchi2 might use the internet connection and connect to an endpoint to check if the game that is being added is compatible or not so...  Hakchi2 depends on the process remote-exec to be running ...

[2017-10-24 16:49] efgamer commented on #921
@DanTheMan827 What version should I stick with until the fix then?

[2017-10-24 16:53] Drakonas commented on #921
@efgamer it depends if you care about the slowdown on certain games. 2.21b doesn't have the problem (I have confirmed on 3 SNES Classics from people I know online) and 2.21c+ has the issue (also confirmed on 3 SNES Classics)

To answer your question, I tested each hakchi version by uninstalling hakchi entirely, flashing og kernel, factory resetting, and then flashing the custom firmware with the d

[2017-10-24 16:57] DanTheMan827 commented on #931
I think a more popular mod would be a user profile mod.

It would be pretty easy to do the script, the gui would be another story...

[2017-10-24 16:59] DanTheMan827 commented on #921
One possible solution: disable clovershell at boot time if a response from the PC isn't detected.

Or, check for a response from Hakchi2 before starting the emulator, kill it if there is none, and restart after emulation.

[2017-10-24 17:02] Shoothimnow commented on #926
So if this is a problem on the PC, it sounds like your ROM is bad... and not technically an issue with Hakchi2 (which you are on the issues board for Hakchi2 to let Cluster know what he in specific needs to fix).

I would look on Reddit for a solution to this, as this doesn't sound like an issue with Hakchi2 in specific.

[2017-10-24 17:05] efgamer commented on #921
@Drakonas I'm using 2.21d (portable). How do I back to 2.21b?

[2017-10-24 17:05] DanTheMan827 commented on #921
I'm pretty sure I found the problem...

`remote-exec` has a while true loop with `usleep 200000` at the end, `/bin/usleep` was removed in commit 124f65d

[2017-10-24 17:05] Drakonas commented on #930
@thesk8rguitarist if you're getting invalid checksum errors then your original kernel dump is not original, but dumped from a modified NESC. You need to find a clean dump of an un-hakchi'd kernel from a non-modded NESC, and place it in the dump folder. The dump is used to create the custom kernel as well as when installing mods. If that is already modified and it tries to modify it again it will s

[2017-10-24 17:06] RamMan21 commented on #898
@ryandoll the issue was with clovercon not installed. try to reinstall it.

[2017-10-24 17:06] #898 closed, assigned to Drakonas

[2017-10-24 17:07] Drakonas commented on #929
@lpossamai you're supposed to create a suspend point by pressing Select and down on the controller.... not reset and down.

[2017-10-24 17:07] DanTheMan827 commented on #921
@ClusterM @madmonkey1907 I'm pretty sure I found the problem...

`/bin/remote-exec` has a while true loop with `usleep 200000` at the end, `/bin/usleep` was removed in commit 124f65d

So basically, this code runs as quickly as possible, forever... where before it would only run every 0.2 seconds

[code]

[2017-10-24 17:08] thesk8rguitarist commented on #930
I will see if this helps. I just started from scratch on this console again (uninstalled all Hakchi). I dumped custom kernel using the web installer, booted and all original games were there and in color. Added one game and rebooted, all fine and in color. Added the GB/GBC mod with no extra games, booted and all original games were missing and the one extra NES game was grayscale. Uninstalled the

[2017-10-24 17:08] ghost commented on #931
Interesting, adding user profiles and logging in by holding the A button for profile Admin for instance and then you need to enter the admin profile code. Normal user profiles without a password (holding B to load profile of user Johnny). Stuff like that. Scriptwise not difficult to.implement, only alot of work.
The GUI part can indeed be alot of work, depending on what we want in a profile, I gue

[2017-10-24 17:11] Drakonas commented on #591
DecanFrost what you're asking for would be a headache for the developers and end users, not really realistic. @scabfarm that rollback-snapshot-period is the rewind time yes.

[2017-10-24 17:11] #591 closed, assigned to Drakonas

[2017-10-24 17:13] Drakonas commented on #748
Are any of you getting MD5 checksum errors with Hakchi? If you are your kernel dump is corrupted, or was dumped from an already hacked SNESC. You need to find an original unhacked kernel dump if that is the case.

[2017-10-24 17:15] Drakonas commented on #750
Issues can be searched from the closed issues list. Closing.

[2017-10-24 17:15] #750 closed, assigned to Drakonas

[2017-10-24 17:16] Drakonas commented on #749
This should have been fixed with newer versions of Hakchi that addressed image sizing.

[2017-10-24 17:16] #749 closed, assigned to nobody

[2017-10-24 17:23] Drakonas commented on #747
@meaninglessname was this ever resolved? If so or if you have given up please close the issue.

[2017-10-24 17:25] Drakonas commented on #742
@funkboy27 has this been resolved? Please respond or close the issue if so.

[2017-10-24 17:26] Drakonas commented on #741
@LeanderAT Has this been resolved? Please respond or close the issue if so.

[2017-10-24 17:30] Drakonas commented on #799
@Linkinworm Program files folders in windows are locked down and prevent files from writing certain files there. They are only designed for software that actually installs with an installer, but then the data needs to be stored elsewhere like AppData. Programs typically can't write data to their program directory unless run as administrator, which produces more problems if you decide to run the pr

[2017-10-24 17:30] #799 closed, assigned to Drakonas

[2017-10-24 17:31] #741 closed, assigned to nobody

[2017-10-24 17:44] funkboy27 commented on #742
It hasnt been resolved.  When I have time, I'll try and use the debug version to post the log.  It happens consistently when I use any build beyond 2.20.  I'm still able to fix it, but that GAMES file is being created at some point probably during the custom kernel upload.

I'll try and do it today when i have a moment

[2017-10-24 17:54] thesk8rguitarist commented on #930
Writing out all my steps here:
Uninstalled Hakchi and flashed original kernel that I had
Reset NESC back to full factory default via system menu
trashed all dump folders and former kernels
Reboot brand new factory default NESC and dump the kernel (just to have that one as well). Kernel dumped, but got this error "Kernel dumped but the MD5 checksum is unknown: 4da4a80f20ace080312ea01d7c685d5e. Do y

[2017-10-24 18:13] Drakonas commented on #930
... You need to obtain a kernel from the internet that is untouched. dumping a kernel from your nesc that is already hacked will just bring you back to a broken kernel. Find one online and place it in the dump folder, like I said.

[2017-10-24 18:15] nex86 commented on #921
this is remote-exec:
[code]
so basically removing the line  "usleep 200000" will fix the issue right?

[2017-10-24 18:15] Drakonas commented on #742
I would advise uninstalling hakchi completely, flashing og kernel (making sure no md5 checksum errors occur) and then do a complete factory reset from your SNESC main menu (WARNING THIS WILL ERASE YOUR SAVES. Backup the saves before the uninstall of hakchi if you need them). Then flash custom kernel.

[2017-10-24 18:21] nex86 commented on #921
so putting usleep back will fix the issue?
Why was it removed in the first place?

[2017-10-24 18:31] efgamer commented on #921
Can I back to 2.21b portable from 2.21d portable?

[2017-10-24 18:32] DanTheMan827 commented on #921
@nex86 Probably, I have no idea why it was removed though...

https://github.com/ClusterM/hakchi2/raw/690b60216f26582f39823eb8ca583338be62deee/mods/mod_hakchi/hakchi/rootfs/bin/usleep

You could download that and ftp it to `/bin/`, you'd then have to run `chmod +x /bin/usleep` from telnet

Alternatively, if you have an old portable version of hakchi laying around, the file is in `mods\mod_hakchi\h

[2017-10-24 18:34] Drakonas commented on #905
I guess some TV's may provide enough power. Thank you for letting us know. :)

[2017-10-24 18:34] #905 closed, assigned to Drakonas

[2017-10-24 18:36] M1loScorpius opened #932 "Dragon Ball Z Hyper Dimension on SNES MINI is not working :("
Hello everyone Is there any way to run this game on SNES mini with the latest HACKCHI 2 update ?
regards !

[2017-10-24 18:43] marilite opened #933 "lost us original kernel"
Hello, I need the original kernel of US mini snes. There is one in the dump folder, but it does not work. I want to try with another file. Thank you!

[2017-10-24 18:44] JeffSeverino commented on #932
Please, check the compatibility spreadsheet before asking this. It is constantly being updated by users and some of the solutions reach there first hand. https://docs.google.com/spreadsheets/d/12HKfz4ZQBy6Ip5awvh8t2aV5cVswYlnsdKxn9xoIW2Y/edit#gid=2014317767
There are much more important issues for Cluster and Madmonkey to check than ROM compatibility.

[2017-10-24 18:45] Drakonas commented on #904
I am sorry. I did more research on how to use NES games with Retroarch on newer versions. The main retroarch module includes the emulator but you need to add something more to the command to use it. Download the retroarch_with_cores.zip from here, open up hakchi2 and drag and drop the entire zip onto the window to copy the files to the proper folder. Then go to Modules -> Install Module and instal

[2017-10-24 18:46] Drakonas commented on #933
This is not the place to ask for this. Ask on private forums or by messaging a friend. This is copyrighted content and is illegal to distribute.

[2017-10-24 18:46] #933 closed, assigned to Drakonas

[2017-10-24 18:47] Drakonas commented on #932
This game is unsupported by Canoe as per the compatibility list above. Use Retroarch instead.

[2017-10-24 18:47] #932 closed, assigned to Drakonas

[2017-10-24 18:48] DanTheMan827 commented on #921
I pushed something that **may** fix it without re-adding usleep, but it removes some functionality that (as far as I know) is never used, that is, writing a command to `/var/exec.flag` to be executed within 200ms

Maybe there's another, better way... and maybe it was done that way for a reason...

`remote-exec` is at the very least, related to `chmenu`, `chmenu` touches the `/var/exec.flag` which

[2017-10-24 18:49] Drakonas commented on #739
Goof Troop is stated as not working in the compatibility list. Use Retroarch to run it. https://docs.google.com/spreadsheets/d/12HKfz4ZQBy6Ip5awvh8t2aV5cVswYlnsdKxn9xoIW2Y/htmlview?sle=true#

This is not a discussion board. Keep these kind of questions on the forums or in a discord chat. This is for submitting bugs with hakchi. Rom incompatibility is a problem with Nintendo's code not Cluster's. T

[2017-10-24 18:49] #739 closed, assigned to nobody

[2017-10-24 18:51] Drakonas commented on #735
@reverte did you ever get this resolved? Please close the issue if so.

[2017-10-24 19:12] #735 closed, assigned to Drakonas

[2017-10-24 19:18] marilite commented on #748
I agree but I can’t find it? Please help me!

Le mar. 24 oct. 2017 à 13:13, 3rdN3rd <notifications@github.com> a écrit :

[2017-10-24 19:19] nex86 commented on #921
I fixed it now by bringing usleep back and created a temporary hmod for the community.
writing something constantly to the nand isn't very healthy for the flash cells, maybe we can increase the delay or disable it completely when running games?

[2017-10-24 19:21] Drakonas commented on #748
You won't get help from us for this. It is illegal to share copyrighted content. Ask on a private forums or find the nintendo classics discord chat.

[2017-10-24 19:24] Drakonas commented on #748
This can normally be resolved by backing up saves with Hakchi savestate manager, uninstalling hakchi using the uninstall function from hakchi, flashing og kernel afterwards, and performing a factory reset from the SNES Classic main menu (THIS WILL ERASE ALL SAVEDATA). Closing this issue as it has been 12 days since the OP responded and this is not a bug with Hakchi but user error. Ask on the Hakch

[2017-10-24 19:24] #748 closed, assigned to Drakonas

[2017-10-24 19:35] The-MAZZTer commented on #921
The script is not writing to the nand constantly but checking to see if files exist and taking actions if they do. Presumably another process is setting those flags. I would bet the mpc_flag is set by the emulator when the user presses the reset controller combo, or by whatever process checks the reset switch when the user hits it. exec_flag is presumably set by the menu when the user selects an i

[2017-10-24 19:49] nex86 commented on #921
well, just to be safe I increased the delay to 500ms.
not sure if something will be affected but at least it cost less CPU.

[2017-10-24 19:53] The-MAZZTer commented on #921
Eh, no need to increase the delay. All it is doing every 0.2s is checking to see if two files exist. Without the delay it's delaying 0s which means it's running probably tens of thousands of times a second (if not more). with a 200ms delay it's running 5 times a second. So reducing to 2 times a second is not going to make much difference for CPU usage and will add up to a 300ms delay when launchin

[2017-10-24 20:20] madmonkey1907 commented on #921
root@CLOVER:~# ls -la $(which usleep)
lrwxrwxrwx    1 root     root            12 Jan  1 05:10 /bin/usleep -> /bin/busybox

[2017-10-24 20:27] DanTheMan827 commented on #921
@madmonkey1907 So is adding usleep back in from the previous commit just a placebo effect, or is there actually an issue with the `remote-exec` script?

I haven't tested anything myself since I'm not home right now, so I have no idea... I just noticed that the file was deleted.

[2017-10-24 20:32] ryandoll commented on #898
Don’t understand. The games play just fine, just can’t soft reset then. I will try to reinstall tonight.

[2017-10-24 20:35] Drakonas commented on #898
@ryandoll How are you soft resetting? Are you holding down and select on your controller?

[2017-10-24 20:35] lpossamai commented on #929
@Drakonas that doesn't work. When I had the original games, I was able to save by pressing Reset + DOWN, like mentioned here: http://en-americas-support.nintendo.com/app/answers/detail/a_id/27241/~/how-to-save-game-progress-%5Bsuper-nes-classic-edition%5D

Please re-open this ticket.

[2017-10-24 20:36] Drakonas commented on #929
That doesn't work on Hakchi I believe.... @lpossamai Hakchi uses down + select on the controller (hold it for a second or two), as it is easier, and I believe that down plus reset will only work with original games on og kernel anyways. Because of the way Hakchi has to load games, I believe the idea was scrapped.

[2017-10-24 20:38] madmonkey1907 commented on #921
I have no idea. run top to see if there is an issue with cpu consumption.

[2017-10-24 20:39] nex86 commented on #921
there wasn't much of a usage with remote-exec, maybe 1% but copying usleep back to /bin fixes the issue and basically puts remote-exec back to 0% usage.
So it doesn't look like the busybox usleep is actually being used.

[2017-10-24 20:40] Drakonas commented on #929
If you want to reopen this you can, but it needs to be listed as a feature request.. and perhaps Cluster can find a way to add it in the future.

[2017-10-24 20:41] lpossamai commented on #929
@Drakonas Is there any tutorial/how-to for saving games (creating suspended points) once they are hacked using Hakchi? If so can you please send me the link and I'll try it again?

[2017-10-24 20:41] dav333 commented on #922
I've uninstalled and full factory reset about 4 times while attempting to make it work.  When that didn't work I unchecked everything but the Original Games and one other game.  I figure if one of my Roms has a bad command line then I should try one at a time.  (If having them in the games window but unchecked still effects the ability to sync, then I will start from scratch) Then I tried the same

[2017-10-24 20:42] Drakonas commented on #929
@lpossamai Hold down and select on the controller while a game is loaded..... I do it all the time. If it gives you an error you need to uninstall hakchi, flash og kernel, factory reset your SNES Classic (erases all saves as well as residual files from bad hakchi installs) and install custom kernel again.

[2017-10-24 20:43] lpossamai commented on #929
I'll try that once I get home and will update this ticket with findings.

[2017-10-24 20:49] ryandoll commented on #898
That or the reset button on the SNES Classic.  To be fair, maybe something didn't update properly when I set up my hakchi2 directory.  I was using it for my NES classic...saw there was an update to support the SNES classic, dropped in the newer updated files into the same hakchi2 directory on my computer, plugged in my SNES Classic and went through the normal prompts.  Maybe there is an old mod th

[2017-10-24 20:50] Drakonas commented on #898
That would make hakchi use configs for NES Classic for the SNES Classic. DON'T DELETE YOUR DUMP FOLDER! It has your OG kernel in it!

[2017-10-24 20:59] ryandoll commented on #898
Yep, I backed those up already.  Cool, let me try again.  Thanks for the patience.

[2017-10-24 21:05] madmonkey1907 commented on #921
check if /bin/usleep is present and is a link to busybox without your fix applied.
don't just rm /bin/usleep though, do a memboot after that.

[2017-10-24 21:51] Megelith opened #934 "Cannot Flash Kernal / Sync Games. Already did both once."
I already was able to use hakchi2 once when it was first released for my SNES. Now every time I try it does not find the SNES mini. I have tried just using the power switch to sync and also reflashing the custom kernal and using the reset switch. Neither find the SNES mini. I have tried multiple USB ports on 2 different desktops and also on my laptop. None of them can find it. I have tried using t

[2017-10-24 21:57] Drakonas commented on #934
If you update hakchi in the same folder it is probably looking for an NES mini as the old version did not know between the two and it saves it in the config as NES mini. You should backup your dump, games_snes, user_mods folders and erase everything else (including config!!!) DO NOT DELETE DUMP folder, it contains your og kernel dump!

[2017-10-24 21:59] Drakonas commented on #922
@ClusterM @madmonkey1907  need you on this one. Should dav333 provide a NAND backup?

[2017-10-24 22:00] jaywilda9 opened #935 "Original SNES games not working"
So after i added the games i wanted, i checked them to see if if they work properly. But when i checked the original games so came on and no issues, other's the sound was really low. And some i would just get a black screen. Any one else have this problem? Any solution or advice to fix this would be great.

[2017-10-24 22:03] Drakonas commented on #758
@gromber There is not anything that can be done to compress canoe saves further. That is a Nintendo issue, not ours. The saves by default use that much.

[2017-10-24 22:04] #845 closed, assigned to Drakonas

[2017-10-24 22:07] Drakonas commented on #935
Please ask this on the https://www.reddit.com/r/snesclassicmods/ subreddit. This is not a place to ask for personal help with setting up Hakchi, but for submitting bug reports.

[2017-10-24 22:07] #935 closed, assigned to Drakonas

[2017-10-24 22:20] Hurgnation commented on #904
Thanks Drakonas, though I still can't seem to get it to work using this method, tried both "--retroarch --core fceumm" and "--retroarch --core nestopia". Has the same result as before, black screen for 5 seconds then returns to home screen. I've included a screenshot of hakchi2 in my system to see if there's something glaring that I'm missing if you don't mind having a look:

https://imgur.com/a/u

[2017-10-24 22:21] Megelith commented on #934
I extracted the latest version of Hakchi to a new folder. I copied the folders you mentioned to it as well. I still can't get hackhi to find my snes mini. I am using the cable that came with it but I have also tried a spare I have. I am selecting the US/Europe Snes when it prompts which is what I own. I'm not sure if this affects anything but in Device Manger it labels the SNES mini Unknown USB De

[2017-10-24 22:23] funkboy27 commented on #742
Okay cheers.  I believe it’s something to do with the hakchi folder as well. I didn’t want to have to rebuild my games list lol.

[2017-10-24 22:25] jaywilda9 commented on #935
oh ok

[2017-10-24 22:27] Drakonas commented on #904
Did you drag and drop the retroarch_with_cores.zip on the Hakchi2 window? And you did install the retroarch hmod correct? Have you tried deleting and re-adding your nes roms?

It seems the info i found on --retroarch --core is for use on the NES mini only. That was outdated info on the official github readme. I apologize. It should just be /bin/nes /etc/etc/etc.nes

Maybe I need to submit a pull r

[2017-10-24 22:33] Drakonas commented on #742
Wouldn't hurt. MAKE SURE TO BACKUP the dump folder above all else if you decide to reset your hakchi folder. It contains your OG kernel.

[2017-10-24 22:39] Drakonas commented on #934
you need to try a different port, possibly on the back of the PC. Or try a different PC altogether.

[2017-10-24 22:58] Megelith commented on #934
Okay I tried the ports on the back of my PC. They did not change anything. I tried the other ports on my laptop which also did not change anything. Then I tried the ports on the back of my newest PC and it gets stuck in a loop of the USB connecting and disconnecting.

Edit: I figured out that the disconnecting was my fault. I changed the usb port power settings and it no longer disconnects and rec

[2017-10-24 23:04] Drakonas commented on #934
Are you still using the original cable?

[2017-10-24 23:05] Megelith commented on #934
Yes.

[2017-10-24 23:09] Drakonas commented on #934
To be honest if these are both new PC's the ports may not be compatible. It's best to have an older 3.0 port or to have even a USB 2.0 port. Do you have any older PC's you can try? There's nothing else I can think of.

[2017-10-24 23:17] Megelith commented on #934
The first PC i tried has 2.0 ports on the mobo which I tried. The new one has 2.0 on the case which I also tried. I'm thinking at this point something strange happened when I synced the first batch of games on to it. I haven't seen anyone else with problems mention the name in the device manager being different like mine is. The SNES still is playable so it is not bricked. Sorry I can't provide mo

[2017-10-25 00:20] moltke44 commented on #904
So, my issues was with some of the SNES games actually. Some of those that needed retroarch. I ended up just actually grabbing ROMs from a couple different sources and actually most of them popped up. I don't know if this will help but you should at least try it something simple might just do the trick. By the way thanks for all the feedback I'm actually still going to try and get some of the more

[2017-10-25 00:33] madmonkey1907 commented on #921
I might know what's up.
rm -f /bin/usleep
ln -s /bin/busybox /bin/usleep
replace busybox binary with this https://busybox.net/downloads/binaries/1.21.1/busybox-armv7l
let me know if this fixes the issue.

[2017-10-25 01:20] Hurgnation commented on #904
sigh, turns out after all that, it was the roms I was using. Redownloaded them and they work fine. Thanks guys.

[2017-10-25 01:36] DanTheMan827 commented on #921
How are you supposed to replace busybox and `chmod +x` when chmod **is** busybox?

[2017-10-25 01:43] BillyDanzini500 commented on #584
If you’re having trouble finding the new/snes is “zadig” to find the driver for the system.  Here is the download link.. http://zadig.akeo.ie/downloads/
find the right zadig for your windows.

[2017-10-25 01:44] madmonkey1907 commented on #921
For now, just do /var/lib/hakchi/squashfs/bin/busybox chmod +x /bin/busybox

[2017-10-25 01:49] nex86 commented on #921
or just replace the busybox binary in hakchi2\mods\mod_hakchi\bin and reflash custom kernel ?

I'm going to try this later.

[2017-10-25 01:54] DanTheMan827 commented on #921
Well, I had to copy the binary to a temporary folder, `chmod +x` it, `rm /bin/busybox` and then use the squashfs busybox to move it back to /bin/

It did seem to fix the problem though...

But @madmonkey1907, what was the actual issue?

[2017-10-25 01:57] madmonkey1907 commented on #921
nex86, yes, but don't reflash, just do a memboot.
DanTheMan827, my love for upx. Since busybox binary is compressed, it was uncompressed each 200ms

[2017-10-25 01:58] DanTheMan827 commented on #921
@madmonkey1907 ah...

Well, you could still keep it compressed and use the couple kilobyte usleep binary separately

When you say memboot, do you mean "boot patched kernel from ram"?

I ask, because there have been times that I've borked the system requiring a complete re-install of hakchi... usually from a preinit.d script that I forgot the empty line at the end on that corrupted the entire prein

[2017-10-25 02:02] madmonkey1907 commented on #921
Yes, and yes.
But keeping it uncompressed is unnecessary at this point. I switched to uncompressed months ago, which is why I didn't expirience this issue.

[2017-10-25 02:03] madmonkey1907 commented on #921
Yes, you can restore from memboot. It  overwrites all mismatched files by those from initramfs.

[2017-10-25 02:25] Drakonas commented on #934
This may seem like a stupid question, but you are reconnecting the cable every time it tells you, correct? And you are then holding reset while you flick on the power switch, then letting go of reset ONLY if it connects? If it just sits there for more than 10 seconds, then something is wrong that I am unsure of.

[2017-10-25 02:56] Drakonas commented on #904
@moltke44 Tales of Phantasia uses some advanced code in-game that is unsupported by Canoe (most likely the voices in the intro). You'll need to resort to Retroarch for that game unfortunately. Ask for help on the SNES Classic Mods subreddit (https://www.reddit.com/r/snesclassicmods/) if you need assistance with setting that up. @Hurgnation Good to hear you found the issue.

[2017-10-25 02:56] #904 closed, assigned to Drakonas

[2017-10-25 03:06] Megelith commented on #934
Correct, I am reconnecting the cable before I hold reset and I do wait for the USB to connect to the PC before turn on the power switch.

Edit: Sorry. I meant I hold reset then hit the power switch, then wait until it connects to let go of reset.

[2017-10-25 03:23] Drakonas commented on #934
umm... I am not sure I understand correctly? You are disconnecting and reconnecting the USB, and THEN holding reset -> press power on, wait for the PC to attempting to recognize the device then let go of reset? If that doesn't work you need to try Zadig's driver solution some more. Other than that I don't know what to tell you. You might try asking on the subreddit to see if someone else is having

[2017-10-25 03:24] ReyVGM commented on #934
In my case, I've never had to reconnect the cable when prompted. Once the cable is connected and the SNES mini is recognized (you have to first turn it on by the way), all I do is turn off the system and then do the Hold Reset instructions.

[2017-10-25 03:26] Drakonas commented on #934
@ReyVGM if you want to risk there being residual power left in the system when you enter recovery mode, be my guest. The purpose is to have all power leave the system before entering recovery mode which may prevent any unknown issues.

EDIT: What I mean is it clears out the onboard temporary memory when you do it. For most electronics it is a good idea before flashing onto a chip. It may flash suc

[2017-10-25 03:30] ReyVGM commented on #934
Ah, didn't know that. Next time I'll disconnect when prompted.

[2017-10-25 05:47] lpossamai commented on #929
@Drakonas by pressing DOWN+SELECT for a second or two, it takes me to the main page and I can see the little icon blow the game as a Suspended Point. How can I save it tough? When pressing down again SNES freezes.

[2017-10-25 05:53] ReyVGM opened #936 "Axelay (SNES) graphic glitches"
This is very minor, but I wanted to report it just in case. But in Axelay, using canoe, on level 2 and level 6 there's a long horizontal line that appears near the bottom on the screen. In level 2 it appears near the middle of the level, and in level 6 it appears near the end of the level.

[2017-10-25 06:10] Drakonas commented on #929
I see....... @lpossamai I would advise uninstalling hakchi from the hakchi menu, then flashing OG kernel (making sure no md5 checksum errors occur), then go to the SNES Classic main menu and perform a factory reset (WILL DELETE ALL SAVE FILES, backup any you need with the savestate manager before uninstalling hakchi if you have any..), then flash custom kernel again. My guess is you have residual

[2017-10-25 06:11] Drakonas commented on #936
Please submit this to the compatibility list. https://docs.google.com/spreadsheets/d/12HKfz4ZQBy6Ip5awvh8t2aV5cVswYlnsdKxn9xoIW2Y/htmlview?sle=true# This issue tracker is for Hakchi bugs, not canoe bugs which are 99% Nintendo's code.

[2017-10-25 06:11] #936 closed, assigned to nobody

[2017-10-25 07:02] lpossamai commented on #929
@Drakonas that worked!!! I can now save the games... Thanks!

[2017-10-25 07:35] TechnoSurYoutube opened #937 "How to Update Hakchi please ?"
Hello,

Being on Version 2.21d of Hakchi and Version 1.0c of RetroArch, I would like to know how to update to the latest version of Hakchi because I saw this in the 2.21e "Scripts autoupdate, so you don't need to reflash custrom kernel after every update."

Thank you

[2017-10-25 09:37] codex785 commented on #878
![inkednot fixed_li](https://user-images.githubusercontent.com/32591366/31991788-e3aaa60a-b978-11e7-8daa-783d62141c2b.jpg)
not fixed 2.12e

[2017-10-25 10:32] efgamer commented on #921
Is it safe to update to the 2.21e now? I have heard from some people that 2.21e received an update. Does the files from zip were updated to?

[2017-10-25 11:26] efgamer opened #938 "Latest Hakchi2 stable version?"
This is related to the recent bug stated here:
https://github.com/ClusterM/hakchi2/issues/921

Ok. I know this is a question not a issue itself and shouldn't be here but I really need to know and no one better to answer this question than the developers themselves.

Is it safe to update to the 2.21e now? I have heard from some people that 2.21e received an update last night. Does the files from zi

[2017-10-25 12:34] ShizCalev commented on #938
As I stated on Reddit to your previous inquiry, 2.21e is affected by that bug, as per the issue report you linked. The update to 2.21e from last night was fixing an issue with titles being sorted incorrectly.

[2017-10-25 14:07] Shoothimnow commented on #935
I just went to the reddit, and there is a post saying to use https://www.reddit.com/r/miniSNESmods/ now.

[2017-10-25 15:07] nex86 commented on #921
oi I think leaving it uncompressed should speed some things up, and solve potential issues.
and how much do you save anyway from compressing busybox? maybe 400K? lol
I don't think there is a reason to leave it compressed.

do you have a uncompressed version of rsync as well?

[2017-10-25 15:12] DanTheMan827 commented on #938
If you want a fix without waiting for a full release, download [this file](https://busybox.net/downloads/binaries/1.21.1/busybox-armv7l) and save it in the `mods\mod_hakchi\bin` folder as `busybox` while replacing the original one.

Then you can either uninstall and reinstall hakchi, or use the "Boot patched kernel from RAM" option in hakchi2

This will also work with the webinstaller version if y

[2017-10-25 15:30] juanlin commented on #921
Replacing /bin/busybox with https://busybox.net/downloads/binaries/1.21.1/busybox-armv7l
fixed the issue for me too.

[2017-10-25 15:42] DanTheMan827 commented on #921
another positive effect of being uncompressed, boot time should be shorter now as well...

If every system command is done through busybox and that binary is compressed, **every command** was essentially UPX packed... `cp`, `mv`, `rm`, `cat`, and so on...

[2017-10-25 16:12] DecanFrost commented on #938
What does that feature do.. " Boot patched Kernal from ram" ?

[2017-10-25 17:16] efgamer commented on #938
@DanTheMan827 May I have to download the 2.21e portable version, put the busybox file in the mods\mod_hakchi\bin folder and flash the custom kernel? Is that it?

I'm back to 2.21b.. is it worth to update to 2.21e or should I stay with 2.21b until the next release?

[2017-10-25 17:58] paty6510 commented on #919
system worked fine until I modded it, tried plugging into wall and same thing. the system restarts 2 times while the power is on and then nothing, I followed syndrome208 tutorial any suggestions?

[2017-10-25 18:07] benwol94 opened #939 "Driver for SNES Classic"
Hi.  New to hakchi.  Question - when I installed the driver for the SNES Classic, Windows says it was installing the driver for the NES Classic.  Is that correct (because the hardware is basically identical)?  Or, was Windows supposed to use an SNES Classic-specific driver.

[2017-10-25 18:09] xorith commented on #939
That is correct, according to my own usage. You need to tell hakchi2 what console you have though, but the driver appears to be the same. Mine worked flawlessly. :)

[2017-10-25 18:12] Drakonas commented on #938
@efgamer he just said placing that file in the proper location fixes the bug that my issue (the one you linked) presented. @DecanFrost boot patched kernel from ram runs a custom kernel without actually installing it to the SNESC, so when you turn off the SNESC it is back to where it was before be it og kernel or your previous custom kernel.

[2017-10-25 18:16] Drakonas commented on #919
How many snes games did you install?

[2017-10-25 18:17] Drakonas commented on #935
That needs to be stickied. Thanks for the headsup @Shoothimnow

[2017-10-25 18:17] paty6510 commented on #919
300

Sent from Yahoo Mail for iPhone

On Wednesday, October 25, 2017, 2:16 PM, 3rdN3rd <notifications@github.com> wrote:

How many snes games did you install?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-10-25 18:18] Drakonas commented on #878
Make a new hakchi folder (extract the hakchi2_2.21e zip), and copy games_snes, dump, and user_mods folders to the new folder from your old folder.

[2017-10-25 18:20] Drakonas commented on #919
Then you installed way too many. lol Cut that down by 3x the amount and try again.

[2017-10-25 18:21] ReyVGM commented on #936
Thanks..

Axelay is only playable by adding it with hakchi, so I thought this was the correct place to report it.

How do I edit that compatibility list? I have a google docs account, but I don't see a button or anything to edit while on that list.

[2017-10-25 18:21] paty6510 commented on #919
It was at 255.3 and I’m allowed 257.7 mb 

Sent from Yahoo Mail for iPhone

On Wednesday, October 25, 2017, 2:20 PM, 3rdN3rd <notifications@github.com> wrote:

Then you installed way too many. lol Cut that down by 2/3's and try again.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-10-25 18:22] Drakonas commented on #919
Then the system has no room for save files. lol. You need to leave at least half the free space open for the SNES to use for other things.

[2017-10-25 18:23] paty6510 commented on #919
Okay what’s the best way to go about taking the games off?

Sent from Yahoo Mail for iPhone

On Wednesday, October 25, 2017, 2:22 PM, 3rdN3rd <notifications@github.com> wrote:

Then the system has no room for save files. lol. You need to leave at least half the free space open for the SNES to use for other things.

—
You are receiving this because you authored the thread.
Reply to this email direc

[2017-10-25 18:23] Drakonas commented on #919
Uncheck them in Hakchi and resync.

[2017-10-25 18:24] paty6510 commented on #919
Cool thank I will let you know if that works

Sent from Yahoo Mail for iPhone

On Wednesday, October 25, 2017, 2:23 PM, 3rdN3rd <notifications@github.com> wrote:

Uncheck them in Hakchi and resync.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-10-25 18:26] Drakonas commented on #919
If it doesn't you may need to uninstall hakchi altogether, perform a factory reset (will erase all your saves, but clear out residual data) and try again. Not sure if the SNES Classic has enough room to do anything. You've filled up all the memory. It's like filling up all the storage on a computer. It will have a hard time doing anything.

[2017-10-25 18:27] paty6510 commented on #919
I see people on the web putting that many games so I figured it would have worked 

Sent from Yahoo Mail for iPhone

On Wednesday, October 25, 2017, 2:26 PM, 3rdN3rd <notifications@github.com> wrote:

If it doesn't you may need to uninstall hakchi altogether, perform a factory reset (will erase all your saves, but clear out residual data) and try again. Not sure if the SNES Classic has enough room

[2017-10-25 18:31] Drakonas commented on #919
Maybe Atari games, but SNES games are like 20x as large. Save files use anywhere from 500KB to 2MB per save, sometimes more..... so it probably would just shut off when it tried to save because it didn't have room. It's generally smart to leave half the space free.

[2017-10-25 18:36] benwol94 opened #940 "Uninstall vs Flash Original Kernel"
What is the difference between doing an Uninstall and simply Flashing the Original Kernel?

When I did an Uninstall, the Uninstall process ran and I was then prompted to Flash the Original Kernel.  Is that normal?

[2017-10-25 18:40] Drakonas commented on #940
flashing an original kernel leaves the files on the main storage, uninstalling attempts to remove all mods, roms, and extra junk leftover by the hakchi install, but the initial part of the uninstall process just affects the storage, and the og kernel still needs to be flashed for the full uninstall.

For a complete factory reset, which is needed in dire cases, you can do that after the uninstall/o

[2017-10-25 18:43] Drakonas commented on #939
This is normal @benwol94 as long as you chose SNES as your platform you are fine.

Btw, please keep questions like this to the miniSNESMods subreddit or ask on the Nintendo Classics Discord server. This is bug tracker, not a question answer tracker.

[2017-10-25 18:43] #939 closed

[2017-10-25 18:44] benwol94 commented on #940
Thanks.  Sorry about that.  Will redirect in future.

[2017-10-25 18:44] #940 closed

[2017-10-25 18:50] Drakonas commented on #937
Please ask this on the MiniSNESMods subreddit next time. This is a bug tracker, not a personal help agent.

If you had read the FAQ, you would have had your answer: https://github.com/ClusterM/hakchi2/wiki/FAQ

[2017-10-25 18:50] #937 closed, assigned to nobody

[2017-10-25 19:01] djlong37718 opened #941 "NES Mini Classic - Cannot dump kernel"
Hello, I have used the hackchi program to add games on my SNES mini and had no trouble. I recently managed to get a NES mini and tried to add NES games on it using hackchi. I was unable to dump the kernel. I followed the steps and received the following message "NES Mini not found, sorry" and to Press enter to exit. I was using the same computer as when I added games on my SNES and I was using the

[2017-10-25 19:08] ReyVGM commented on #941
For NES Mini I recommend you just download the hakchi las updated for NES Mini specifically and before it included the SNES Mini.

[2017-10-25 19:41] Drakonas commented on #921
The issue is somewhat fixed with that busybox but I am still getting a slight bit of fluctuation @DanTheMan827 not nearly as noticeable though, but if you run Yoshi and sit on the title screen with the island you can hear it if you pay attention.

[2017-10-25 19:57] nex86 commented on #921
with busybox being uncompressed it should take less cpu usage now.
not sure what else there is in the background that needs cpu, clovershell maybe.

Also, is it normal that there are two clovershell processes running at the same time but each have a different PID?

[2017-10-25 20:11] DanTheMan827 commented on #921
@Drakonas After replacing `busybox`, I hear no difference with or without `remote-exec` running, maybe temporarily boot the original kernel from ram and see if it's still there?

[2017-10-25 20:16] Drakonas commented on #921
@DanTheMan827 I booted OG kernel from RAM and it's near identical, but it has perfect audio. The busybox provided here still has tiny barely noticeable pitch changes if you listen closely. I did not link usleep to busybox though. Do I still need to do that? I only installed the replacement busybox executable.

UPDATE: It seemed to be residual data left in my savestate. Starting a fresh game fixed

[2017-10-25 20:23] nex86 commented on #921
alright, I replaced busybox in hakchi, I was gonna do a full reflash anyway

[2017-10-25 20:28] DanTheMan827 commented on #921
@Drakonas /u/mgede went and made a hmod of the changes in my branch, do you notice the pitch deviations with that?

https://drive.google.com/open?id=0B6sdXoz5SC55bENhQnRCVVI1NGM

The only thing I can think is that simply running `remote-exec`, even with uncompressed busybox, is just making the emulator glitch out randomly...

It could also be clovershell... you could try killing that and `remote-e

[2017-10-25 21:20] LeanderAT opened #942 "SNES Classic Mini - shuts down randomly"
After having zero problems at all my SNES Classic Mini shuts down randomly from time to time. Hakchi latest version, RetroArch, Kyland K custom cores.

https://www.youtube.com/channel/UCoRrbw6gyi4KRPGUNnVVjMQ

SNES, NES, Megadrive and MAME games.

Played Donkey Kong, NES version...made my way up to the prinzess...then the SNES powered down...

Any ideas?

[2017-10-25 22:04] hoderer commented on #942
Try changing your power supply. I noticed that it makes a huge difference using different cables/power adapters. I'm on the same setup as you and had random shutdowns from time to time before I changed my power cable and adapter. I know it sounds strange, but there's a good change that that is the solution. Let me know if it worked. Good luck :)

[2017-10-25 22:15] gdanz commented on #941
I messed up mine today. when i try to dump the kernel, it states can't unpack ramdisk.  I have no idea what this means. I'm using the Hackchi program as well. When trying to flash custom kernel, it states sequence contains no elements.

[2017-10-25 22:19] ghost commented on #921
https://www.reddit.com/r/miniSNESmods/comments/78i9vv/temporary_fix_for_slowdown_loop_bug_thats_been/dovm9wq/

Cluster just commented this issue one hour ago in this thread stating that it: "Will be fixed soon."

Great news!

[2017-10-25 22:20] LeanderAT commented on #942
Thanks for your reply! I use the default cable and connect it to a USB port with 5V power supply. I only had these shut downs at a friend's...not at home...however, I took everything to his place...so it shouldn't make a difference.

I stumbled over the USB port on the floor yesterday..and kicked it around. Maybe the connection is loose now. I have to test it at home.

[2017-10-25 22:20] gdanz opened #943 "Bricked My Nes Classic Help"
I messed up my NES Classic today. When i try to dump the kernel, it states can't unpack ramdisk. I have no idea what this means. I'm using the Hackchi program as well. When trying to flash custom kernel, it states sequence contains no elements. Also, when i pug the nes into the tv it keeps turning on and off. Should i just throw it in the trash?

[2017-10-25 22:20] ghost commented on #938
Cluster just announced that this will be fixed soon.

[2017-10-25 22:24] hoderer commented on #943
Thats the kind of post which should to a forum like GBAtemp for example. This is an issue board and your specific question/problem is more of a community one and most likely an user and not a software issue.

[2017-10-25 22:30] gdanz commented on #943
Am I in the wrong place? I though you could ask questions here.

[2017-10-25 22:41] ReyVGM commented on #941
Move the hakchi folder to drive c.

[2017-10-25 22:41] ReyVGM commented on #943
Move the hakchi folder to drive c.

[2017-10-25 22:43] gdanz commented on #943
ReyVGM, what's that mean? It's in a folder on the desktop. Really not sure where the C drive is?

[2017-10-25 22:49] gdanz commented on #943
ReyVGM, do I move the whole folder or something? Please help.

[2017-10-25 23:13] gdanz commented on #943
So I moved the whole folder to the C drive. Opened it and tried to dump the kernel and it's giving me a can't unpack ramdisk error.

[2017-10-25 23:32] gingerbeardman commented on #942
I ask had this using two different USB ports (Switch dock and my projector) until I started to use an iPhone USB plug. Mini seems really picky about power source.

[2017-10-25 23:58] Drakonas commented on #942
Yes, you need to try different power plugs, preferably one that provides more power.

[2017-10-25 23:59] Drakonas commented on #943
You need to ask this on the GBA Temp forums or https://www.reddit.com/r/miniSNESmods/ subreddit. You will get quicker answers there. This is not a personal help line. This is for submitting bugs with Hakchi's code.

[2017-10-25 23:59] #943 closed, assigned to nobody

[2017-10-26 00:02] Drakonas commented on #941
@djlong37718 it would be best to ask this on https://www.reddit.com/r/miniSNESmods/ subreddit or GBA Temp. This issue tracker is not a personal help line with computer issues. It is for submitting bugs with Hakchi's code. Considering other people have it working fine, you will get a quicker answer at one of those places.

[2017-10-26 00:02] #941 closed, assigned to nobody

[2017-10-26 00:30] nex86 commented on #921
yea he already messaged me on twitter. I just wonder what method is he gonna pick to fix it :p

[2017-10-26 00:31] chaosrefugee opened #944 "QSound error message after Updating to 2.21e"
I updated today to the latest version of hackchi2 and was trying to add some new games including an arcade game. I included the qsound.zip in the game folder and proceeded to sync. I ended up getting an error message that says "Access to the path QSOUND.ZIP is denied" and it stopped the sync. I unselected the arcade game and still got the error message. After completely removing the game folder, t

[2017-10-26 01:07] DanTheMan827 commented on #921
@Drakonas I booted the OG kernel from RAM and, to me, it sounded exactly like with the hakchi kernel...

It's very minor, but it's still there, even with the stock kernel...

[2017-10-26 01:33] RaZer0k opened #946 "Invalid console selected"
trying to flash my mini Snes:

Invalid console selected! Detected console: SNES   at com.clusterrr.hakchi_gui.WorkerForm.DoKernelDump(String dumpPath, Int32 maxProgress, Int32 progress) in D:\Projects\C#\hakchi2\WorkerForm.cs:line 511
   at com.clusterrr.hakchi_gui.WorkerForm.FlashKernel() in D:\Projects\C#\hakchi2\WorkerForm.cs:line 544
   at com.clusterrr.hakchi_gui.WorkerForm.StartThread() in D

[2017-10-26 01:34] Drakonas commented on #946
Have you chosen SNES Mini as your primary platform in the Settings -> Console Type.

[2017-10-26 01:39] Drakonas commented on #921
@DanTheMan827 So it seems that the busybox excecutable that was provided causes game demo mode to break. Once it loads a savestate from a non-original rom, it plays it as normal for 30 seconds or so and then C8 errors. Going back to original busybox executable fixed that, but the Yoshi's Island problem remains.

[2017-10-26 01:54] ghost commented on #942
The AC adapter supplied with the NA SNESC has these specs listed on the bottom:

Input: 100-240V~50-60 Hz0.2A
Output: 5.0V-1.5A

Not every USB adapter has the same input/output, so if you are using a different adapter (like if you are using a generic adapter with a Super Famicom), make sure it has the same ratings, otherwise you may experience power related issues.

[2017-10-26 01:56] Drakonas commented on #942
They come with one? There wasn't one in my box o.O. Even though I picked it up from Gamestop. Lol. Thanks for the info.

[2017-10-26 01:58] #747 closed, assigned to nobody

[2017-10-26 02:13] RaZer0k commented on #946
Yes i performance a uninstall and then a flash original kernel. But the result was a invalid dump md5.

Here is the log doing a full circle...uninstall...original...custom
[debuglog.zip](https://github.com/ClusterM/hakchi2/files/1416773/debuglog.zip)

[2017-10-26 02:39] Timedye commented on #853
Thanks for the tips, Drakonas.

I didn't realize that the "Uninstall" option was for removing hakchi from the SNES Classic, I thought it was to uninstall it from the computer, so I assumed that flashing the original kernel to the system also removed hakchi files from the SNES Classic.

I've just followed the steps you suggested, and so far I've managed to reboot the system a few times without the

[2017-10-26 02:44] RaZer0k commented on #946
i check what happen... my custom kernel was installed with 2.20 but i uninstall with 2.21e so when the uninstall popup to accept install original kernel... this try to dump again... but the md5 result dont mach with the list.

Doing a menu flash original kernel with my original dump. Correct the problem. The popup from uninstall option that tell you to install original kernel. dont have to dump ag

[2017-10-26 02:46] Drakonas commented on #946
Is the problem fixed? Do I understand correctly? If it is fixed, please close this issue.

[2017-10-26 02:47] dav333 commented on #922
I hope so.  I've tried a few more times with the entire process and only get to the point of being able to synchronize, when the same error as above occurs.  I do plan to donate.  I even started from scratch again with a fresh download of the latest hakchi2 version, got a new ROM so there would only be one game.  Still get the same results.

[2017-10-26 02:48] #946 closed, assigned to nobody

[2017-10-26 02:49] ajmi982 commented on #921
And we need a proper clusterm fix. Case and point right here. :/

Sent from my iPhone. Please pardon any spelling or grammar mistakes.

On Oct 25, 2017, at 9:39 PM, 3rdN3rd <notifications@github.com> wrote:

So it seems that the busybox excecutable that was provided @DanTheMan827 causes game demo mode to break. Once it loads a savestate from a non-original rom, it plays it as normal for 30 seconds

[2017-10-26 05:01] Blaze1499 commented on #517
I had the same issue as @risus-sardonicus. Using a Ryzen 1700 with ASUS Prime B350-plus mobo, couldn't resolve the issue. Moved everything to a USB and got it to work on both my i5-7200u laptop and my i3-6100 with a h110m mobo. Issue is still a mystery to me so beware Ryzen owners, you may not be able to use hackchi until this is resolved. Will edit if I find a solution

[2017-10-26 05:03] Cameron1391 commented on #880
Thanks, I will let you know how it goes when I try different Windows . I
have a Windows 10, maybe that's why I was having issues

On Tue, Oct 24, 2017 at 4:43 PM, 3rdN3rd <notifications@github.com> wrote:

[2017-10-26 05:05] juanlin commented on #944
Possibly related to #665
AV is flagging hakchi2. Fix is in that thread.

[2017-10-26 06:22] techhitnz opened #947 "PS2 to Wii Controller Converter Support"
It would be awesome if you could add support for the following [PS2 to Wii Converter](https://www.aliexpress.com/item/Game-Controller-Adapter-Player-Converter-for-PS2-to-for-Wii/32813664614.html?spm=2114.search0104.3.1.ckxAtE&ws_ab_test=searchweb0_0,searchweb201602_5_10152_10065_10151_10344_10068_10345_10342_10547_10343_10340_10341_10548_10541_10084_10083_5370020_10307_10175_10060_10155_10154_1005

[2017-10-26 07:02] gingerbeardman commented on #942
@Drakonas only the USA version comes with AC adapter https://www.nintendo.com/super-nes-classic/

[2017-10-26 07:59] ghost commented on #942
Sorry, “NA” stands for North American. The information I provided was from the North American SNESC’s supplied AC adapter.

[2017-10-26 08:24] sevenx4life opened #948 "Hakchi2 won't start after update"
I just updated hackchi2 and it won't load. This is a screenshot of the error I am getting. Any ideas of how to fix this?
![image](https://user-images.githubusercontent.com/33117097/32042434-7c53c29c-ba05-11e7-8704-6bbc3d1f859d.png)

[2017-10-26 08:26] meegle84 commented on #524
Same issue here.

[2017-10-26 09:12] codex785 commented on #878
doesn't change a thing. issue still there
text is still "illustration" instead of "pochette"

[2017-10-26 09:12] TechnoSurYoutube commented on #937
I already read the F.A.Q but I try to update hakchi2 in my console but not the Windows program because I already know how to do it!

The F.A.Q describes that the updated part programs Windows but not that of the Console!

What handling should I do?
And excuse me for putting my question in the bug tracker because I did not know or put the question!

[2017-10-26 09:18] Timedye commented on #853
Problem re-manifested this morning. I played some SNES roms, NES roms, and GBA roms without incident. Fooled around in a bunch of different games for about an hour. Then I powered the system down, waited about 30 seconds, powered it back on, and the sound is out of sync with the video again. And this in spite of doing a system reset and a fresh re-install of hakchi. Sigh.

[2017-10-26 09:21] Timedye commented on #853
Incidentally, no checksum errors during flashing. No errors of any kind, so far as I can tell.

[2017-10-26 09:35] Hurgnation opened #949 "changing homescreen music?"
Hi there.

Was wondering if there's currently a way to change the music on the home screen? It might just be me, but I find it really grating when I'm playing a game and jump back to the menu to save or load a state. Ideally, I'm thinking of replacing it with something like the Super Metroid title music which I think might fit nicely, but I'm not seeing an option in hakchi2.

Has this been done be

[2017-10-26 09:37] Timedye commented on #853
So, after some fiddling around, it appears to be a problem with how the SNES Classic fires up through my Sony TV. I have my surround sound (which acts as a pass-through for my computer, PS4, and satellite box) plugged into HDMI 1, and the SNES Classic plugged into HDMI 2.

If I boot the SNES Classic up with the TV set to HDMI 2, the sound is out of sync no matter what I do. But if I boot the syste

[2017-10-26 09:47] juanlin commented on #949
Check your hakchi2\user_mods\music_hack.hmod folder.

[2017-10-26 09:48] KinnusJarkki commented on #517
Had the same problem. Got the error many many times with my computer which has Ryzen 1600 processor, tried different usb cables and ports, error all day long.
First try with my other computer (no Ryzen there), everything worked properly.

[2017-10-26 10:51] Hurgnation commented on #949
you're awesome!

[2017-10-26 13:28] dokro commented on #271
I solved changing the usb port. Try them all :)

[2017-10-26 13:49] Shoothimnow commented on #947
I'm sure if you purchase an adapter for one of the coders, they would better be able to assist you.  But seeing that you might be the only person to have this (as they most likely don't), then the likeliness of them getting to this before anything else is waaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaay low in priority.

Again, if you were to get them one, they

[2017-10-26 14:06] Drakonas commented on #947
This would be a limitation of the (S)NESC hardware. Hakchi can't really do anything to affect supported controllers/adapters. You just have to find an adapter that works.

[2017-10-26 14:06] #947 closed, assigned to Drakonas

[2017-10-26 14:08] #949 closed, assigned to nobody

[2017-10-26 14:14] Drakonas commented on #271
@hitmanjustin is this still an issue for you? This is really just a USB port powering problem, and has nothing to do with Hakchi.

[2017-10-26 14:17] Drakonas commented on #948
Delete everything but the user_mods, dump (DO NOT DELETE DUMP), and games_snes folders and copy a fresh install of hakchi2 in its place. If you are using the web installer, do the same (the folders) for the AppData hakchi folder and reinstall hakchi2.

[2017-10-26 14:19] Drakonas commented on #944
This is an antivirus problem. You need to add an exception for the qsound.zip to your antivirus.

[2017-10-26 14:20] Drakonas commented on #853
@Timedye you need to try plugging the SNES Classic into some other power source. The port is probably not providing enough power. The problem is not the HDMI most likely.

[2017-10-26 14:21] LeanderAT opened #950 "Amdstrad CPC core: How can you type/run a game?"
Amdstrad CPC core: How can you type/run a game?

Pressing the gamepad buttons only types Y, Z etc...how can I run a game? Do I have to use a command in the command line?

At the moment I only have /bin/cpc /usr/share/games/CLV-Z-QXHMV/romname.dsk.7z

[2017-10-26 14:22] Drakonas commented on #937
@TechnoSurYoutube Sorry if I sounded harsh. Lots of tickets coming through lately, and it's hard to manage all of them. Uninstall Hakchi, flash OG kernel, then flash custom kernel with the update. This will not affect your save files, but you may need to resync your games.

[2017-10-26 14:23] Drakonas commented on #950
Cluster did not make this core. You need to ask this of the person who made it. Thanks.

[2017-10-26 14:23] #950 closed, assigned to Drakonas

[2017-10-26 14:41] Paul330 commented on #934
Did you find a solution for your problem? I am stuck with the same issue. Already used different cables and ports. When I flash the custom kernel the PC disconnects the SNESC at about 75% of progress and doesn't reconnect it. Also installed Zadig 2.3.701 for Windows 10 64bit and installed Driver WinUSB (v6.1.7600.16385) on the SNESC without any problem when the original kernel was flashed. But not

[2017-10-26 15:02] Drakonas commented on #938
@lich1708 @efgamer which is a good thing because the fix by DanTheMan827 breaks game demo mode. :/

[2017-10-26 15:03] Drakonas commented on #938
Because this isn't really a bug report, I am closing this issue, but leaving the topic open for discussion.

[2017-10-26 15:03] #938 closed, assigned to nobody

[2017-10-26 15:03] #929 closed, assigned to nobody

[2017-10-26 15:07] Drakonas commented on #942
Just an FYI, a legitimate AC Adapter can be picked up from the Nintendo online store: https://store.nintendo.com/ng3/us/po/browse/productDetailColorSizePicker.jsp?&productId=prod930020&categoryId=cat870406

@LeanderAT Did you ever get this working?

[2017-10-26 15:08] Drakonas commented on #893
@MikeBpro Did you ever get this resolved?

[2017-10-26 15:09] Drakonas commented on #919
@paty6510 did you ever get this resolved?

[2017-10-26 15:09] Drakonas commented on #918
@daveDGAZ did this ever get resolved?

[2017-10-26 15:09] Drakonas commented on #908
@JFork36 did this ever get resolved?

[2017-10-26 15:10] Drakonas commented on #897
@krec9 do you still need help with this?

[2017-10-26 15:13] Drakonas commented on #894
The real solution to this tbh is to use two separate Hakchi folders for NES and SNES. Are you still needing this issue open @Pandahboy ? If you want this to be a feature request it should be listed as such.

[2017-10-26 15:14] Drakonas commented on #892
@djritz0 are you still having problems with this?

[2017-10-26 15:15] Drakonas commented on #883
@djritz0 are you still having problems with this?

[2017-10-26 15:16] #882 closed, assigned to Drakonas

[2017-10-26 15:17] #875 closed, assigned to nobody

[2017-10-26 15:17] Pandahboy commented on #894
That is actually a very good solution. Thank you for the advice. I was just really frustrated because I had everything just the way I like it and then everything got erased twice.

[2017-10-26 15:17] Drakonas commented on #869
@MrPokemon270588 are you still having problems with this?

[2017-10-26 15:20] Drakonas commented on #868
The SNES Classic can only handle so many games listed in one list. That is not a Hakchi limitation, but a hardware limitation. Closing this.

[2017-10-26 15:20] #868 closed, assigned to Drakonas

[2017-10-26 15:20] MrPokemon270588 commented on #869
Didn't have a chance to play.  The next time I experience the problem, i'll post here.

[2017-10-26 15:20] #867 closed, assigned to Drakonas

[2017-10-26 15:21] #865 closed, assigned to Drakonas

[2017-10-26 15:21] #864 closed, assigned to Drakonas

[2017-10-26 15:21] Drakonas commented on #869
Closing the issue until then. I will still see your response.

[2017-10-26 15:21] #869 closed, assigned to Drakonas

[2017-10-26 15:23] #826 closed, assigned to Drakonas

[2017-10-26 15:23] Drakonas commented on #855
@JustInsane360 has this been resolved?

[2017-10-26 15:24] Drakonas commented on #842
@DefKorns just to check back in after a while. Is this still an issue?

[2017-10-26 15:24] Drakonas commented on #839
@clubbedmink are you still having issues?

[2017-10-26 15:25] Drakonas commented on #836
@Slugoid @atarimonkey2000 The Famicom Mini's built in emulator doesn't support FDS games... you need to run the game with retroarch using the nestopia core (fceumm core doesn't support FDS either)

[2017-10-26 15:28] #813 closed, assigned to Drakonas

[2017-10-26 15:29] Drakonas commented on #810
Not entirely sure if modifying integral parts of the UI like this is possible.

[2017-10-26 15:29] atarimonkey2000 commented on #836
@Drakonas what you talking about?!? Of course the Famicom mini supports FDS games, it comes with 4 of them built in! (Zelda, Zelda 2, Metroid, Castlevania).

[2017-10-26 15:30] Drakonas commented on #798
This user has made 3 tickets for the same issue. Closing this one.

[2017-10-26 15:30] #798 closed, assigned to Drakonas

[2017-10-26 15:31] Drakonas commented on #836
Those aren't Famicom Disk System games....

[2017-10-26 15:32] Drakonas commented on #836
I am sorry I was wrong. I'm not as familiar with the NES games. haha

[2017-10-26 15:34] Drakonas commented on #836
@atarimonkey2000 Are you still having the issue?

[2017-10-26 15:34] atarimonkey2000 commented on #836
I think your confusing the Famicom Mini with the Nes mini! The Famicom mini has 4 FDS games, and after i installed an older version of Hackchi2 (without retroarch) it ran all fds games i tested. It's the latest version of Hackchi that seems to refuse to run the built in FDS games.

[2017-10-26 15:35] atarimonkey2000 commented on #836
yeas, still having issues with the latest version of hackchi im afraid! :(

[2017-10-26 15:36] Drakonas commented on #836
Ah I see... I will change the label then, and see if we can get this fixed. But to be honest the newer releases are really focusing the SNES Classic.

[2017-10-26 15:38] Drakonas commented on #776
@Zero042 @billiumw @Lissard This can be addressed by backing up your saves, performing an uninstall of hakchi from the SNES Classic using the hakchi tool, then flashing og kernel making sure you do not get a md5 checksum error, and performing a factory reset from the SNES Classic main menu (WILL ERASE ALL SAVES). Then flash custom kernel again afterwards. There are most likely residual files from

[2017-10-26 15:39] LeanderAT commented on #942
I have a USB port with 5V power. Everything works at home but not at a friend's. It could be that the cable wasn't inserted properly...or moved a bit during play.

[2017-10-26 15:40] atarimonkey2000 commented on #836
@Drakonas thank you! :)

[2017-10-26 15:40] Drakonas commented on #942
@LeanderAT there are like 20 different types of 5V adapters. The volts make no difference. It's the amps that matter. Look at maskedmanic's first post. You need one with 1.5A (1500mA) of power or close to it.

Also @gingerbeardman @maskedmaniac my version was NA version :/

[2017-10-26 15:45] Drakonas commented on #784
We need more details from the OP, but they haven't responded. The moral of the story is to buy the region of the SNES Classic you plan to play games from. This isn't a hakchi limitation but a Nintendo firmware limitation. Japanese Super Famicom Classic has different compatibility from the EUR and American SNES Classics. Closing this ticket until further notice. If anyone has trouble running a norm

[2017-10-26 15:45] #784 closed, assigned to nobody

[2017-10-26 15:47] #777 closed, assigned to nobody

[2017-10-26 15:50] Drakonas commented on #762
@HtheB are you still having trouble with the google search. I can't reproduce the issue. It works fine for everyone as far as I've seen. If you still have a problem, what country are you in?

[2017-10-26 15:52] Paul330 commented on #584
Zadig didn't help so far. I used zadig 2.3 for Windows 10 64bit and installed WinUSB (v6.1.7600.16385) but nothing changed. SNESC connection is lost during flashing the custom kernel and the device is no longer found.

[2017-10-26 16:06] juanlin commented on #382
@ClusterM Mind if I take a crack at this?

[2017-10-26 16:27] msettlemeyer opened #951 "Google search for images fails after new update was pushed"
Attempting to use the "google for images" feature now times out every time it's used.

[2017-10-26 16:29] Drakonas commented on #951
What region are you in? What version specifically are you using? what platform? What windows version? We need more details other than "Not working".

[2017-10-26 16:32] daveDGAZ commented on #918
Yeah, turns out I was downloading virus filled ROMs that almost killed my
laptop. Took me a couple days to repair it, now I'm getting ROMs from
another source and it's all working well, thanks

On Oct 26, 2017 8:09 AM, "3rdN3rd" <notifications@github.com> wrote:

[2017-10-26 16:33] msettlemeyer commented on #951
US region. v2.21e was what I was using before I was pushed an update last night. I'd give you the new version, but I don't have my machine with me at the moment.

[2017-10-26 16:34] Drakonas commented on #951
What update are you talking about? 2.21e is the latest version still...

[2017-10-26 16:40] msettlemeyer commented on #951
Ok, maybe my machine is compromised then. Does hackchi even have the ability to push updates?

[2017-10-26 16:44] Drakonas commented on #951
No.

[2017-10-26 16:44] #918 closed, assigned to Drakonas

[2017-10-26 16:45] Drakonas commented on #764
Is it working now @Redghost22 ?

[2017-10-26 16:46] Drakonas commented on #761
You need to be uninstalling hakchi, flashing og kernel, then flashing custom kernel in that order.

[2017-10-26 16:46] Drakonas commented on #761
@nekod-aisuki @jaycaesar are you still having trouble with this?

[2017-10-26 16:47] paty6510 commented on #919
I did not. I put it back to stock and works fine, gonna wait and see if they come up with a better way or something 

Sent from Yahoo Mail for iPhone

On Thursday, October 26, 2017, 11:09 AM, 3rdN3rd <notifications@github.com> wrote:

@paty6510 did you ever get this resolved?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-10-26 16:49] Drakonas commented on #919
To be honest, most random shut offs are caused by not providing enough power to the console. The console needs more power with Hakchi installed. Have you tried other USB ports or using different power adapters? This issue needs to be closed if you are done with trying as it is not really a Hakchi bug.

[2017-10-26 16:50] #757 closed, assigned to Drakonas

[2017-10-26 16:51] Drakonas commented on #744
@Hidki has answered this question. Video Guide: https://www.youtube.com/watch?v=Dahbyi3MQ08