[2017-10-26 16:51] #744 closed, assigned to Drakonas

[2017-10-26 16:53] djritz0 commented on #883
Yes. I've reset the box to factory by uninstalling hakchi and starting over. Still manages to reset sometimes, but usually after some play time. Not sure if this is related to the soft reset as it's usually initiated by a few soft resets to menu. Then will randomly crash after some gameplay has occurred. Not often, but enough to be annoying. Also when it crashes, takes a few mins to go back to the

[2017-10-26 16:54] Drakonas commented on #731
Have you tried manually updating?

[2017-10-26 16:56] sevenx4life commented on #948
Thank you, that did the job! :)

[2017-10-26 16:56] Drakonas commented on #883
@djritz0 Uninstalling Hakchi doesn't erase everything. You need to backup your saves, perform an uninstall, flash og kernel, then perform a factory reset from the SNES Classic menu (THIS WILL ERASE ALL SAVES). There are probably residual files left over from bad/old hakchi installs causing problems.

[2017-10-26 16:57] Drakonas commented on #883
By the way your email reply included private phone numbers and other info. You really need to not reply from a business email unless you don't use that signature. :P I redacted the info from your message.

[2017-10-26 16:58] #948 closed, assigned to Drakonas

[2017-10-26 16:59] Drakonas commented on #951
Apologies, if you're using the web installer it may have auto update function. Try going to your Hakchi AppData folder, deleting everything but games_snes, config, user_mods and dump (DO NOT DELETE DUMP UNDER ANY CIRCUMSTANCES), then reinstall hakchi with the latest update manually.

[2017-10-26 17:06] Drakonas commented on #725
This is honestly a bit advanced for the FAQ. We really made the FAQ for newbies. We also don't really wish to risk filesystem replacements like this. If people want English they should wait to buy a European/American SNES Classic instead of buying from a scalper. Nintendo is releasing more throughout the holidays.

[2017-10-26 17:06] #725 closed, assigned to nobody

[2017-10-26 17:07] Drakonas commented on #725
Also the FAQ Is for Hakchi-related stuff.. this is a Famicom vanilla fix really.

[2017-10-26 17:08] #720 closed, assigned to nobody

[2017-10-26 17:09] Drakonas commented on #719
The answer to question 1 is to remove the --no-smooth from the command line and resync your games.

[2017-10-26 17:10] #704 closed, assigned to nobody

[2017-10-26 17:13] Drakonas commented on #703
Use separate folders for different SNES Classics. Also, it always says installing "NES" drivers even for SNES Classics. That shouldn't affect your issue.

[2017-10-26 17:13] Drakonas commented on #703
Are you still having issues @xela224 ?

[2017-10-26 17:15] Drakonas commented on #702
Is this still an issue @originalbadboy @RoberMC

[2017-10-26 17:16] #701 closed, assigned to nobody

[2017-10-26 17:16] #942 closed, assigned to Drakonas

[2017-10-26 17:18] originalbadboy commented on #702
We still cant select pixel perfect & scanlines, so yes.

[2017-10-26 17:18] Drakonas commented on #699
Guys this is not a discussion thread. Please stay on topic. Keep discussion elsewhere on forums, reddit, or discord.

[2017-10-26 17:19] #700 closed, assigned to nobody

[2017-10-26 17:20] Drakonas commented on #697
The problem is you need to get proper roms @snessy7, which always have .md as the extension. Use No-intro sets. Have you fixed this since then?

[2017-10-26 17:21] Drakonas commented on #742
Has this been fixed @funkboy27 ?

[2017-10-26 17:22] tygill commented on #910
Someone over on reddit seems to have possibly figured out how to convert save states to the 'autoplay' classic demo format:
https://www.reddit.com/r/miniSNESmods/comments/78wq01/creating_a_classic_demo_for_an_added_rom_canoe/

According to the post, converting a save state is just renaming some things inside the save state (prefixes change from numbers to capital letters, and .break files become .

[2017-10-26 17:23] Drakonas commented on #698
Please refrain from posting links to copyrighted content, unless you want Nintendo to DMCA Hakchi.

[2017-10-26 17:23] #698 closed, assigned to nobody

[2017-10-26 17:35] RoberMC commented on #702
Latest Release 2.21e, adding -magfilter and/or -filter parameters to global commands have no effect, not sure about other parameters. So yes, this is still an issue.

[2017-10-26 17:55] Drakonas commented on #695
@StupidKernel was this resolved?

[2017-10-26 17:56] #691 closed, assigned to nobody

[2017-10-26 17:58] Drakonas commented on #689
A quick google search turns up the answer: https://www.reddit.com/r/miniSNESmods/comments/761m8j/srm_to_canoecloverclvs_converter/?st=j98rvhjr&sh=2711b33c

[2017-10-26 17:58] #689 closed, assigned to nobody

[2017-10-26 17:59] #684 closed, assigned to nobody

[2017-10-26 18:00] Drakonas commented on #680
13 days ago this was fixed by Cluster. Closing.

[2017-10-26 18:00] #680 closed, assigned to nobody

[2017-10-26 18:01] Drakonas commented on #677
Change the preset ID to A210 (ctrl+alt+e) to fix trasparency issues.

[2017-10-26 18:01] #677 closed, assigned to nobody

[2017-10-26 18:01] Drakonas commented on #917
Change the preset ID to A210 (ctrl+alt+e) to fix trasparency issues.

[2017-10-26 18:02] Drakonas commented on #784
Change the preset ID to A210 (ctrl+alt+e) to fix trasparency issues.

[2017-10-26 18:03] #683 closed, assigned to nobody

[2017-10-26 18:04] Drakonas commented on #681
@Makiaveli25 are you still having trouble?

[2017-10-26 18:05] Drakonas commented on #678
Confirmed.

[2017-10-26 18:06] #676 closed, assigned to nobody

[2017-10-26 18:07] Drakonas commented on #674
Duplicate of #620 closing.

[2017-10-26 18:07] #674 closed, assigned to nobody

[2017-10-26 18:08] Drakonas commented on #668
I am using two 8bitdo retro receivers with no issues. Make sure you are using a usb port that is providing enough power. I've had issues when not providing enough power to the SNES classic.

[2017-10-26 18:08] #668 closed, assigned to nobody

[2017-10-26 18:09] Drakonas commented on #670
Since the OP has not responded I am closing this.

[2017-10-26 18:09] #670 closed, assigned to nobody

[2017-10-26 18:10] #665 closed, assigned to nobody

[2017-10-26 18:11] Drakonas commented on #660
Duplicate of #620. Closing.

[2017-10-26 18:11] #660 closed, assigned to nobody

[2017-10-26 18:12] Drakonas commented on #659
@Galokz Have you actually installed the retroarch module along with the SNES9x2010 core? Or were you trying to run retroarch without having retroarch installed on the Snes Classic...

[2017-10-26 18:12] Drakonas commented on #657
This does not have to do with Hakchi. This is a SNES Classic limitation. Nothing Hakchi does will fix this. I'm sorry.

[2017-10-26 18:12] #657 closed, assigned to nobody

[2017-10-26 18:13] Drakonas commented on #655
Is this still an issue @DanyMode8 ?

[2017-10-26 18:17] Drakonas commented on #651
This has been fixed.

[2017-10-26 18:17] #651 closed, assigned to nobody

[2017-10-26 18:19] Drakonas commented on #650
@NateKush86 how much space do you have free on your SNES. You really want to have about half or more free to save room for saves. Also C8's tend to happen when the storage gets more full.

[2017-10-26 18:20] Drakonas commented on #648
Have you tried uninstalling hakchi2, flashing original kernel AND then performing a factory reset from the main menu of the SNESC? WARNING THIS WILL ERASE ALL SAVES, but it is necessary to remove leftover files from bad/old hakchi installs in dire circumstances like this.

[2017-10-26 18:21] #645 closed, assigned to nobody

[2017-10-26 18:22] Drakonas commented on #642
This has to do with using Ryzen most likely (duplicate of #620) as many tickets have already been made for that. Closing. If you are not on Ryzen, try different USB ports. This is not a Hakchi bug, but a system limitation dealing with power.

[2017-10-26 18:22] #642 closed, assigned to Drakonas

[2017-10-26 18:23] Drakonas commented on #640
This has been fixed by Cluster.

[2017-10-26 18:23] #640 closed, assigned to nobody

[2017-10-26 18:25] PRT2066 commented on #910
Yeah it was easier to figure out than I thought it would be. Probably could make a batch or something to automate the process a little bit.

[2017-10-26 18:25] Drakonas commented on #637
This question should have originally been asked of the 8bitdo team. This has nothing to do with Hakchi. Closing.

[2017-10-26 18:25] #637 closed, assigned to Drakonas

[2017-10-26 18:25] Drakonas commented on #637
Discussion will be left open for those that want an update.

[2017-10-26 18:26] Drakonas commented on #633
Since the OP has not responded, I am closing this.

[2017-10-26 18:26] #633 closed, assigned to nobody

[2017-10-26 18:27] Drakonas commented on #910
Since this has been actually answered, I am closing this. The discussion will be left open.

[2017-10-26 18:27] #910 closed, assigned to nobody

[2017-10-26 18:29] #626 closed, assigned to nobody

[2017-10-26 18:32] Drakonas commented on #625
Thanks for calling this "junk software" when it works for most people just fine. Ryzen is not supported due to a problem with Ryzen's USB driver design (their fault not ours).

See issue #620 . Closing this as a duplicate.

[2017-10-26 18:32] #625 closed, assigned to nobody

[2017-10-26 18:34] Drakonas commented on #622
This is impossible as the original games cannot be modified. They are read-only. You can, however, make duplicates of them by copying them from FTP using Hakchi's FTP feature, and then hide the original games. They are in /usr/share/games. However this means you will be using twice the space because the game will be duplicated.

[2017-10-26 18:34] #622 closed, assigned to Drakonas

[2017-10-26 18:35] Drakonas commented on #623
https://www.reddit.com/r/miniSNESmods/comments/761m8j/srm_to_canoecloverclvs_converter/?st=j98rvhjr&sh=2711b33c this can be usd to convert savestates from PC and back. Please don't ask for personal help on this issue tracker. This is only for submitting bugs for the Hakchi code. Ask on the SNES Mini Mods subreddit next time.

[2017-10-26 18:35] #623 closed, assigned to Drakonas

[2017-10-26 18:36] Drakonas commented on #620
Just so everyone doesn't get the wrong idea, this is a fault with Ryzen's drivers, not Hakchi. I don't want people blaming Cluster for this. People should try contacting AMD to have them fix this.

[2017-10-26 18:38] Drakonas commented on #616
This is a hardware limitation of the NES Classic, and not a Hakchi bug. Try a different controller.

[2017-10-26 18:38] #616 closed, assigned to nobody

[2017-10-26 18:40] Drakonas commented on #615
I use these and they work perfectly. https://www.amazon.com/gp/product/B01N5CA2JS/ref=oh_aui_detailpage_o05_s01?ie=UTF8&psc=1

This seems to be a brand design issue, and cannot be fixed by software. Closing.

[2017-10-26 18:40] #615 closed, assigned to nobody

[2017-10-26 18:41] Drakonas commented on #612
No response from OP, so I am closing this.

[2017-10-26 18:41] #612 closed, assigned to Drakonas

[2017-10-26 18:41] #606 closed, assigned to nobody

[2017-10-26 18:42] Drakonas commented on #604
This is not the place to ask for personal help for setting up roms. This is for submitting bugs for Hakchi. Ask elsewhere please.

[2017-10-26 18:42] #604 closed, assigned to nobody

[2017-10-26 18:43] beyondmany commented on #615
@drakonas thanks for the follow up. I agree, having tried another brand works.

[2017-10-26 18:43] #603 closed, assigned to nobody

[2017-10-26 18:43] Drakonas commented on #600
Closing this as there has been no response.

[2017-10-26 18:43] #600 closed, assigned to Drakonas

[2017-10-26 18:44] Drakonas commented on #599
Next time please ask these kind of questions on the SNES Mini Mods subreddit or Nintendo Classics Discord. This is a bug tracker for Hakchi, not a personal help line.

[2017-10-26 18:44] #599 closed, assigned to nobody

[2017-10-26 18:47] Drakonas commented on #598
These are NES games. You need retroarch to run these, as the SNES Classic can't natively run NES roms. Ask here if you need help with that: https://www.reddit.com/r/miniSNESmods/

[2017-10-26 18:47] #598 closed, assigned to nobody

[2017-10-26 18:48] Drakonas commented on #597
@AlexFad53 you need to obtain the original kernel your brother dumped from the SNES Classic before modding it to use this. Please ask for help with this on the SNES Mini Mods subreddit. This is a bug tracker for reporting bugs with Hakchi, not a personal help line, and you will get faster results there: https://www.reddit.com/r/miniSNESmods/

[2017-10-26 18:48] #597 closed, assigned to nobody

[2017-10-26 18:50] Drakonas commented on #590
Why are you asking for help from us and not contacting AVG @mcsconsole ? We can't fix this. AVG is incorrectly detecting the program as ransomware.

[2017-10-26 18:50] #590 closed, assigned to Drakonas

[2017-10-26 18:51] Drakonas commented on #596
You need to have 12 or more games in a list for it not to do this. It is a native UI bug with the SNES Classic.

[2017-10-26 18:51] #596 closed, assigned to nobody

[2017-10-26 18:58] Drakonas commented on #593
The shortcuts have been removed from recent versions of hakchi.

[2017-10-26 18:58] #593 closed, assigned to nobody

[2017-10-26 18:58] #589 closed, assigned to nobody

[2017-10-26 18:59] #588 closed, assigned to nobody

[2017-10-26 18:59] #587 closed, assigned to nobody

[2017-10-26 19:00] Drakonas commented on #586
I am not able to check this @soonjistarr as I do not have the roms nor contact with ClusterM. Has this been fixed? If not I can add the "bug" label.

[2017-10-26 19:01] Drakonas commented on #585
Ask this on reddit or discord servers. This is not a Hakchi problem.

[2017-10-26 19:01] #585 closed, assigned to nobody

[2017-10-26 19:01] Drakonas commented on #585
Or you could, you know, look at the shiny manual that came with your SNES Classic?

[2017-10-26 19:03] ClusterM commented on #878
Fixed.

[2017-10-26 19:03] #878 closed, assigned to nobody

[2017-10-26 19:08] Drakonas commented on #582
@IkoMattorr Change the preset ID to A210 (ctrl+alt+e) to fix trasparency issues. This is not a place to discuss incompatibility with Canoe. This is for Hakchi problems.

[2017-10-26 19:08] #582 closed, assigned to nobody

[2017-10-26 19:21] megaDRONe86 commented on #921
Fixed was just made in the 2.21f version.

[2017-10-26 19:30] #580 closed, assigned to nobody

[2017-10-26 19:33] #578 closed, assigned to nobody

[2017-10-26 19:33] Drakonas commented on #578
Next time please ask this kind of question on the MiniSNESMods subreddit or the Nintendo Classics discord. This is a Hakchi bug report tracker, not a personal help line.

[2017-10-26 19:34] HtheB commented on #762
@Drakanos yes, still have the problem. I'm in the Netherlands

[2017-10-26 19:35] Drakonas commented on #577
This activity is normal. The SNESC has 300MB of storage and uses ~60MB for the built in games that cannot be removed, only hidden. All mods, savestates, and roms use this storage.

[2017-10-26 19:35] #577 closed, assigned to nobody

[2017-10-26 19:35] Drakonas commented on #762
Thanks for the info.

[2017-10-26 19:37] Drakonas commented on #576
This has been fixed since then if you uninstall hakchi from the hakchi menu, then flash og kernel, then perform a factory reset from the snes classic main menu (THIS WILL ERASE ALL SAVES, backup your saves before uninstalling hakchi if you need to!).

[2017-10-26 19:37] #576 closed, assigned to nobody

[2017-10-26 19:39] Drakonas commented on #572
This is an issue with Nintendo's canoe emulator not hakchi. Closing this issue. Use retroarch for problem games by installing the retroarch and snes9x2010 mods and adding --retroarch to the end of the command line.

[2017-10-26 19:39] #572 closed, assigned to nobody

[2017-10-26 19:39] #569 closed, assigned to nobody

[2017-10-26 19:40] #567 closed, assigned to nobody

[2017-10-26 19:40] Drakonas commented on #575
This is an issue with Nintendo's Canoe emulator and not Hakchi. Closing this issue. Use retroarch for problem games.

[2017-10-26 19:40] #575 closed, assigned to nobody

[2017-10-26 19:41] Drakonas commented on #568
@Druqsr did you ever press the "install drivers" button from the hakchi window that popped up before the flash.

[2017-10-26 19:42] Drakonas commented on #565
This is a bug with Nintendo's Canoe, and not Hakchi. Nothing can be done. Use Retroarch for problem games.

[2017-10-26 19:42] #565 closed, assigned to nobody

[2017-10-26 19:43] HtheB commented on #762
I have used a proxy with other countries, still not showing any results

[2017-10-26 19:43] Drakonas commented on #562
@B9KnM8UqQ2W2Vwk7uvZ7 please create a separate issue for that feature request if you wish. As for the original OP's question, this has been addressed. It uses the main storage for rewinds.

[2017-10-26 19:43] #562 closed, assigned to nobody

[2017-10-26 19:44] #561 closed, assigned to nobody

[2017-10-26 19:45] #558 closed, assigned to nobody

[2017-10-26 19:45] #556 closed, assigned to nobody

[2017-10-26 19:45] Drakonas commented on #557
This is not the place to be discussing compatibility with Nintendo's Canoe. That is out of the bounds of Hakchi. Use reddit or discord for that.

[2017-10-26 19:45] #557 closed, assigned to nobody

[2017-10-26 19:47] Drakonas commented on #553
This is a limitation of the Canoe emulator, and does not belong in a Hakchi issue tracker. Closing. I recommend using Retroarch for all the Seiken Densetsu games, especially if you use patches.

[2017-10-26 19:47] #553 closed, assigned to nobody

[2017-10-26 19:47] #550 closed, assigned to nobody

[2017-10-26 19:48] paty6510 commented on #919
I did try different power cords and adaptors I will shut this issue down

Sent from Yahoo Mail for iPhone

On Thursday, October 26, 2017, 12:49 PM, 3rdN3rd <notifications@github.com> wrote:

To be honest, most random shut offs are caused by not providing enough power to the console. The console needs more power with Hakchi installed. Have you tried other USB ports or using different power adapters

[2017-10-26 19:48] Drakonas commented on #540
There have been developments on this allowing it to work. https://www.reddit.com/r/miniSNESmods/comments/78pu0f/terranigma_playable_with_canoe_maybe_more/dowerw8/ Closing.

[2017-10-26 19:48] #540 closed, assigned to nobody

[2017-10-26 19:50] Drakonas commented on #548
Games other than USA releases mostly fail with Canoe, as canoe was built with the USA library in mind for both EUR and USA SNES Classics, and the Japanese library for the JPN Super Famicom Mini. Use Retroarch if you want to run German games.

[2017-10-26 19:50] #548 closed, assigned to nobody

[2017-10-26 19:51] Drakonas commented on #547
You have too many games in one folder. 45 is the limit if you want all the thumbnails on screen. This is a limit of the Nintendo-coded UI, and cannot be fixed by Hakchi.

[2017-10-26 19:51] #547 closed, assigned to nobody

[2017-10-26 19:52] Drakonas commented on #545
The European and American SNES Classic's canoe was built for the USA library of games only. Most European roms will have issues with Canoe. Use Retroarch if you must have European roms.

[2017-10-26 19:53] Drakonas commented on #543
This is already possible by enabling the custom folders option in the Hakchi menu and sorting games manually.

[2017-10-26 19:53] #543 closed, assigned to nobody

[2017-10-26 19:55] Drakonas commented on #541
The SNES Minis for Europe and America use mostly the same software build. They are both made to work with the US library of games, and as such won't work well with European roms. You usually need Retroarch for those.

[2017-10-26 19:55] #541 closed, assigned to nobody

[2017-10-26 19:56] Drakonas commented on #542
This seems to be a Ryzen issue on AMD's end. #620 Closing this as a duplicate. Please respond if you are not using Ryzen, and discuss on the #620 issue.

[2017-10-26 19:56] #542 closed, assigned to nobody

[2017-10-26 19:57] Drakonas commented on #539
These issues have been resolved.

[2017-10-26 19:57] #539 closed, assigned to nobody

[2017-10-26 19:58] Drakonas commented on #461
These issues should have been resolved. Please respond if not.

[2017-10-26 19:58] #461 closed, assigned to nobody

[2017-10-26 19:59] Drakonas commented on #537
This is a Ryzen issue on AMD's end, and is not Hakchi's fault. Please refer to #620 . Closing a duplicate.

[2017-10-26 19:59] #537 closed, assigned to nobody

[2017-10-26 20:00] Drakonas commented on #536
Which Battletoads game? There are multiples. Has this been resolved with recent versions?

[2017-10-26 20:04] Drakonas commented on #921
Except all he did was replace the busybox executable with the same one that was posted here.... what a wonderful fix :/ Now game demo mode will be broken.. @ClusterM

EDIT: Sorry if I sounded harsh. I've just been frustrated lately haha. I can imagine you are chock full of stuff to do :(

[2017-10-26 20:11] FJ000 commented on #542
Issue for me is now on 3 separate Intel PC's.  NOT AMD. One PC has USB 2.0 with Windows 7.  Other two have USB 2.0 and 3.0.  One running Windows 8.1 the other Windows 10.  Have tried all USB ports.  Two separate usb cables.  Have tried up to hakchi2 version 2.21e.  I have not flashed the new kernel.  Only dumped the original kernel, which was successful.  Since the same problem is present on 3 PC'

[2017-10-26 20:21] FJ000 commented on #620
Just wanted to comment about the closure of #542.  I am having the problem with 3 separate Intel PC's.  NOT AMD.

[2017-10-26 20:25] Drakonas commented on #927
This has been fixed with 2.21f released today.

[2017-10-26 20:25] #927 closed, assigned to nobody

[2017-10-26 20:27] Drakonas commented on #620
@FJ000 thank you for posting this here and not the old ticket. I am keep discussion of this in one issue. Not exactly sure what's going on.

[2017-10-26 20:30] Drakonas commented on #921
I apologize @ClusterM It seems it may have been some other factor causing the game demo mode to break, but I swore I was getting it until I replaced the busybox with the old one on 2.21e. Consider this issue resolved. Closed.

[2017-10-26 20:30] #921 closed, assigned to nobody

[2017-10-26 20:31] Drakonas commented on #951
What region are you in @msettlemeyer Curious now that multiple people have reported issues.

[2017-10-26 20:31] #944 closed, assigned to Drakonas

[2017-10-26 20:32] Drakonas commented on #535
Why don't you try a different power plug? The SNESC is finicky with needing a specific amount of power.

[2017-10-26 20:34] Drakonas commented on #534
@explosiveaction if you've removed the old hakchi directory you basically removed your original kernel dump. If you do a dump of the kernel AFTER you have ever hacked the console, it is not an original kernel dump. You'll know you have a bad dump if you are getting MD5 checksum errors. You need to either find the original on your computer or find one on the internet for your region.

[2017-10-26 20:37] Drakonas commented on #533
If someone wants to code a client for linux they have the right, but I suspect Cluster does not have the time to develop for two platforms.

[2017-10-26 20:43] Drakonas commented on #532
@DecanFrost Secret of Mana requires a preset ID change (CTRL+ALT+E -> 10B0), Star Ocean will never run on Canoe due to an unsupported chip requirement, and Street Fighter Alpha 2, while using the same chip as Star Ocean, was using the chip for something that it didn't need to, and has received a patch to fix it: https://www.reddit.com/r/miniSNESmods/comments/760w0v/list_of_canoe_compatibility_patc

[2017-10-26 20:43] #532 closed, assigned to nobody

[2017-10-26 20:49] Drakonas commented on #934
@Paul330 you probably have a corrupted install. Backup your saves while hakchi is installed (save state manager in hakchi menu), then uninstall hakchi from the hakchi menu, flash og kernel afterwards (if you get MD5 checksum errors then your og kernel dump is corrupted and you need to obtain an untouched one from an unmodified snes or from the internet), then after that perform a full factory rese

[2017-10-26 20:50] FGOD1983 commented on #536
It was with battletoads in battlemania, but it seems to be getting worse with new versions. The newer versions of hachii give me reboots on random times and constant boot loops

[2017-10-26 20:50] Drakonas commented on #934
The full factory reset is rarely needed but with corrupted installs it is the only way to clear 99% of the problematic leftover files from bad/old hakchi installs.

[2017-10-26 20:50] Drakonas commented on #930
Have you had any luck with this @thesk8rguitarist ?

[2017-10-26 20:51] FGOD1983 commented on #535
Tried several power plugs but nothing helps and with newer versions of hachii it is getting worse

[2017-10-26 20:52] Drakonas commented on #536
You probably have a corrupted install. A lot of users that upgraded from 2.20 to 2.21 had problems and it requires a full factory reset. Backup your saves while hakchi is installed (save state manager in hakchi menu), then uninstall hakchi from the hakchi menu, flash og kernel afterwards (if you get MD5 checksum errors then your og kernel dump is corrupted and you need to obtain an untouched one f

[2017-10-26 20:53] Drakonas commented on #922
You probably have a corrupted install. Seems like you need a full reset. Backup your saves while hakchi is installed (save state manager in hakchi menu), then uninstall hakchi from the hakchi menu, flash og kernel afterwards (if you get MD5 checksum errors then your og kernel dump is corrupted and you need to obtain an untouched one from an unmodified snes or from the internet), then after that pe

[2017-10-26 20:55] Drakonas commented on #919
just in case I would try a full factory reset. Backup your saves while hakchi custom kernel is installed (save state manager in hakchi menu, a factory reset will erase all saves), then uninstall hakchi from the hakchi menu, flash og kernel afterwards (if you get MD5 checksum errors then your og kernel dump is corrupted and you need to obtain an untouched one from an unmodified snes or from the int

[2017-10-26 20:56] Drakonas commented on #919
A factory reset will remove all leftover files from bad/old hakchi installs. Most people coming from older versions have problems until they do the full factory reset after uninstall and og flash.

[2017-10-26 20:58] Drakonas commented on #854
@fastpop72 see the issue linked above. Someone posted info on how to do it.

[2017-10-26 20:58] #854 closed, assigned to nobody

[2017-10-26 20:59] Drakonas commented on #535
You probably have a corrupted install from updating from an old version like 2.20. Backup your saves while hakchi is installed (save state manager in hakchi menu), then uninstall hakchi from the hakchi menu, flash og kernel afterwards (if you get MD5 checksum errors then your og kernel dump is corrupted and you need to obtain an untouched one from an unmodified snes or from the internet), then aft

[2017-10-26 21:01] Drakonas commented on #531
@Cabledragon @ClusterM has been too busy to check the issues. I'm sure he feels sorry for this. If you contact him via Twitter you can usually get a better response. That's how I was given access to help out. We'd totally love the help. :)

[2017-10-26 21:01] #531 closed, assigned to nobody

[2017-10-26 21:02] FJ000 commented on #620
More to add about the comptuers I've tested on:

Windows 10 PC - Intel 7 Series Chipset / Intel C216 Chipset
Windows 8.1 PC - Intel 8 Series Chipset / Intel C220 Chipset
Windows 7 PC - Intel 5 Series Chipset / Intel 3400 Chipset

[2017-10-26 21:03] Drakonas commented on #530
This was a problem with early releases of Hakchi. Maybe be patient and wait until it becomes stable next time.

[2017-10-26 21:03] #530 closed, assigned to nobody

[2017-10-26 21:04] #529 closed, assigned to nobody

[2017-10-26 21:04] Drakonas commented on #522
Maybe next time don't use a prerelease version for an older console. :)

[2017-10-26 21:04] #522 closed, assigned to nobody

[2017-10-26 21:06] Drakonas commented on #526
.... Can you give more info than just a blank description? closing this as it's been more than 2 weeks, and this issue tracker is not a personal help line. As stated in the glupen64 mod, saving does not work. This is not a Hakchi issue, but an issue for the person who made the cores which was not Cluster. He just compiles them.

[2017-10-26 21:06] #526 closed, assigned to nobody

[2017-10-26 21:06] FGOD1983 commented on #536
I did use fresh versions of hachii and reinstalled the original kernel several times, but without success so far, but never tried to do a factory reset.

Thx for the tip, will try that tomorrow!

[2017-10-26 21:06] #525 closed, assigned to nobody

[2017-10-26 21:07] Drakonas commented on #524
@emufrance are you still having issues with this?

[2017-10-26 21:07] Drakonas commented on #518
Just checking back to see if @funkboy27 @thestagemanager or @pwasem are still having this issue.

[2017-10-26 21:10] funkboy27 commented on #518
gonna check today for you.  have been busy, but on it now :)

[2017-10-26 21:21] Drakonas commented on #521
Actually people can search closed issues. Issues are meant to be closed when they are fixed or they will clutter the tracker.

[2017-10-26 21:21] #521 closed, assigned to nobody

[2017-10-26 21:24] funkboy27 commented on #742
I have reflashed original kernel and then flashed custom again using 2.21F. I am able to sync without issue.
However, I believe the problem would still persist on a virgin console.
 As I mentioned before, a GAMES file was created when it should have been a GAMES folder.  Since the GAMES folder already existed (i noticed that some files stayed on the device, despite flashing the original kernel bac

[2017-10-26 21:27] funkboy27 commented on #518
Just reflashed using 2.21F, issue still persists.
As I mentioned in other bug report, I'll try and reflash again using a completely fresh Hakchi folder instead of an upgraded one.

[2017-10-26 21:30] Drakonas commented on #742
Performing a full factory reset after uninstalling hakchi and flashing og kernel, while erasing save files, usually fixes all these issues, as it removes leftover files from bad/old hakchi installs.

In any case, glad you got it fixed. Reopen this issue if you ever have problems again.

[2017-10-26 21:30] #742 closed, assigned to Drakonas

[2017-10-26 21:35] dav333 commented on #922
Cool.  Will try tonight.  Thanks for your help.

[2017-10-26 21:43] Timedye commented on #853
I've just tried plugging it into a different wall outlet, and running it through a couple of different surge protectors as well. The situation remains the same: if I boot the system up with the TV set to whichever HDMI port the SNES Classic is connected to, the sound is out of sync. Turning off the TV or booting the system up on a different HDMI port fixes it.

[2017-10-26 22:20] Drakonas commented on #853
@Timedye You probably have a corrupted install. Seems like you need a full reset. Backup your saves while hakchi is installed (save state manager in hakchi menu), then uninstall hakchi from the hakchi menu, flash og kernel afterwards (if you get MD5 checksum errors then your og kernel dump is corrupted and you need to obtain an untouched one from an unmodified snes or from the internet), then afte

[2017-10-26 22:21] LeanderAT opened #952 "King Arthur's World: only music, no sound, both normal command line and /snes retroarch"
King Arthur's World: only music, no sound, both normal command line and /snes retroarch

I only get music but no sound (enemy dies, bell is hit etc.). The in-game sound test in the options menu works...but the missions only have music. I loaded the rom normally and also in /snes mode, different core...but nothing works.

Any ideas?

[2017-10-26 22:23] Drakonas commented on #952
You probably have a bad rom. This game is already confirmed working.

[2017-10-26 22:30] LeanderAT commented on #952
It works in a normal SNES emulator for PC though.

[2017-10-26 22:35] Drakonas commented on #952
emulators for PC are more updated to handle that. The cores that are coded for the SNESC are much older (try 7 years). This is because newer versions require more processing and run slower on the SNESC. Find a No-Intro version of your rom. This isn't something that should be reported in the Hakchi bug tracker anyway, as the rom is considered perfectly running by others. This is something unrelated

[2017-10-26 22:35] #952 closed, assigned to nobody

[2017-10-26 22:36] LeanderAT commented on #952
Thanks!

[2017-10-26 23:58] Goodemen opened #953 "All games added through hakchi go to black screen"
So I followed all the steps to for adding modules and games to my snes classic, the modules I added were Retroarch, genesis_plus_gx, gambattle, mgba, and snes9x2010. Then I added a list of games for each system aside from the original 21 already on the snes classic. All of this went over fine however anytime I attempt to boot up any of the games that aren't one of the original 21 loaded onto the s

[2017-10-26 23:59] Timedye commented on #853
I did all of that last night. I'll try it again later tonight with 2.21f, I guess, but aside from it being different from 2.21b (which I used last night for the first time due to the Yoshi's Island issues with 2.21e) I dunno what difference it will make. But as I say, I'll give it a go.

[2017-10-27 00:02] Drakonas commented on #953
You probably put way too many games. It's recommended to use only about 60% of the space for games and leave the rest for saves (which also use the space).. also if you are showing all the games in one list that is your problem. The SNES Classic can only handle up to 60 games in one folder.

[2017-10-27 00:03] Drakonas commented on #853
You factory resetted after uninstalling and flashing og kernel?

[2017-10-27 00:15] hoderer commented on #953
@Drakonas: Strange - I have 7 folders with 100+ games in it for different systems (in some folders are even more games). I installed the extra_space mod to send the save files to the unused 50mb partition and never had problems. I have 900 games on it and about 6MB of free space and everything's fine. the only thing I recognized is the shutdown C8 error. It's easy to prevent when you a) shut down

[2017-10-27 00:19] Timedye commented on #853
Yessir.

[2017-10-27 00:20] moltke44 commented on #839
Grab roms from another source, my first group did same thing.

[2017-10-27 00:24] DanyMode8 commented on #655
After i had install the last version no problem, Everything is Ok. Thanks for your Support and Awesome Job

[2017-10-27 00:26] paty6510 commented on #919
With my this is the 1st time trying to install hakchi, so I did have the newest version. It’s just real odd that it has done that makes no since to me I will try what you said and let you know 

Sent from Yahoo Mail for iPhone

On Thursday, October 26, 2017, 4:56 PM, 3rdN3rd <notifications@github.com> wrote:

A factory reset will remove all leftover files from bad/old hakchi installs. Most people

[2017-10-27 00:34] #655 closed, assigned to Drakonas

[2017-10-27 00:35] Drakonas commented on #839
how much space do you have free?

[2017-10-27 00:36] Drakonas commented on #853
Well hopefully 2.21f helps.

[2017-10-27 00:37] clubbedmink commented on #839
So I must have got some bad roms. It is up and going now. Thanks for all the responses

[2017-10-27 00:38] clubbedmink commented on #839
So I must have got some bad roms. It is up and going now. Thanks for all the responses

[2017-10-27 00:38] #839 closed, assigned to Drakonas

[2017-10-27 00:39] Drakonas commented on #953
.... *facepalm* if you have 6MB of free space there is no space for saves.... this is a user error. saves use anywhere from 150KB to 2.4MB per savestate.. and you just limited all your saves to a total of 50MB. Uninstall the extra_space hack and limit your roms to using 60% of the available total space. Obviously it is not "working" if you are having issues. It's like having only 2GB of free space

[2017-10-27 01:12] paty6510 commented on #919
I found this I’m wondering if this is my problem! Look at the troubleshoot! I’m gonna try it tomorrow and I will let you know

Sent from Yahoo Mail for iPhone

On Thursday, October 26, 2017, 4:56 PM, 3rdN3rd <notifications@github.com> wrote:

A factory reset will remove all leftover files from bad/old hakchi installs. Most people coming from older versions have problems until they do the full fact

[2017-10-27 01:35] Timedye commented on #853
I followed your exact order of operations with 2.21f, but the problem persists. But so long as I turn on the SNES Classic before turning on the TV or swapping to the HDMI port it's plugged into, the issue doesn't manifest. So now it's just an annoyance as opposed to making the system completely unplayable with hakchi installed.

It has to be something to do with my (nearly 10 year old) TV. I dunno

[2017-10-27 01:37] LeanderAT commented on #952
I think the problem is that the game is in Dolby Surround...and SNES Mini can only output stereo..,so you don't hear the sound samples.

[2017-10-27 01:58] Drakonas commented on #952
Using the USA rom works fine in Retroarch for me. I hear death sounds and such.

[2017-10-27 03:19] Slugoid commented on #836
@atarimonkey2000 Which older version are you using that works with the pre-installed FDS games?

Since most of the FDS games on the Famicom mini are Japanese, I decided to just installed the US/EU versions of the game for the time being.  Nonetheless, it's still a issue that needs to be looked at.

[2017-10-27 03:35] Drakonas commented on #836
@atarimonkey2000 I can see why you want the FDS versions now.... https://youtu.be/KQ7NVh1_QOM sexy music.... Maybe I should try to find English patches of this.

[2017-10-27 03:42] Cameron1391 commented on #880
Drakonas, by golly, that worked!
I did it through my Windows 10 laptop and all games I selected copied and played on the system without any issues.
It wouldn't recognize on my Windows XP at all.
Awesome, thanks !

[2017-10-27 03:48] nekod-aisuki commented on #761
I tried ver2.21f by your instruction.
I had no error!
Thank you!

[2017-10-27 04:09] Drakonas commented on #836
I can confirm this affects the SNES Mini as well. I have tried both the default retroarch hmod as well as also installing the use_nestopia module. Can't get FDS games to boot.

[2017-10-27 04:18] nerdnils commented on #533
Yes, he doesn't need to. But the FAQ says it runs in wine when in fact it doesn't I would not have reported this issue if Cluster had not said it does run in wine ;)

[2017-10-27 04:28] emufrance commented on #524
not since the last release (2.21+). But i don't sync often the snes now as my setup is complete.

[2017-10-27 05:32] Drakonas commented on #836
This also seems to affect FDS games other than the originals. Thought I should note.

[2017-10-27 05:36] Drakonas commented on #533
Oh does it? I'm sorry. I can make an adjustment on that.

[2017-10-27 05:52] #761 closed, assigned to Drakonas

[2017-10-27 05:55] marcaces opened #954 "Certain games that worked before are not working with the latest Hakchi/ retroarch update"
Just recently updated to the latest Hakchi2(2.21f) and Retroarch(1.0c) . Now whenever I try to load Terranigma, Illusion Of Gaia, Secret Of Evermore, and Street Fighter Alpha 2 it just loads to a pitch black screen. All these games had worked just fine, with the prior hakchi2, retroarch, and the snesx2010 patch. Now they do not. Wanted to know if anyone else is having this problem and if there was

[2017-10-27 06:05] Drakonas commented on #836
Update: FDS games will work in retroarch if you install the FDS BIOS optional from KMFDManic's core set and install ClusterM's retroarch module alone. I recommend not using KMFDManic's main cores (they usually have bugs), but the _km_bios_fds_req.hmod module is literally just the bios file. However, I don't feel justified linking to pirated content. I'll leave you to find the coreset. A google sea

[2017-10-27 06:09] Drakonas commented on #954
Yeah, well, all those games load fine for me in retroarch 1.0c with 2.21f. So this must be a user error. Ask for help with this on the https://www.reddit.com/r/miniSNESmods/ subreddit. Closing this issue as this is not a bug with Hakchi.

[2017-10-27 06:09] #954 closed, assigned to nobody

[2017-10-27 06:11] Drakonas commented on #520
These games are incompatible with Canoe, and this is not Hakchi's fault. This a Nintendo code issue. Closing this. Use Retroarch for problem games.

[2017-10-27 06:11] #520 closed, assigned to nobody

[2017-10-27 06:11] Drakonas commented on #880
Glad to hear! ^^

[2017-10-27 06:12] Drakonas commented on #519
This should have been fixed with newer releases.

[2017-10-27 06:12] #519 closed, assigned to nobody

[2017-10-27 06:15] Drakonas commented on #517
Please continue discussion on #620 for Ryzen users. For others, this should have been fixed during 2.21 development. 2.20 was still beta software mostly. Closing this.

[2017-10-27 06:15] #517 closed, assigned to nobody

[2017-10-27 06:17] Drakonas commented on #516
We kind of need to know what games, but regardless: what @roflcopter777 said is true. Use retroarch for problem games. Any audio issues with certain games and not others have to do with canoe's incompability with the rom. That is Nintendo's fault, not Hakchi's. Closing this.

[2017-10-27 06:17] #516 closed, assigned to nobody

[2017-10-27 06:19] Drakonas commented on #513
Some canoe games' saves will be this large. There is nothing that can be done. However, there was an issue that was fixed with the latest 1.0c build of retroarch, if you use that, that fixed every retroarch game save being around 2.4 or so MB when retroarch clearly doesn't use the rewind feature. This does not affect games run with canoe however.

[2017-10-27 06:19] #513 closed, assigned to nobody

[2017-10-27 06:27] marcaces commented on #954
How did I get a user error?

[2017-10-27 06:39] ghost commented on #870
I created a partial mod that lets you set any filter combination you like (magfilter and filter) by holding buttons during game boot.
L and R triggers handle all 4 filter settings and X and Y button the magfilter. By holding A the pixelperfect mode is enabled.
Interested in that? Then I make it in a better mod (correct script etc. and some thorough testing).
I will also built in the function that

[2017-10-27 07:06] Paul330 commented on #934
Hi Drakonas, thx for ya feedback. What I did yesterday was:
-Flashed the og kernel from hakchi2 2.21b which was the first version I used and which should be the original kernel (size: 2670kb)
-Factory Reset via SNES Menu (I hope this is meant by full factory reset)
-Deleted all hakchi2 versions I had and made a new folder where I extracted 2.21e.
-Dumped the original kernel from the SNES and flash

[2017-10-27 07:45] Paul330 commented on #934
What I found out now was, that when I flash the custom kernel and it looses the connection to the SNES I can't shut it down so the red LED stays on. When I connect it to the TV I come to the Enter Password screen. When I enter the password (Konami Code) I come to the games I flashed during my first try and which are nowhere in the hakchi2 now. So I think the custom kernel crashed somehow. I think

[2017-10-27 07:49] Paul330 commented on #934
Could this be from Retroarch? I tried to use retroarch because I had some roms that didn't run and since then the problems started.

[2017-10-27 08:14] meegle84 commented on #524
I did some tests.
Since I flash the original kernel, then the custom kernel with hmods and roms, and classify roms in subfolders (to not have so much in one folder), the issue has gone.

[2017-10-27 08:40] FGOD1983 commented on #535
I think you were right about the corrupt install, so far no bootloops or reboots after playing several games and resetting through the controller and making save states. Thx for the tip Drakonas! Seems you were right about the corrupt hachii install!

[2017-10-27 08:42] FGOD1983 commented on #536
so far you seem to be right about the corrupt install! Played several games and resetted through controller combo, made save states, and everything seems to be working without reboots or boot loops. Thx a lot for the tip Drakonas!

[2017-10-27 08:42] #536 closed, assigned to Drakonas

[2017-10-27 08:42] #535 closed, assigned to nobody

[2017-10-27 10:26] krec9 commented on #897
Yea it still doesn’t work

On Thu, Oct 26, 2017 at 11:10 AM 3rdN3rd <notifications@github.com> wrote:

[2017-10-27 10:29] Paul330 commented on #934
The deinstalling from the hakchi menu worked for me (I am an idiot :-)). Thank you a lot I think it works now. Will try retroarch in the afternoon.

[2017-10-27 10:30] Pito23 opened #955 "Question about Autoupdate script"
The feature "Scripts autoupdate, so you don't need to reflash custrom kernel after every update." works also for the portable version?

[2017-10-27 10:47] Jenslyn87 opened #956 "Loss of sound, then C8 (possible that uncompressed busybox filling memory?)"
Never experienced this before, and I figure the cause could very well be the new 'f' update (or perhaps the fact that I was playing with an NES mini controller that I've just bought on the SNES mini?).

I was playing Super Mario Land 2 on Gameboy. Exited to the menu with the button combination, and there was no menu sound. Browsed around and started another game. Went to menu again, and after a sh

[2017-10-27 10:48] ClusterM commented on #922
Error message:

    shell command "tar -xvC /" returned exit code 1: tar: can't open '._bin':
    Read-only file system

Means that you hakchi2 install is corrupted and has some additional files for some reason.

[2017-10-27 12:23] Paul330 commented on #934
So everything is working. I have all the games I wanted on the SNESC and all of them work without any problem. Thank you again.

[2017-10-27 12:49] poolfloat commented on #545
@Drakonas I was using Retroarch and having the sound issue. I actually added a global string to run all games in Retroarch.

[2017-10-27 13:03] atarimonkey2000 commented on #836
@Drakonas Thanks for your help, thats gotten everything working! (even strangely fixed the power cutting out problem i was having!?!) Cheers dude! :)

[2017-10-27 13:36] Bombahee commented on #904
It works now, thanks @Drakonas !

[2017-10-27 14:52] thesk8rguitarist commented on #930
I haven't. I wasn't able to find a virgin dump that day, and haven't had a chance to get back to it. I'll likely tackle it again in the morning and report back once I find a dump.

[2017-10-27 14:54] AllegroDigital commented on #836
Just noticed that this was a problem on mine as well. Hoping to get time to test with Drakonas' solution this weekend.

[2017-10-27 17:13] dav333 commented on #922
It works.  I realize now what I was doing wrong.  I was using my Mac to download and unzip.  Then would pass hakchi2 to my fiance's PC.  Once I passed the zipped file over, unzipped, and opened it on her computer, everything worked.  Sorry to have wasted your time, although if there are others starting on the Mac and transferring to a PC, this is the problem. Your advice made it happen.  I am goin

[2017-10-27 17:21] poliwrath86 opened #957 "Loss of box art for original SNES classic mini games"
Hi,

I updated to the latest version today, added a couple more games and now the SNES mini is not showing the box art for the original 21 games, only the added games... any ideas?

My set up is:
50 total games
Pages, Split equally, with 50 games per page

Thanks
Dan

[2017-10-27 17:41] poliwrath86 commented on #957
Don't worry, fixed now! Flashed the original kernel then reflashed the custom, works fine now

[2017-10-27 17:41] #957 closed, assigned to nobody

[2017-10-27 18:37] westongpt commented on #956
I had a similar issue. I was testing several games in a row. it was about 5 with only home resets between. 5 the game (Star Ocean, which does work on my setup) crashed to C8.

Turned the console off and on had to configure language again, but then the game launched normally.

[2017-10-27 20:34] ceteris62 opened #958 "Controller hack still not working in verson 2.21f"
Hi

I have my NES classic dual booting SNES and NES mode. Since doing so, the controller reset hack has not worked. I still cant get it to work in version 2.21f. I've tried changing to all different button combos with no luck. At first it was OK because my wireless controllers would still work with the reset, but now those dont even do it any more. Other than this, everything is perfect, so hoping

[2017-10-27 20:37] Parche12 opened #959 "SNES mini problem saving games"
I have the snes mini classic, and in every rom that is not for the SNES (I mean, those for GBA, GB, SEGA Genesis) when I press reset, it comes with an error message and never I can save the state...

How can I fix it? or is it a bug that has to be fixed?

Excuse me for my bad bad english

[2017-10-27 20:38] Drakonas commented on #959
How much free space do you have on your SNES Mini Classic?

[2017-10-27 20:39] #922 closed, assigned to Drakonas

[2017-10-27 20:41] Drakonas commented on #545
Have you updated to 2.21f after uninstalling hakchi, flashing og kernel (making sure to not get md5 checksum errors) and then installing the custom kernel? Also how much free space is left on your SNES Classic? @NotATreoFan

[2017-10-27 20:41] Parche12 commented on #959
Well, I have only 60 mb occupied...

and that error only shows up with other than snes roms, if it would be free space problem, wouldnt I have it with snes roms too?

EDIT: And another piece of info: I hacked my brothers NES mini classic the very same way, with the very same roms, and he can save data from other consoles roms, and I cant...

[2017-10-27 20:43] Drakonas commented on #959
Have you tried holding down + select on the controller instead of pressing reset on the SNES?

[2017-10-27 20:43] Drakonas commented on #836
@atarimonkey2000 the downside is it is not using the native kachikachi emulator on the Famicom Mini :( Which is why this is still an issue.

[2017-10-27 20:45] #934 closed, assigned to Drakonas

[2017-10-27 20:46] Parche12 commented on #959
No I havent... but just did, and the same error shows up : C8 error... and pressing down + select made that the error screen stay put... I had to turn the SNES power button off, and then turn on again to the snes to work again.

[2017-10-27 20:47] Drakonas commented on #524
I will close this issue for now. Respond here if you have the issue again.

[2017-10-27 20:47] #524 closed, assigned to ClusterM

[2017-10-27 20:48] Drakonas commented on #954
From Wikipedia: "A user error is an error made by the human user of a complex system, usually a computer system, in interacting with it." The roms work for everyone else just fine, so you must have did something wrong. See the FAQ For reinstallation procedure or ask for help on the subreddit. This is not in our hands.

[2017-10-27 20:50] Drakonas commented on #959
Are you using ClusterM's cores or KMFDManic's cores. KMFDManic's cores have a lot of bugs... also did you install the extra_space mod?

[2017-10-27 20:51] Drakonas commented on #897
Well this isn't a place to ask for personal help with Hakchi. This is for reporting bugs. Ask on the https://www.reddit.com/r/miniSNESmods/ subreddit for help.

[2017-10-27 20:51] #897 closed, assigned to Drakonas

[2017-10-27 20:58] Parche12 commented on #959
Im using clusters.... and not, I didnt install the extra_space mod.. should I ? Does it help saving games??

[2017-10-27 21:08] ReyVGM commented on #956
You have too many games on the menu. Limit pages to 35 pages to avoid this issue.

[2017-10-27 21:09] ReyVGM commented on #959
You have too many games on the menu. Limit pages to 35 games to avoid this issue.

[2017-10-27 21:12] Parche12 commented on #959
Too many games where? Where can I choose that limitation option?

EDIT: Maybe I found it? I choose to show 20 games per page (the minimum) Should it work now?

[2017-10-27 22:10] westongpt commented on #956
my console is currently set to 30 max games per folder.

Original in root, automatic in folders.

soo. I don't think that is the issue. plus most of the time it is fine. it only started after I updated to "f"

EDIT: I wonder if this is a side effect of decompressing busybox, or possibly a memory leak, because...

1. The miniSNESmods subreddit FAQ says that C8 happens when the device runs out of me

[2017-10-27 22:45] Drakonas commented on #959
Why don't you try and see instead of asking us. We don't have your SNES.

[2017-10-27 22:53] Parche12 commented on #959
Please don't get angry, and sorry for the trouble, but this is my first time hacking anything...
By the way, I did as ReyVGM suggested and it worked, now I can save on any game regardless of console. Thanks everybody

[2017-10-27 23:33] getiting commented on #25
can someone send me the kernal i am having the same issue

[2017-10-27 23:45] LeanderAT commented on #952
Tried different roms. None of them work. The EU version has normal graphics but the US version has some errors (the sky in level 1 for example).

What settings do you use?

I use /snes .... -retroarch and have the SNES2002 core.

[2017-10-28 00:13] arimwilson commented on #953
I have this same problem but I only added 15 games to my system and they're all SNES games that should work with the native emulator. None of the new games open and my folder only contains 36 games.

EDIT: Sorry my problem was using an old ROM set. No Intro ROMs worked fine.

[2017-10-28 00:14] TonyXL2 commented on #959
There point is that this is not a message board. It is an issue tracker. So if you had a documented bug with screenshots, log msgs, etc, you would post that here. If you need help, troubleshooting, etc, there is a great community on Reddit and other message boards.

[2017-10-28 00:18] TonyXL2 commented on #958
Was this using Dantheman's build and the hsqs file?

[2017-10-28 00:32] arimwilson commented on #958
I have this problem too but my SNES Classic is not dual booting NES (just SNES).

EDIT: Works fine, have to hold the button combination.

[2017-10-28 00:33] Frank-5 commented on #921
So...   Before I update my 2.21c to 2.21f, does the fix for this issue that Cluster made cause game demo mode for non original Roms to break or not?   What was the "other factor" that caused game demo mode to break then?
Also, what is the proper procedure for performing the update?  There seems to be some confusing/ unclear info on what to do.   Yes, I've read the Faq, and know what it says.  But

[2017-10-28 00:34] DanTheMan827 commented on #921
Just select flash custom kernel and ignore the message about the hash not
matching
On Fri, Oct 27, 2017 at 7:33 PM Frank-5 <notifications@github.com> wrote:

[2017-10-28 00:45] Frank-5 commented on #921
Ok. Will do.  I saw that in an earlier post you mentioned in another thread.  Thanks!  So basically I copy my kernel dump, SNES_games, art, etc folders into the new 2.21f folders and then flash the custom kernel?
(I also have RetroArch and about 20 GBA, NES, and N64 Roms as well..  And no need to worry about save states? )

[2017-10-28 00:58] AllegroDigital commented on #836
Maybe I'm doing something wrong? But after dragging KMFDManic's latest _km_bios_fds_req.hmod into hakchi2 - v2.21e and adding the module, the fds games still crash after opening. retroarch and translate_famicom are the only other modules added onto my fami mini.

[2017-10-28 02:33] atarimonkey2000 commented on #836
@Drakonas Hopefully it will get fixed. In the meantime, this is fine! Thanks again for your help! :)

[2017-10-28 03:07] sykonawt commented on #893
@Drakonas  i had the same problem regardless of the usb cable i used.  tried it on my laptop and my rig.  LED light would always turn on during kernel dump.  so after all the frustrations, i started trying out different solutions. this is what i did. @MikeBpro  first download and run hakchi2_web_installer.exe then download hakchi2.21f.zip.  extract and go to root\hakchi2.21f\hakchi2\driver and run

[2017-10-28 03:19] romadu opened #960 "Access to path '7800.rom' denied"
Hi,
I'm stuck with an error and now I can't revert. I tried adding 7800.rom to bios_template.hmod to enable Atari roms to work. Now I'm unable to avoid this error, even though I've removed the file, reverted to a previously copied set of hakchi2 folders, restarted, etc. This occurs even if I try to flash to original kernel, or uninstall extra modules. I don't know why hakchi2 is still looking for

[2017-10-28 07:06] AlexAkulov opened #961 "How to remap buttons on SNES Mini for NES games?"
Сейчас для NES игр на моей SNES используется крайне неудобная раскладка. Странно, почему об этом никто не пишет. Я считаю, что значительно удобнее было бы переназначить A -> B, B -> Y. В инструкции к retroarch я нашёл, что для каждой платформы можно сделать свои настройки контроллера, но я не могу понять в каких конфигах кнопки настраиваются сейчас и будет ли работать этот трюк с /opt/retropie/con

[2017-10-28 07:21] Drakonas commented on #961
@ClusterM You'd be best to answer this.

[2017-10-28 07:24] Drakonas commented on #960
Have you tried uninstalling Hakchi from the SNES Classic using the Uninstall function in the Hakchi menu, then flashing OG kernel?

[2017-10-28 07:26] Drakonas commented on #893
OP has not responded after 2 days, and @sykonawt has provided a solution. I am closing this, and will reopen if needed. This is usually due to using unsupported USB ports. Some laptops have none that actually work well with Hakchi. Using another computer can often fix the problem.

[2017-10-28 07:26] #893 closed, assigned to Drakonas

[2017-10-28 07:27] Drakonas commented on #836
You only need the retroarch mod @AllegroDigital You may need to perform a complete uninstall and og flash and try again.asd

[2017-10-28 07:33] Drakonas commented on #921
@DanTheMan827 @Frank-5 tbh the correct method is uninstalling hakchi, flashing og kernel, and then flashing custom kernel if you want a fresh install to reduce any possible problems. I've seen many have issues not uninstalling before flashing the new version. Because flashing over will keep residual files from older installs on the SNES Classic. Also @Frank-5 the issue with game demo mode seems to

[2017-10-28 08:47] madmonkey1907 commented on #921
Just curious, what are you trying to achieve by 'flashing og kernel'? Seems bizarre to me.

[2017-10-28 09:32] Frank-5 commented on #921
Ok, thanks guys!  I only have Cluster's cores installed, so I should be ok. (Never tried using anything but those).  They provide me with more than enough game compatibility.  And @madmonkey1907 I think what Drakonas is achieving by flashing (or reverting back to the saved / original kernel is so that one can perform a complete factory reset to wipe out any residual files.   I'm almost thinking at

[2017-10-28 09:43] Frank-5 commented on #921
Ok, thanks guys!  I only have Cluster's cores installed, so I should be ok. (Never tried using anything but those).  They provide me with more than enough game compatibility.  And @madmonkey1907 I think what Drakonas is achieving by flashing (or reverting back to the saved / original kernel is so that one can perform a complete factory reset to wipe out any residual files.   I'm almost thinking at

[2017-10-28 09:44] Frank-5 commented on #921
Sorry for the double post.  Git was acting weird

[2017-10-28 10:11] madmonkey1907 commented on #921
that's not how any of this works

[2017-10-28 10:18] MrXCuci commented on #958
Works fine here. Select + down = reset in nes mini part of dualboot. I used this: https://www.reddit.com/r/miniSNESmods/comments/76fr80/release_nessnes_classic_dualboot_mod_v03_no_more/ first post by skogaby I did not use the hsqs method

[2017-10-28 10:51] romadu commented on #960
Unfortunately the uninstall function has the same error. I have a new installation, downloaded as hakchi2 zip, and the error still comes up, without any of the files from the previous installation.

[2017-10-28 12:16] gBaH0JI9I commented on #953
**Goodemen**
Sometimes Hakchi don't recognise rom and put in command line /bin/bin
It's wrong.
For NES should be /bin/nes
For Sega Genesis - /bin/md
And so on.
![default](https://user-images.githubusercontent.com/13234037/32134297-e84f761e-bbf2-11e7-9915-d2cad7adcd66.png)

[2017-10-28 12:20] AllegroDigital commented on #836
Hmm...
So here are the states my famicom mini is in

1. factory - works fine, no roms are addable
2. custom kernal - works fine, no roms added yet
3. custom kernal + added roms - original fds games no longer work. screen goes black then back to menu, added games such as Akumajou Densetsu give an error when I try to load them, other roms work fine
4. retroarch added - added games such as Akumajou D

[2017-10-28 12:39] Scanlineman commented on #870
Oh my god! That would be amazing! Then, instead of having to go to the filters option at the top, I can just use button combinations for each specific game as they are needed. :)

So, to understand correction, you said L&R handle 4 filter settings, right?

So would that b something like:
1) No buttons pushed
2) L pushed
3) R pushed
4) L and R pushed at same time

So what are the button combination

[2017-10-28 14:23] Frank-5 commented on #921
Then please explain and elaborate on how all of this should work.   I'm wondering how and what the correct an proper way is myself!!!

[2017-10-28 14:39] ghost commented on #870
Aaah nice to see the enthusiasm :-)
Yes you got that right for the L and R.
For the magfilter (thats the bilinear filter) you also have four options (option 1 being no filter), so you control that with the X and Y buttons. The reason I am using those buttons is because they dont have any effect in the game menu. By pressing A or START you can run a game, so I was thinking of having the A button pr

[2017-10-28 15:08] drdynamo commented on #820
I'm having trouble getting Retroarch to read the .cht files I've added to it. I created a file called cheats and put it in the main folder with the cores folder. When I try and pull up the cheats in retroarch menu all it says is q.cht which doesn't do anything and is not the name of my files. I have them matching titles with game and cht file too. Any ideas what I may be doing wrong. I just played

[2017-10-28 15:18] mrTruch commented on #820
You must need the correct "sheet".
However...some codes doesn't work properly....we need more testing.

[Plantilla - copia.zip](https://github.com/ClusterM/hakchi2/files/1424358/Plantilla.-.copia.zip)

Could you try for yourself and tell me more?

[2017-10-28 15:25] Scanlineman commented on #870
Cool.

For screenshots I use my original Xbox on my CRT. I mainly SNES Mini for just playing on HD LCD.

Being able to select combinations of filters will be super awesome. Thank you for all the effort! :)

[2017-10-28 15:26] drdynamo commented on #820
Im taking the .cht files straight from cheatzilla. You can download the codes into a ready to go .cht file. Do you know what the specific format is MrTruch?

[2017-10-28 15:30] mrTruch commented on #931
No, it's very confusing to me.
I've recommend you to use my template. And take the codes from:

https://gamehacking.org/game/42397

the RAW ones. Then try it and tell me something about it.

[2017-10-28 15:34] mrTruch commented on #820
No, it's very confusing to me.
I've recommend you to use my template. And take the codes from:

https://gamehacking.org/game/42397

Then try it and tell me something about it.

PS: @ClusterM Could you work with the template to create something?...
[Template cheats.zip](https://github.com/ClusterM/hakchi2/files/1424373/Template.cheats.zip)

[2017-10-28 15:36] drdynamo commented on #820
Ok, Ill check that out and let you know. Thanks man.

[2017-10-28 15:37] mrTruch commented on #820
Thank you. I'm looking for the same.

[2017-10-28 15:41] ghost commented on #870
You are welcome, I can only send you the hmod file when it's finished and you can try it out. Will keep you updated.

[2017-10-28 15:41] ghost commented on #870
only=also :-)

[2017-10-28 15:57] DanTheMan827 commented on #894
#841 has been in development for a while, this fixes this problem along with separating the clover profiles, so things like switching to a Japanese image doesn't mess up the non-japanese ones.

[2017-10-28 16:05] DanTheMan827 commented on #794
It would still be nice to know which version of Hakchi2 modded the system

[2017-10-28 16:31] drdynamo commented on #820
Still didn't work Truch. All I'm pulling up is a q.cht which I did not add. Let me describe what I'm doing. Im either doing something wrong or putting the .cht file into the wrong directory?

I used your website, selected the cheats I wanted and then downloaded the .cht file in snes9x format. I put that file into a folder called "cheats" and then stuck that folder into the retroarch main folder wh

[2017-10-28 16:39] petopp81 opened #962 "flashed nandb to nandc, what to do?"
Im an idiot, I was really tired last night and by accident flashed a nandb file to the nandc on my famicom mini, everything works, but it can't be detected on my PC so i can't add any new games or reflash the correct nandc, what should i do? And yes i am a idiot and aware of it! :(

[2017-10-28 18:07] mrTruch commented on #820
Try this

1st You must to use libretro format.
2nd You must to use proper rom (exact version, same CR32 https://edgeemu.net/details-49714.htm )
3rd Try to create a folder like me on etc/libretro/...  named Cheats or whatever, then in Retroarch find it easy and apply it.

[2017-10-28 18:18] ajmi982 opened #963 "Control Menu via Controller 2 Port"
Allow the second controller port to act as controller one port when only one controller is connected.
 Controller port 2 can control all menu functionality and it acts as controller 1 in all 1 player games. (feature 1)

Allow second controller port to control menu navigation even when controller one is connected.  Controller port 2 serves as controller 2 in all gameplay settings. Both Controller 1

[2017-10-28 18:21] ajmi982 commented on #442
same issue as techhitnz, need a new firmware, 8bitdo are completely unresponsive to me.

[2017-10-28 18:43] obelixxx commented on #958
On NES it's working only without retroarch.
Try from the beginning, and do not install it.

[2017-10-28 18:52] Frank-5 commented on #921
(I'm not understanding what madmonkey1907's comment "that's not how any of this works" means or what he is actually referring to. )

[2017-10-28 19:10] bobsaidwzob opened #964 "Com error when trying to load games"

[2017-10-28 19:36] #964 closed, assigned to nobody

[2017-10-28 20:49] drdynamo commented on #820
Ok, I changed the .cht format and downloaded the rom from your site. I want to make sure that Im putting the file in the right spot. Heres what Ive been doing, maybe I'm not doing it right. Its hard finding info on this because most have access to online updater.

I downloaded retroarch from clusterm's page for snesc. Folder  name is retroarch_with_cores.  In that folder is a folder cores and the

[2017-10-28 21:05] poolfloat commented on #545
@Drakonas I have not updated the kernel since the original release. I will do that tomorrow and check to see if it is improved.

[2017-10-28 21:37] tomh79 commented on #773
Had the same problem. Could install custom kernel but not synchronize games. The solution that solved the issue for me: when the custom kernel is installed, shut down or pause the virtual machine, delete all usb devices in the settings of virtual box. then add both new (the one with just power on and the one while holding down reset) and resume. now it should work.

[2017-10-28 21:45] TheSuperGents commented on #853
It could totally be the TV. Don't have a solution, but I can say I had the same problem and also have a 10-yrs Sony Bravia. I couldnt figure out why and uninstalled and reinstalled Hakchi to no success. I've given up on it for now.

Hopefully they fix it. Or I may just move my unit to another TV.

[2017-10-29 03:37] SpideySenses opened #965 "Hack Chi 2 Issue"
Hey Guys,

Having an issue when I have added the SNES roms into Hack Chi 2 and when I try to play it on my TV, it displays ENTER PASSWORD. Not sure why I'm getting this as I have followed the steps in You Tubes. What will fix this trouble as I can't even play my original games.

I've Downloaded both HakChi2 and I used retroarch_with_cores. When I moved over the files from retroarch_with_cores, I h

[2017-10-29 04:48] Danteku opened #966 "SNES mini US ver. Overheating"
After running latest build, console physically heats up within 30 minutes of use.  Using original cable and charger.

[2017-10-29 06:18] Drakonas commented on #921
actually just dump, snes_games, config, and user_mods folders only to be copied @Frank-5 but make sure that the new Hakchi2 zip overwrites everything.

[2017-10-29 06:51] GhostOfFoxhound commented on #509
I just experienced this myself. Has anyone found a solution?

[2017-10-29 06:52] tygill commented on #965
When you selected the Password option, you told hakchi to install the password module. You need to uninstall that with hakchi, after which you shouldn't see the password prompt.

You may also want to remove the Music module, since by default it just disables the background music.

[2017-10-29 07:07] sevenx4life opened #967 "N64 video settings on SNES Classic"
Just curious what everyone is using for their settings on retroarch for N64 games. I have the textures at pretty good quality but its a bit choppy, especially audio.

[2017-10-29 07:19] romadu commented on #960
I managed to resolve the issue with the debug version of Hakchi2, restoring the original firmware. I still get the error if I use a new install of either web installer or zip version of Hakchi2 - only the debug version doesn't have the error.

[2017-10-29 07:45] FGOD1983 commented on #509
try setting the limit lower then 45 per page

[2017-10-29 07:51] romadu commented on #960
I think this might be the issue though
https://www.youtube.com/watch?v=mGooTybpodM&t=4s

[2017-10-29 07:52] SNESMario opened #968 "Original NES mini emulator on SNES mini"
Allow the use of the original NES mini emulator on SNES mini [FEATURE REQUEST]

This would provide better emulation than Retroarch for some games.

[2017-10-29 10:14] shaman78 commented on #490
Secret of Evermore works fine with the ntsc patch (German)

[2017-10-29 11:52] Duveru opened #969 "Massive Framedrops in Legend of Zelda PAL and the original ROM"
Hello!

I've massive framedrops in the game, when i'm fighting against more enemys. I'm using the PAL rom and i spoke with a friend and he has the same problems after hacking his SNES Classic mini. He told me that before Version 2.21d he had no problem with the original Zelda ROM but now he has the same issues. Can anyone confirm same issues or are we the only two person with this problem?

Btw. g

[2017-10-29 13:16] ajmi982 commented on #966
Same issue here.

Sent from my iPhone. Please pardon any spelling or grammar mistakes.

On Oct 29, 2017, at 12:48 AM, Danteku <notifications@github.com> wrote:

After running latest build, console physically heats up within 30 minutes of use. Using original cable and charger.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mu

[2017-10-29 15:22] THE-PBV commented on #969
Stay on 2.21D thats the only stable version.

[2017-10-29 16:59] nekonall opened #970 "not so much an issues but a question"
has anyone got secret of mana 2 patched with a english title screen to work  .. ive heard of it working english trans with retroarch but when i try and patch the tilte i get errors

[2017-10-29 17:30] chaosrefugee opened #971 "SNES Classic light not turning off, no video output"
After synching some new games, the SNES Classic shut off differently. The video output when off, but the light on the console stayed on until I had to unplug the usb. I figured something was up with these games, so I removed them on hackchi2 and synched again. Afterward, there was no video output from the system still. I turned it off and the light on the snes stayed on still as well. It would onl

[2017-10-29 17:39] chris121278 opened #972 "Size reduced on SNES Classic (188Mo)"
Hello,

i've got an issue: the size available on my SNES Classic is now at 188Mo. Before it was much more, about 250 if i don't mistake.
I Flash the original Kernel but it doesn't anything.
Someone can help me?
Thanks

[2017-10-29 18:00] msettlemeyer commented on #951
I'm in the US. Your suggestion seems to have fixed the problem.

[2017-10-29 18:03] Duveru commented on #969
thank's for the tipp. will flash the kernel back to 2.21D after a few tests.

today i tested 2.21f. i flashed the kernel again, synced the games with the snes classic mini and the framedrops are still there. when i'm surrounded by enemies, i will check the original legend of zelda rom, if there are any issues too.

okay, there's no workaround atm.? have anyone the same problems?

bb
duveru

[2017-10-29 19:07] Gab-75 commented on #972
How many savestates did you make? You need to consider that each savestate requires about 2-2.2 MB of storage space...

[2017-10-29 19:17] chris121278 commented on #972
No save state.
But if I flash original kernel, it doesn’t reset all?
I think the  problem is that I deleted game from hakchi2 instead of uncheck it.
A way to find out the entire space ?

[2017-10-29 19:27] Gab-75 commented on #972
You can manage the savestates from hakchi2 savestate manager... in any case you can try with a "factory reset" (directly from your SNES mini)...

[2017-10-29 19:33] chris121278 commented on #972
Ok, I will chek it.
Factory reset from snes don’t work for this, already tried.
I ‘ll keep you informed.

[2017-10-29 20:57] JFork36 commented on #908
Copied the contents of the hakchi game folder on my thumb drive over to the folders on the PC. Of course it wasn't working until I also went into the dump folder and copy/pasted the snes kernel as well. Flashed the custom kernel once and was able to pick up where I left off adding games to the SNES Classic. Thanks for your help guys.

[2017-10-29 21:12] #908 closed, assigned to Drakonas

[2017-10-29 21:15] Drakonas commented on #969
Why don't you not use the PAL rom, because PAL roms are listed as unsupported for Nintendo's Canoe on the SNES Classic. The SNES Classic for both Europe and America use the USA library of game support, so only the American roms are guaranteed to work.

[2017-10-29 21:16] #951 closed, assigned to Drakonas

[2017-10-29 21:18] Drakonas commented on #971
This is not a problem with Hakchi. You might try different USB ports or different cables. If you are having problems on OG kernel though, that is not something we can fix. Try what I said or ask on the MiniSNESMods subreddit. There's not anything I can do to help here. I hope your SNES Classic doesn't have a manufacturing fault.

[2017-10-29 21:18] #971 closed, assigned to nobody

[2017-10-29 21:20] Drakonas commented on #970
.. Why are you asking for something like this on a bug tracker? This is for reporting bugs with Hakchi. You are creating an issue for the built in emulator on the SNES Classic which has nothing to do with Hakchi compatibility. Ask this on the MiniSNESMods subreddit or Nintendo Classics Discord. Closing this.

[2017-10-29 21:20] #970 closed, assigned to nobody

[2017-10-29 21:23] Drakonas commented on #966
How did you update to 2.21f? Did you uninstall hakchi, flash og kernel, then flash custom kernel? If so, then try backing up your saves with Hakchi, uninstalling, flashing og kernel, then performing a full factory reset from the SNES Classic menu (WILL ERASE ALL SAVES), then flashing custom kernel. If that doesn't help and you are using the original cable and power plug then this is not a Hakchi p

[2017-10-29 21:24] Drakonas commented on #490
This kind of thing does not belong on an issue tracker. This is meant for reporting bugs with Hakchi. Closing this.

[2017-10-29 21:24] #490 closed, assigned to nobody

[2017-10-29 21:29] Drakonas commented on #960
Did you move the dump folder over to the new Hakchi install? Because if you didn't you are probably getting MD5 checksum errors. If you are getting those you have corrupted your kernel on your SNES. Hakchi uses the kernel dump to create the custom kernel and every time you install a mod. If the dumped kernel is dumped from a SNES that was already modified, the dump will be broken upon trying to ha

[2017-10-29 21:31] Drakonas commented on #509
This error is usually due to what @FGOD1983 said: having too many games listed in one folder. Also, try a different USB port or try a full uninstall, og kernel flash, and reinstall of custom kernel. If that doesn't work, backup your saves with Hakchi, uninstall Hakchi from the SNES, flash OG kernel, perform a factory reset from the SNES Classic menu (WILL ERASE ALL SAVES), and flash custom kernel.

[2017-10-29 21:31] Drakonas commented on #967
This issue tracker is designed for reporting bugs, not asking questions. Ask this on Reddit or on Discord. Closing.

[2017-10-29 21:31] #967 closed, assigned to nobody

[2017-10-29 21:33] Drakonas commented on #853
If you have a 10 year old TV it probably does not support the resolution the SNES Classic runs in. That is not fixable by Hakchi @Timedye sorry to say. Closing this.

[2017-10-29 21:33] #853 closed, assigned to Drakonas

[2017-10-29 21:37] Drakonas commented on #545
@NotATreoFan then you'll need to backup your saves, uninstall hakchi, flash og kernel, then perform a factory reset with the SNES Classic menu (WILL ERASE ALL SAVES), and then flash custom kernel. You need to do the factory reset else you will have broken files and leftover junk from the original version which had quite a few problems. Otherwise, you will have even more issues.

[2017-10-29 21:43] Drakonas commented on #442
Why doesn't everyone report this to 8bitdo? This is not a Hakchi issue. Closing this.

[2017-10-29 21:43] #442 closed, assigned to nobody

[2017-10-29 21:48] #894 closed, assigned to Drakonas

[2017-10-29 21:51] Drakonas commented on #953
Closing this as this is not a Hakchi problem, but user error. And the OP has not responded in 3 days. Respond if you wish to keep this open.

[2017-10-29 21:51] #953 closed, assigned to nobody

[2017-10-29 21:52] Drakonas commented on #952
It's supposed to be /bin/snes and you don't use --retroarch unless you are using a module that allows running the SNES core through the canoe command line (/bin/clover-canoe-shvc-wr -rom) @LeanderAT

[2017-10-29 21:53] Drakonas commented on #25
Locked this issue as people are still asking for illegally uploaded content.

[2017-10-29 23:20] Frank-5 commented on #921
Right.  Keep Those 4 folders only, then  2.21f over those folders.  (use 2.21c first to save state, uninstall hackchi2, flash my og saved kernel from dump, and factory reset before doing the 2.22f stuff of course)
   I very much appreciate all you folks are doing here!   A wonderful effort!  Thank you!  So far, other than this slowdown bug, hackchi2 2.21c has worked very well, even for my N64, GBA

[2017-10-29 23:22] Frank-5 commented on #921
Thanks again, and I'll get off this closed issue.

[2017-10-29 23:23] romadu commented on #960
Hi. Yes, I copied over the original dump of the kernel. In the original
version of hakchi2, regardless of what I do I get the error message. If I
try to uninstall I get the error message, if I try to uninstall or install
any hmod I get the error. That occurs with a fresh install from .zip
version of hakchi2.

Fortunately using the debug version I don’t get the error. I dumped the
modified kernel,

[2017-10-30 00:42] Danteku commented on #966
Fresh console, used it in stock condition for several hours with no issues.
Ran Hakchi 2 on PC.  Connected my console and flashed custom kernel to 2.21f.
All games run perfectly, and were checked with the current list running in Google docs.
Heat comes from the bottom of the system and runs rather hot.  Not sure if this is normal or not; have not found any information.
Will try to reset the system

[2017-10-30 00:45] ballinboy4613 commented on #584
Had the same problem and this worked for me. Let me know if this helps. https://www.google.com/amp/s/amp.reddit.com/r/miniSNESmods/comments/752dc9/how_to_use_hakchi_2_on_a_mac_with_virtualbox/

[2017-10-30 00:56] BillyDanzini500 commented on #584
Try uninstalling the same modules you installed. I deleted some of the modules and had to put them back just to uninstall them again

[2017-10-30 02:07] DavidKorpiewski opened #973 "NES Mini not found - needs source code update"
I bought a brand new NES Mini and tried to use hakchi2 on it and it always says "NES mini not found, sorry".  I looked at the source code and found that the driver (nesmini_driver.cpp) is set up to exactly match the USB Guid of "FF176DC4-7BEE-43BE-9BF2-F9299CB990BD"  However, what I'm finding is that my NES mini is showing up with a completely different GUID which is:  "88BAE032-5A81-49F0-BC3D-A4F

[2017-10-30 02:32] DefKorns commented on #842
@Drakonas  i fixed with the solution above `#mv kachikachi kachikachibackup`  but i still don't know if i can remove the kachikachi file.

[2017-10-30 03:54] ReyVGM commented on #965
Why the F would you add a password module if you don't want a password?

[2017-10-30 03:56] ReyVGM commented on #961
This has nothing to do with Hakchi.

This is about Retroarch.

[2017-10-30 05:14] Paul330 commented on #584
Thanks for your hints. Deinstalling the Hakchi Kernel via the hakchi menu helped. I think I crashed the kernel during retroarch installation. Now everything works fine again.

[2017-10-30 08:49] Svears opened #974 "Hackchi 2 on pc"
When i download the installer, it gets removed by my virus scanner, is that normal?

[2017-10-30 09:20] MrXCuci commented on #958
I have retroarch installed, but not used yet

[2017-10-30 09:20] MrXCuci commented on #972
Are you using dualboot feature?

[2017-10-30 09:33] ChadHakchi commented on #584
Mine works even the firzt time i downloaded hakchi 2.21f witb no problems

On Oct 30, 2017 1:15 PM, "Paul330" <notifications@github.com> wrote:

[2017-10-30 09:53] NoeleyC commented on #974
You'll either have to disable your virus scanner, or else add the file as an exception? I has bug problems with Norton but managed to get it working OK in the end. Another issue is that because of hakchi being updated regularly, virus scanners are more suspicious of them as the files are brand new and not registered on their databases. If you add the program as a trusted one, that will help

[2017-10-30 10:19] r3tro80 opened #975 "[TUTORIAL] Create autoplay for added games (SNES Mini/Classic Demo)."
Here's a tutorial for creating autoplay Classic Demo for added games.

The original guy behind this is **r9delta** from reddit.com. THANK YOU!!!!

I just added some steps to his tutorial to better tune the recordings.....

This autoplay works only if you use the original Snes Mini CANOE emulator, NOT RETROARCH.

LET'S START!

- First you have to modify the command line of the game you want to crea

[2017-10-30 10:35] LeanderAT commented on #952
It works now! It wasn't the rom but the in-game settings. After changing the in-game sound settings (surround on or off) both music and sound worked. :)

[2017-10-30 10:54] chris121278 commented on #972
Hello,

no, no dualboot feature.
No savestate. 188,6Mo total size available on my SNES Classic. I've read other person have the same mystake on french forum (I'm french).
Don't know what to do...

[2017-10-30 12:04] BillyDanzini500 opened #976 "MAME Games"
Can someone please help me figure out how to get “Daytona USA” to work on my snes mini.  So far all of my mame games work on FBA but not Mame2003.

[2017-10-30 12:07] BillyDanzini500 commented on #976
I’m having trouble with “Street Fighter 3 3rd Generation” and “Killer Instinct 1 & 2”

[2017-10-30 12:39] ameisenmann opened #977 "Issue with folders - Control Pad does not work"
Hi,
I set up my SNES Mini with retroarch, snes9x and Genesis mod and custom folders. First it seemed to work but then I added another game (fig file) and controls do not react anymore in the menu.
When I disabled folder structure it worked again but when I configure any custom folder structure it won't work again. When starting my SNES PAL game with Option -retroarch I get C3 error but the game st

[2017-10-30 14:16] Frank-5 commented on #976
There are some really good resources on Reddit to answer questions like these. Also search Google and YouTube.  Some great tutorials on setting up mame2003 for the SNES Classic. This is not the place to ask questions such as these, as this is for reporting Bugs and issues.  Someone will be along to close this issue.

[2017-10-30 14:47] Drakonas commented on #977
A: Sometimes when syncing games the controls lock up. A simple reboot of the SNES fixes it.
B: It's --retroarch not -retroarch.

[2017-10-30 14:48] Drakonas commented on #976
This is not the place to ask for personal help. This is for reporting bugs for Hakchi. Ask this on Reddit or Discord.

[2017-10-30 14:48] #976 closed, assigned to nobody

[2017-10-30 14:52] Drakonas commented on #972
You probably used an old version of Hakchi2, and there are probably leftover files that won't be removed without a full factory reset. You need to uninstall Hakchi from the Hakchi menu, flash og kernel (making sure there are no MD5 checksum errors), then go to your SNES Classic main menu and perform a factory reset from the options menu on your SNES Classic. Then flash custom kernel, and you shoul

[2017-10-30 14:53] Drakonas commented on #975
This is not a place to post a tutorial. Thanks though.

[2017-10-30 14:53] #975 closed, assigned to Drakonas

[2017-10-30 16:18] Drakonas commented on #974
This is not a Hakchi issue, and thus should not have been asked here. Report the Hakchi program as a false positive (meaning falsely accused as a virus) to your Antivirus software. This is in their hands, not ours. For now you can add it as an exception to your antivirus.

[2017-10-30 16:18] #974 closed, assigned to nobody

[2017-10-30 16:20] Drakonas commented on #958
@ceteris62 Are you still having problems? Everyone else says it works fine for them. If you are still having problems, try an uninstall of hakchi from the hakchi menu, flash the og kernel (make sure you have no MD5 checksum errors) and then flash custom kernel.

[2017-10-30 16:21] Drakonas commented on #965
@SpideySenses needs to uninstall the password module. Since they have not responded, I am closing this issue.

[2017-10-30 16:21] #965 closed, assigned to nobody

[2017-10-30 16:23] Drakonas commented on #842
if you moved the kachikachi to kachikachibackup, you can remove the kachikachibackup file if you wish, but then you won't have a backup. Glad you got it fixed.

[2017-10-30 16:23] #842 closed, assigned to ClusterM

[2017-10-30 16:24] Drakonas commented on #973
Looks like you may have received a bootleg NES Mini. A knockoff. Not anything I can do here to help you.

[2017-10-30 16:24] #973 closed, assigned to nobody

[2017-10-30 16:28] Drakonas commented on #960
If you used the debug version at any point in time, if you wish to use newer versions, you need to perform a  full factory reset, else there will be files cluttering the SNES classic which are probably causing your issue. You need to backup your saves, uninstall hakchi with the debug version then flash OG kernel with it. Then, on your SNES Classic home menu, go to options and perform a factory res

[2017-10-30 16:31] DavidKorpiewski commented on #973
Its not one of those cheap junk rips offs that sell for like 27 dollars on ebay.  This is an official unit with an official serial number even.
If you can't help me, then can you tell me what tools you need to compile the nesmini_driver and I will compile it myself?   It looks like it was compiled under linux with the make files, but I didn't think you could compile under linux and make a windows

[2017-10-30 17:21] chris121278 commented on #972
Hello Drakonas,

I did it. Flashed original kernel, performed a Factory reset from my TV, flashed custom Kernel. The size avalaible is now 199,1Mo. Strange, not at 238Mo.
Very strange...
At the begining, I extracted my Nand (about 500Mo). Can I do something with it?
Thanks,

[2017-10-30 17:55] DefKorns commented on #842
But i still dont know what happened. Why was hakchi trying to create a folder over a file.
the (now) kachikachibackup is a file and hakchi was executing a mkdir -p.
That's why I asked if I should remove it, cause now i have a kachikachi (folder) and a kachikachibackup (file).

Thats weird 😄

[2017-10-30 18:15] gBaH0JI9I commented on #972
@chris121278
Do you have installed retroarch with modules?
I did the same than you and after flashing custon kernel the size of available memory was 237Mb.
Next step I installed retroarch with modules - the size was 198,5Mb.
I did this 2 times, the result the same.
If you don't  need to launch sega, N64 games don't install retroarch and size of available memory will be around 237Mb otherwise the s

[2017-10-30 18:42] snessy7 commented on #697
I haven't bothered any more, I just manually change command to md for Genesis bin roms and it works fine.

[2017-10-30 18:43] #697 closed, assigned to Drakonas

[2017-10-30 18:45] chris121278 commented on #972
So, yes and no.
Yes, but after flashing original kernel, the size is about 200Mo.
I manage to install proper version of Hakchi2, and plug in a « Virgin » SNES Classic un ordre to see what happen.
If the size is ok, I will use the dump to flash back my SNES.
Hope it will work.
What do you think about it?

[2017-10-30 19:16] gBaH0JI9I commented on #972
Are you uninstalled old hakchi2 installation before install og kernel?
I did three steps to make SNES virgin again:
1. Menu "Kernel" - "Uninstall"
2. Menu "Kernel" - "Flash factory kernel"
3. Go to SNES menu and factory reset.

To install hakchi2 after that:
1. Menu "Kernel" - "Flash custom kernel"
Thats it. After that the size is 237Mb (without installed retroarch).

[2017-10-30 19:20] chris121278 commented on #972
So,

I’ll try it ASAP. Thank’s a lot for your answer.

[2017-10-30 20:31] poolfloat commented on #545
@Drakonas Looks good after the complete factory reset. Loaded up a handful of games last night and didn't experience any of the audio skipping or choppiness.

[2017-10-30 20:40] chris121278 commented on #972
Re,

@gBaH0JI9I: I've just done it.
Eureka!
Thanks a lot, I've just not seen the Menu "Kernel" - "Uninstall".
The size available is right 237,5Mb, so much mort than before.

I think I would probably install Retroarch because some game doesn't work without.

Anyway Thank you all for your help!!!

[2017-10-30 21:13] gBaH0JI9I commented on #972
👍
I am install only
![default](https://user-images.githubusercontent.com/13234037/32195741-40071d02-bdcf-11e7-8990-92680c69cc42.png)
for Sega Genesis, Nes, N64 and Sega 32X. And after that I have 227Mb free.
Good luck.

[2017-10-30 21:52] THE-PBV commented on #966
why are there not BETA versies of hakchi?  The last hakchi versions are totally NOT stable at all.
en super Buggy.

people now download buggy versions as stable versions

[2017-10-30 21:54] THE-PBV opened #978 "why are there not BETA versies of hakchi?"
why are there not BETA versies of hakchi? The last hakchi versions are totally NOT stable at all.
en super Buggy.
people now download buggy versions as stable versions
Version 2.21D is The last good working version for everybody.

[2017-10-30 22:32] #972 closed, assigned to nobody

[2017-10-30 22:35] Drakonas commented on #978
I use 2.21F with no issues. Most people are just not updating properly. This is not something to ask on a bug tracker.

Uninstall Hakchi, Flash OG Kernel, (perform factory reset on Snes Classic here if you still have issues), then flash custom kernel with new version of Hakchi. This is the proper way to update with 0% chance of issues.

Also, Hakchi2 is still very much beta software for the SNES C

[2017-10-30 22:35] #978 closed, assigned to nobody

[2017-10-30 22:36] Drakonas commented on #966
@THE-PBV Please do not spread this kind of stuff across issues. It's obnoxious and rude.

[2017-10-30 22:37] Drakonas commented on #545
Cool @NotATreoFan please message here if the issue arises again. Usually the factory reset helps in dire cases like this.

[2017-10-30 22:37] #545 closed, assigned to nobody

[2017-10-30 22:38] Drakonas commented on #842
Well as long as it works it shouldn't hurt anything. kachikachibackup is not big enough to really be a problem for space.

[2017-10-30 22:40] Drakonas commented on #973
Different GUID means a differently manufactured device from the original release. And they have not released more NES Mini's since the original manufacturing. It means it's a different device from the originals entirely.

[2017-10-30 22:42] Drakonas commented on #973
I don't know what is used to compile the source. Ask on the Nintendo Classics discord. This is not something to ask on a bug tracker, as it is not a bug.

[2017-10-30 23:15] romadu commented on #960
Thank you
On Tue, 31 Oct 2017 at 12:28 AM, 3rdN3rd <notifications@github.com> wrote:

[2017-10-30 23:41] #960 closed, assigned to nobody

[2017-10-30 23:41] Drakonas commented on #960
Respond if you have further troubles. I see no reason to keep this open when you have it working in the debug version.

[2017-10-30 23:46] joeysmallz opened #979 "Some NES games work then after 49 black screen"
So all the original games work and I counted 49 NES games that worked but after the 49 just get black screen then main menu. I'm only at 18.9 mb of space so I know I'm not even close to limit. I can put 300 SNES games and they all work. Just can't figure out how the beginning 49 work then after none of the rest work. I tried it fresh from scratch but getting same issues.

[2017-10-30 23:49] JustInsane360 commented on #855
No. I ended up replacing my unit. I think it could have been the cores that I added to it. Still not sure what the remedy could be. After uninstalling hackchi2 and flashing original kernal, still nothing.

[2017-10-31 00:05] Frank-5 commented on #979
You need to make sure that you don't have more than 30 or so games in each folder. If you try to have them all on the main screen then this problem will occur.  Just select original games in main screen and automatic folders for added games.

[2017-10-31 00:07] joeysmallz commented on #979
Yeah I don't have them in the main menu and I don't have more then 30 per folder either. I'm a play with it some more to try to figure it out

[2017-10-31 00:41] joeysmallz commented on #979
So I don't know if any one has been having the same issue but I just dropped 1090 NES roms in directly and they worked. If I download the box art then go to the games_snes and pull those folders (that way i dont have to do it every time) and add it to my desktop then try to drop it back in the games_snes that's when the games are not working or only some will and then go blank then back to home. I

[2017-10-31 00:58] romadu commented on #960
Agreed, thank you

On 31 October 2017 at 07:41, 3rdN3rd <notifications@github.com> wrote:

[2017-10-31 00:59] joeysmallz commented on #979
I forgot to mention it's only a problem for NON SNES games I cam take the SNES out and put them back and they'll work.

[2017-10-31 01:20] pcenthusiast92 commented on #620
I'm having some problems with Windows 10 on my Ryzen 5 1600, motherboard asrock b350 fatality k4 gaming

Seems like the windows usb drivers 3.0 or 3.1 are the culprit, windows seems to detect my G9 mouse and g15 logitech which are usb 2.0, i did connected to my rear panel usb 2.0 ports, and windows seems to recognized as 3.0, and prompt a message like this:

![file1](https://user-images.githubuser

[2017-10-31 01:56] beetch18 commented on #956
Had a similar issue tonight on 2.21f on the NES Classic. Only NES games on it and no additional emulators. Added about 200 NES games to get up I about 450 total. Set to automatic folders and no more than 30 per page. Was going in and out of the added games to make sure each worked. Got a C8 error then a message settings were reset to factory and asked to select a language once I reset the system.

[2017-10-31 02:16] J3llyBird opened #980 "Hakchi 2 - List of Games with issues"
Hello,

I'm totally new to programmering and using hakchi.

So, I have carefully gone through the compabillity list and picked games I would like to play on the SNES Classic Mini. It's my first time and I haven't yet synchronized any of them until I'm sure they will work with the buillt in emulation without any issues.

Now to my problem, I've selected a couple games with issues that can be fixed

[2017-10-31 02:23] rubiopaul02 opened #981 "Going thru folders controller disconnects (stops working)"
First of all thanks for this great tool.

My issue is when i go thru a folder and get in the controller stops working, and i have to shut down the console to make it work again. At first i was using a wireless controller, but the issue repeats with a wired controller.   The folders have each less than 30 games( i deleted games and amount per folder but still the same).

Any ideas ?Thank you

[2017-10-31 07:26] iratemike commented on #620
Same issue here. Tried on 3 Intel PCs, tried USB 2.0/3.0, even tried a powered USB 3.0 hub.

[2017-10-31 07:51] ReyVGM commented on #980
This site is to report issues or request features.

For those questions ask on gbatemp or the snesmini reddit (google it). I would recommend not asking where to find ROMs as most sites/forums forbid it since they are kind of illegal.

[2017-10-31 09:12] ameisenmann commented on #977
I cozld only fix it by flashing factory kerlen and starting from scratch. Since then the problem did not occur anymore.
For me -retroarch works fine :)
--retroarch is more Linux style isn't it?

[2017-10-31 09:19] ameisenmann commented on #980
I would really recommend trying retroarch with command line parameter --retroarch for troublemsome games because many PAL games have sound issues. As I remember most of the games you listed have sound issues with built-in emulator but they will start. With retroarch parameter they will start in snes9x. Of course you need to install this as extra module, too

[2017-10-31 09:36] efgamer commented on #980
From the experience that I'm having testing many games on the native emulator I can tell you not to waste your time playing other than the 21 originals games using the native emulator. Go and stick with Retroarch when possible instead and you won't caught yourself noticing a glitch.

The snes9x2010 is a good Retroarch SNES core and can emulate almost all games without any issues at all.

[2017-10-31 09:47] efgamer opened #982 "Retroarch SNES core change request"
The Snes9x with no end year seems to be more accurate then Snes9x2010 as stated on the link below:

https://wiki.libretro.com/index.php?title=Nintendo_SNES_Core_Compatibility#SNES9x_Next

Is it possible to change Retroarch Clover to come bundled with the Snes9x with no end year or even with the higan core (old bsnes) instead of the actual Snes9x2010 core? If not, is it possible to change the core

[2017-10-31 09:51] gBaH0JI9I commented on #977
@ameisenmann
You will be surprised, but inside the SNES is linux.
And "-retroarch" in command line do nothing, should be "--retroarch".
;-)

[2017-10-31 11:59] ameisenmann commented on #977
That explains something :)
Then I am puzzled why the games that have sound issues or do not start at all magically work like a charm by adding "-retroarch". So it must do the same.

[2017-10-31 13:27] Arakon commented on #982
https://github.com/ClusterM/retroarch-clover/commit/165f2f2bf7c1a0389fe98df877f6d13c742c4960
That seems to be commited already and should be in the next release then.

[2017-10-31 13:57] Juckov commented on #883
Had same issue, last week. I was testing random games on NES mini

[2017-10-31 15:53] degstr opened #983 "When selecting a BACK folder, the screen skips to the right"
So I have all my games separeted in alphabetical folders. I can scroll through the games with no problem but when I get to the last icon (wich is the "back" folder), the screen skips to the right to only show that icon. It does that in every folder.

I'm not sure if I am being clear. Doesn't affect functionality at all, only annoying.

[2017-10-31 16:18] ghost commented on #870
Sorry, I might not get to it this week, am sick. Hopefully next week!

[2017-10-31 16:57] ghost commented on #969
@Drakonas The SNES Classic does support many PAL roms. And why we want to use them sometimes: because we grew up the the version that has our native language (for me german). You wouldn't want to play the japanese versions only because the NTSC-U versions could be problematic, would u?

[2017-10-31 17:12] JeffSeverino commented on #969
You have 2 solutions: Use retroarch, or patch the game with the translation (the NTSC version) and hope it'll work, instead of trying to make the console do what it can't naturally. Since the first version of hackchi which supports SNES, Cluster mentioned the incompatibility. Have some patience.

[2017-10-31 19:06] Drakonas commented on #969
As @JeffSeverino said @Vogeluff, Canoe only supports North American roms as a standard. Some PAL roms will run, but most will not. If you have a problem with one, there is nothing that Hakchi can do to fix this. You will have to use Retroarch or look for a working NTSC patch. PAL games on the SNES ran at 50Hz, and NTSC games ran at 60Hz, which is the standard in both America and Europe today, so t

[2017-10-31 19:06] #969 closed, assigned to nobody

[2017-10-31 19:09] Drakonas commented on #983
This is a limitation of the firmware of the SNES Classic. You need to have 12 or more games in a folder for it to work properly. Closing this.

[2017-10-31 19:09] #983 closed, assigned to nobody

[2017-10-31 19:11] Drakonas commented on #883
@Juckov As I said to @djritz0 These issues can be fixed by performing a proper factory reset. Backup your saves with the Hakchie Save Manager in its Tool Menu, uninstall hakchi through the Hakchi's Kernel -> Uninstall function, flash OG kernel (Making sure there are no MD5 checksum errors, else your dump is corrupted and you need to find an untouched one from the internet (from a non-hacked SNESC)

[2017-10-31 19:12] Drakonas commented on #883
Sorry @Juckov correction on the steps: between the OG kernel flash and the flash of the custom kernel, please go to the SNES Classic main menu and perform a factory reset from the options menu. This is the CRITICAL step and will ERASE ALL SAVES, but is necessary to fix everything.

[2017-10-31 19:16] Drakonas commented on #982
Be aware @Arakon and @efgamer with more accuracy comes slower emulation. This core is not stable on the SNES Classic. Because it requires more processing, it runs most games at a cost of performance. Even Zelda Link to the Past romhacks run with audio skipping. 2010/2005 is more stable to run on lower end hardware. Newer SNES9x builds were built with more modern hardware in mind.

[2017-10-31 19:16] #982 closed, assigned to nobody

[2017-10-31 19:16] #977 closed, assigned to nobody

[2017-10-31 19:17] Drakonas commented on #980
This is not a place to discuss rom compatibility with Nintendo's emulator. This is a place to report bugs with Hakchi itself, or request features. Closing.

[2017-10-31 19:17] #980 closed, assigned to nobody

[2017-10-31 19:19] Drakonas commented on #981
How much free space do you have reported by Hakchi?

[2017-10-31 19:24] Drakonas commented on #979
@joeysmallz If you have not tried this already, try backing up your saves, uninstalling hakchi from the Hakchi Kernel -> Uninstall function, flashing og kernel, THEN performing a factory reset, and then flashing custom kernel with the latest hakchi2. That usually fixes oddities like this for people, as the factory reset needs to be performed on vanilla firmware with no hakchi installed. The uninst

[2017-10-31 19:26] Drakonas commented on #855
I guess it's too late now, but the main piece of the puzzle is to factory reset after uninstalling and flashing og kernel. without that the problems usually persist. Problems like that are usually due to files left over from old/bad hakchi installs. The only way to remove them is the factory reset AFTER a uninstall and OG kernel flash. Older Hakchi versions were very alpha for the SNES Classic and

[2017-10-31 19:26] #855 closed, assigned to Drakonas

[2017-10-31 19:28] Drakonas commented on #892
Closing this as the OP has not responded.

[2017-10-31 19:28] #892 closed, assigned to Drakonas

[2017-10-31 19:28] Drakonas commented on #919
Have you found the problem @paty6510 ?

[2017-10-31 19:29] Drakonas commented on #796
Closing this as the OP has not responded.

[2017-10-31 19:29] #796 closed, assigned to Drakonas

[2017-10-31 19:30] Drakonas commented on #955
I'm not sure what the answer to this is @ClusterM ?

[2017-10-31 19:31] Drakonas commented on #776
No response from OP. Closing this ticket until they respond.

[2017-10-31 19:31] #776 closed, assigned to Drakonas

[2017-10-31 19:32] Drakonas commented on #719
Closing this issue as this is not a bug report or feature request. Discussion will be left open. Next time please ask for personal support on reddit or Discord. This is designed to be for reporting bugs or requesting features, not asking questions.

[2017-10-31 19:32] #719 closed, assigned to Drakonas

[2017-10-31 19:32] Drakonas commented on #764
Closing this issue as the OP has not responded.

[2017-10-31 19:32] #764 closed, assigned to Drakonas

[2017-10-31 19:33] Drakonas commented on #731
Closing this issue as the OP is not responding.

[2017-10-31 19:33] #731 closed, assigned to Drakonas

[2017-10-31 19:33] Drakonas commented on #703
Closing this issue as the OP has not responded.

[2017-10-31 19:33] #703 closed, assigned to Drakonas

[2017-10-31 19:34] Drakonas commented on #728
I am closing this as a duplicate of #620 please keep all discussion on that ticket, not this one.

[2017-10-31 19:34] #728 closed, assigned to nobody

[2017-10-31 19:36] Drakonas commented on #681
Closing this. please keep Ryzen discussion on issue #620. This is a duplicate.

[2017-10-31 19:36] #681 closed, assigned to Drakonas

[2017-10-31 19:38] Drakonas commented on #717
Closing this as it has been 19 days without a response from the OP. Assuming fixed. Respond if not so and I will reopen only for the OP.

[2017-10-31 19:38] #717 closed, assigned to ClusterM

[2017-10-31 19:38] Drakonas commented on #650
Closing this issue because of no response from the OP.

[2017-10-31 19:38] #650 closed, assigned to Drakonas

[2017-10-31 19:40] Drakonas commented on #653
This has been fixed as of 2.21f. See #921 for details.

[2017-10-31 19:40] #653 closed, assigned to nobody

[2017-10-31 19:40] Drakonas commented on #639
@Beylie Has this issue resolved itself?

[2017-10-31 19:41] Drakonas commented on #648
Closing this as there has been no response from the OP.

[2017-10-31 19:41] #648 closed, assigned to Drakonas

[2017-10-31 19:42] bob12111 commented on #376
I do have pixel perfect on.  But yeah, it doesn't seem to be the anti-aliasing, but how my TV upscaled from 720p to 1080p...  Maybe if hakchi could upscale the output to 1080p...?

[2017-10-31 20:10] Drakonas commented on #695
Closing this issue as the OP has not responded.

[2017-10-31 20:10] #695 closed, assigned to Drakonas

[2017-10-31 20:12] Drakonas commented on #568
Closing this issue as the OP never responded.

[2017-10-31 20:12] #568 closed, assigned to Drakonas

[2017-10-31 20:13] Drakonas commented on #509
Closing this issue. The OP has not responded since creating the ticket. This is a bug report tracker not a discussion tracker.

[2017-10-31 20:13] #509 closed, assigned to nobody

[2017-10-31 20:14] Drakonas commented on #376
lol. That's a SNES Classic issue my friend. That would require much more processing. Hakchi cannot fix this. Closing.

[2017-10-31 20:14] #376 closed

[2017-10-31 20:14] beetch18 commented on #198
I had a C8 error last night on the NES classic. Using version 2.21f. I added a bunch of games and was navigating in and out of folders testing them out.  Only NES games on thesystem and no additional emulators.  Set folders to max of 30 and plenty of free space on the system.

[2017-10-31 20:15] Drakonas commented on #586
Closing this issue as @soonjistarr has not responded.

[2017-10-31 20:15] #586 closed, assigned to nobody

[2017-10-31 20:15] Drakonas commented on #506
This is an 8bitdo firmware issue. Talk to them, not us. Closing.

[2017-10-31 20:15] #506 closed, assigned to nobody

[2017-10-31 20:16] Drakonas commented on #500
You need to ask this on reddit or discord @fluffiebuddie this is a bug report tracker not a question asking forum. Closing.

[2017-10-31 20:16] #500 closed, assigned to nobody

[2017-10-31 20:17] Drakonas commented on #499
This was fixed in a build since. Closing.

[2017-10-31 20:17] #499 closed, assigned to nobody

[2017-10-31 20:18] Drakonas commented on #495
Closing this as it is reported fixed by the OP. @mmax3 the SNES classic probably doesn't provide enough power to power an adapter like that. All I can say is try the usb cable and power adapter the SNES came with. If that doesn't help, it cannot be fixed. This is not a Hakchi-fixable issue. Closing.

[2017-10-31 20:18] #495 closed, assigned to nobody

[2017-10-31 20:19] Drakonas commented on #494
@Invidious89 was this ever fixed?

[2017-10-31 20:20] Drakonas commented on #492
This should have not ever been posted on this tracker. This is a Nintendo code issue, not Hakchi. Rom compatibility discussion with Canoe should be kept on Discord or Reddit or elsewhere. This is for reporting bugs with Hakchi, not canoe. Closing.

[2017-10-31 20:20] #492 closed, assigned to nobody

[2017-10-31 20:21] Drakonas commented on #491
@Omar-Diaz-Silva Are you still having issues?

[2017-10-31 20:22] Drakonas commented on #484
This would require hardware in the SNES Classic to support this. Your only option is Retroarch. Closing.

[2017-10-31 20:22] #484 closed, assigned to nobody

[2017-10-31 20:22] #483 closed, assigned to nobody

[2017-10-31 20:23] Drakonas commented on #534
Closing this as the OP has not responded.

[2017-10-31 20:24] Drakonas commented on #478
This has been added to the wiki as of writing. Closing.

[2017-10-31 20:24] #478 closed, assigned to nobody

[2017-10-31 20:25] Drakonas commented on #475
@darkunderdog were you ever able to get this fixed?

[2017-10-31 20:26] #472 closed, assigned to nobody

[2017-10-31 20:26] Drakonas commented on #471
This has been fixed.

[2017-10-31 20:26] #471 closed, assigned to nobody

[2017-10-31 20:26] #466 closed, assigned to nobody

[2017-10-31 20:26] #462 closed, assigned to Drakonas

[2017-10-31 20:28] Drakonas commented on #448
How do you propose the SNES Classic be able to provide enough power to do this?

[2017-10-31 20:28] Drakonas commented on #446
fba core is now included with the retroarch pack. use this to play arcade games.

[2017-10-31 20:28] #446 closed, assigned to nobody

[2017-10-31 20:29] Drakonas commented on #445
This has been added. Closed.

[2017-10-31 20:29] #445 closed, assigned to nobody

[2017-10-31 20:29] #444 closed, assigned to nobody

[2017-10-31 20:30] Drakonas commented on #440
The roms on the SNES Classic cannot be modified. They have since been found to be read only. You have to add duplicates of the roms you want and disable the originals.

[2017-10-31 20:30] #440 closed, assigned to nobody

[2017-10-31 20:30] Drakonas commented on #439
The roms on the SNES Classic cannot be modified. The ones included are read-only. You will need to add duplicate roms for each game and disable the originals from Hakchi,

[2017-10-31 20:30] #439 closed, assigned to nobody

[2017-10-31 20:31] #437 closed, assigned to nobody

[2017-10-31 20:31] #435 closed, assigned to nobody

[2017-10-31 20:32] Drakonas commented on #434
This is not a Hakchi problem. Codes are designed to work with the rom they were made for. If you patch the rom it breaks compatibility with codes. Closing.

[2017-10-31 20:32] #434 closed, assigned to ClusterM

[2017-10-31 20:32] Drakonas commented on #433
This entire issue has been fixed since. Closing.

[2017-10-31 20:32] #433 closed, assigned to nobody

[2017-10-31 20:32] #432 closed, assigned to nobody

[2017-10-31 20:33] Drakonas commented on #425
@glitchyGhost The (S)NES Classic cannot handle more than 60 games on one folder, or else you will have problems/crashes.

[2017-10-31 20:33] #425 closed, assigned to nobody

[2017-10-31 20:35] Drakonas commented on #423
This is not something Cluster will fix. This would require a hardware adapter for the Zapper to the Wii controller interface, and that's IF it will actually work in the first place. Closing this, as it is not fixable by software.

[2017-10-31 20:35] #423 closed, assigned to nobody

[2017-10-31 20:36] #415 closed, assigned to nobody

[2017-10-31 20:36] #412 closed, assigned to nobody

[2017-10-31 20:37] Drakonas commented on #411
Please leave questions like this on reddit or Discord next time. This is a bug tracker for hakchi,

[2017-10-31 20:37] #411 closed, assigned to nobody

[2017-10-31 20:38] Drakonas commented on #407
@chasnotchaz did you ever get this resolved? Please close the issue if so.

[2017-10-31 20:39] #402 closed, assigned to nobody

[2017-10-31 20:40] Drakonas commented on #401
Ask for this on reddit next time. This is not a personal help line but for submitting bugs with Hakchi.

[2017-10-31 20:40] #401 closed, assigned to nobody

[2017-10-31 20:40] Drakonas commented on #399
Closing this as the OP has not responded.

[2017-10-31 20:40] #399 closed, assigned to nobody

[2017-10-31 20:40] #398 closed, assigned to nobody

[2017-10-31 20:40] #397 closed, assigned to nobody

[2017-10-31 20:41] #325 closed

[2017-10-31 20:41] Drakonas commented on #324
Closing this as the OP has not responded.

[2017-10-31 20:41] #324 closed

[2017-10-31 20:41] #317 closed

[2017-10-31 20:42] Drakonas commented on #313
Please ask this on Reddit or Discord. This is not the place to ask.

[2017-10-31 20:42] #313 closed

[2017-10-31 20:42] #309 closed

[2017-10-31 20:43] Drakonas commented on #309
This is obviously an antivirus issue. Add an exception to your antivirus software. This is not a Hakchi problem.

[2017-10-31 20:43] #307 closed

[2017-10-31 20:44] #305 closed

[2017-10-31 20:44] #289 closed

[2017-10-31 20:45] Drakonas commented on #289
Closing this as it is probably a corrupt install. OP: Please respond if you are still having this issue.

[2017-10-31 20:46] Drakonas commented on #285
@Neite99 any updates on this?

[2017-10-31 20:46] Drakonas commented on #274
@Mathbeach are you still having issues with this?

[2017-10-31 20:47] Drakonas commented on #243
This could have been avoided by leaving ample amount of free space for savestates. Closing.

[2017-10-31 20:47] #243 closed

[2017-10-31 20:47] #207 closed

[2017-10-31 20:48] Drakonas commented on #232
This has been addressed.

[2017-10-31 20:48] #232 closed

[2017-10-31 20:48] Drakonas commented on #251
Change the /bin/XXX to /bin/md. Solved.

[2017-10-31 20:48] #251 closed

[2017-10-31 20:49] #260 closed

[2017-10-31 20:51] Drakonas commented on #250
Closing this as the OP has not responded for a while. Respond if you are still having issues, but I believe this is a USB driver issue with VMs and not able to be fixed by Hakchi.

[2017-10-31 20:51] #250 closed

[2017-10-31 20:51] Drakonas commented on #244
@mebizzle Did you ever get this addressed?

[2017-10-31 20:52] #198 closed

[2017-10-31 20:54] Drakonas commented on #198
@beetch18 Please make a new issue for this next time and don't respond to month old tickets, but usually you can fix that with these instructions: Backup the save files you need using Hakchi, uninstall hakchi2 using the Kernel -> Uninstall function from the application, flash OG kernel, go to the NES Classic menu and perform a factory reset, then flash custom kernel with the latest Hakchi.

[2017-10-31 20:57] Drakonas commented on #968
There are already plenty of guides to do this if you had actually looked https://www.youtube.com/watch?v=K1vJTiF9QP4

[2017-10-31 20:57] #968 closed, assigned to nobody

[2017-10-31 21:02] Locutus73 commented on #448
I’m more a software than a hardware guy, but I was thinking to some sort of custom Y USB OTG cable with an added female USB micro port (or male USB A) in order to connect to the power brick for the shared ground and +5V.

[2017-10-31 21:05] Drakonas commented on #448
Be aware this requires soldering onto the board of the SNES Classic to enable this feature. USB 2.0 cannot provide much extra power anyway, and that's what the port on the back of the SNES Classic is. A Y cable would connect, but it would split the power. The SNES Classic is already grabbing as much power as it can off the cable. I doubt it would be able to power anything else on the same line wit

[2017-10-31 21:28] glitchyGhost commented on #425
Thanks for the replies guys, only just seen them.  It was a mod I did for a customer, that I thankfully managed to sort out, although it’s permanently set at 480, which in my opinion looks much better than the 720p default.  Not sure how it happened (possibly disconnecting from the unit whilst signal was being sent to an old tv ? / which I noticed I did a few times) very strange.  So a warning to

[2017-10-31 21:37] Locutus73 commented on #448
Well, regarding the soldering, I think we should investigate the SNESC motherboard.
Reading
http://honeylab.hatenablog.jp/entry/2017/02/16/171201
and
http://honeylab.hatenablog.jp/entry/2017/02/18/015102
I’m confused: I don’t understand if soldering is strictly necessary or if USB OTG mode can be forced in software (maybe kernel configuration).
Regarding the power issue Nintendo recommends a 5V 1A

[2017-10-31 21:46] rubiopaul02 commented on #981
actually around 150mb, i have less than 100 games (incluiding original 21)

[2017-10-31 22:09] electrocret commented on #981
I have also ran into this issue when I go into a folder. Disconnecting and reconnecting the controller fixes it for me.
Edit: After thinking about it, I haven't had this problem since reflashing to fix #545 . Maybe that'll fix it for you.

[2017-10-31 22:09] Drakonas commented on #962
Try going back to an older version of Hakchi way before the SNES updates, and try to uninstall and restore the OG kernel from that. The older versions use a slower FEL method that may allow you to achieve success.

[2017-10-31 22:23] Drakonas commented on #981
Are you using the power adapter and cable that came with the console? @rubiopaul02

[2017-10-31 22:27] Drakonas commented on #448
Oh so you want to extend the storage. I thought you wanted it for controllers. Yeah that won't be possible through USB OTG most likely. It would need to extend the memory using the onboard headers. https://github.com/ClusterM/hakchi2/issues/427 See this issue.

[2017-10-31 22:35] madmonkey1907 commented on #962
@petopp81 , did you solve it? I can help, though for now you'll have to use ext2 instead of ext4

[2017-10-31 22:43] Locutus73 commented on #448
Why do you think USB storage through USB OTG won’t work?
According to http://honeylab.hatenablog.jp/entry/2017/02/18/015102

A custom kernel + Y cable seems to me a simpler solution than onboard header, considering Honeylab success reports.
I think you (I mean hakchi2 team) should contact him in order to join forces (Honeylab already uses hakchi2). IMHO an USB expanded SNESC (using just an externa

[2017-10-31 22:48] explosiveaction commented on #534
@Drakonas I have not had a chance to re-test this with newer versions. Deleting the hakchi directory was the ONLY thing that would let me do a sync as it forced the program to re-flash the kernel. Once it had performed the sync it would go back to failing again, so had to delete the program for the next sync.

I'll get the latest version and try again soon.

[2017-10-31 23:00] Neite99 commented on #285
Nope, not yet. I have the chip installed and I see that we can dump the Nand now from hakchi but I havent had much time to mess with this.

I don't know enough (like MadMonkey or Cluster) to do this quickly so I am hoping for some help.

[2017-10-31 23:43] madmonkey1907 commented on #285
@Neite99, I didn't forget about this. I think a week or 2 more and we'll get you running.
you actually kinda can make it work right now, but you will have to boot it over usb each time.

[2017-11-01 01:29] Drakonas commented on #534
@explosiveaction if you deleted the hakchi directory without moving the dump folder to the new hakchi directory, then you won't get anywhere. You need to download an unmodified kernel from the internet for your SNES. Redumping the kernel from the SNES is futile as the SNES has already been hacked at one point. You need to find a kernel ripped from a never modified SNES Classic.

[2017-11-01 01:33] explosiveaction commented on #534
@Drakonas I don't think you are following the problem I am having. I have a backup of the original kernel, that's not the issue. The issue is the workflow.

1. Install Hakchi
2. Set up ROMS
3. Press Sync
4. Sync is treated as a 'first time' sync and does the kernel dump, flash, and roms sync successfully.
5. Add an additional ROM
6. Press Sync
7. Sync is treated as a games-only sync and fails to r

[2017-11-01 01:34] Drakonas commented on #448
Did you not read the big fat post on the front page of that blog (How to enable NESC's microUSB connector as Host) stating that you need to connect (solder) connectors together to enable USB OTG?

[2017-11-01 01:39] Drakonas commented on #534
If it is doing a kernel dump upon syncing then you do not have an original dump in the folder prior to syncing or it is not named correctly. This is my point. You need your original dump you made when you first synced hakchi for the first time. (dump/kernel_snes.img) You are probably hacking already hacked dumps. Find an untouched dump on the internet please. I've fixed so many people's problems l

[2017-11-01 01:40] Drakonas commented on #534
@explosiveaction Have tried an uninstall from the Hakchi Kernel menu?

[2017-11-01 01:43] explosiveaction commented on #534
@Drakonas it is doing a kernel dump upon synching ONLY if I delete the hackchi folder.

If I do NOT delete the hakchi folder and reinstall, it presumably does a dump.

If I do NOT delete the hakchi folder and reinstall, I cannot sync further games after the first attempt.

I've not tried uninstalling via the menu, didn't see that there. I was just deleting the installation folder and then copying

[2017-11-01 01:45] Drakonas commented on #534
Well if the file is not present, syncing of games will sync, but the kernel on the SNES Classic will be corrupt because it is dumping the kernel from the SNES (which was already modified) and is attempting to use that to hack and then flash back to the SNES.

[2017-11-01 02:12] rubiopaul02 commented on #981
yes, im using what came in the box.   Also i noticed it happen more often if i jump between games

[2017-11-01 02:46] Frank-5 commented on #959
Isn't all this information in the FAQ or in the docs somewhere?  The very first thing I did based on what I read was to keep the games per page between 12 and around 30 to keep things running right and I've have had absolutely no problems. I added gb,gba, n64, SNES,  name, and RetroArch with a bunch of cores,  with all running great.  (Except no saves for the N64 Roms sadly).
Anyway shouldn't this

[2017-11-01 02:46] Frank-5 commented on #959
*mame2003.

[2017-11-01 04:24] Neite99 commented on #285
@madmonkey1907
 Really? that would be awesome. I would love to get it working.

 I have had quite a few responses for people wanting the extra space so if we do get it figured out they (and I ) would be very excited.

 Do you want me to send you a chip? Would that help? I have an extra carrier too so you can swap them in and out but its a pretty intricate solder job. I had one of the pros from my

[2017-11-01 05:14] OrisX opened #984 "Some games not saving? (N64)"
I've been testing some N64 games mainly and I'm noticing that the saves aren't sticking. Banjo-Kazooie, Zelda: OoT and Pokemon Stadium all have had their saves deleted, or maybe they never existed to begin with? I haven't tested it with other N64 games because the ones I have seem to not work (like they go back to the game select screen, but that's an issue for another post). I have tested saves f

[2017-11-01 06:21] Slugoid commented on #836
From my testing, version 2.12 seems to be the version that works perfectly with my Famicom mini so far.
- Original FDS games working
- All added ROMS working
- All added FDS games working (no need for RetroArch)
- All FDS games will change disk automatically (RetroArch required used to change disk using buttons)

Until the problem gets solved, I'll be sticking with 2.12 for my Famicom, and newer v

[2017-11-01 08:48] Locutus73 commented on #448
Yes, but soldering two resistors doesn’t make this approach more complicated than soldering a SD adapter to the GPIO headers; on the contrary
1. Most of the kernel work seems to be done and tested by Honeylab
2. USB OTG is more generic (it allows other peripherals like controllers, network adapters, maybe multiple ones through a powered hub)
3. An external USB key can be easily detached and update

[2017-11-01 09:41] migsou82 opened #985 "Altered free space calculation... Why?"
What is the importance of having changed the calculation of memory, if after the memory is in the same limited there already was in the Mini NES?

[2017-11-01 10:58] krofinzki commented on #984
This seems to be related to this retroarch issue: https://github.com/ClusterM/retroarch-clover/pull/121

[2017-11-01 12:18] Frank-5 commented on #984
I also can't save in any of the N64 games I have on my SNES mini.   I tried save state in RetroArch and load state after exiting and running again. Doesn't save.  Nothing to reload is saved.  Also the cool saves into the 4 slots in the SNES screen don't work either.  I've tested SM 64, Mario Kart 64, Asteroids Hyper 64, and a few others.   Games run ok. Just can't save.   2.21c w/ RetroArch 1.0

[2017-11-01 12:19] Frank-5 commented on #984
All the other GBA, GB, GBC, NES, etc save just fine.

[2017-11-01 12:28] Frank-5 commented on #966
My 2.21f did the same. Got very hot after about 20 minutes of just sitting in title screen and demos playing.  I reverted back to 2.21c and it does not run hot under same conditions.   Something in 2.21f (d,e? also/maybe haven't tested those) must be to blame.  Dunno.  I'm keeping my 2.21c setup with the uncompressed busy box patch until 2.21f gets sorted.

[2017-11-01 12:29] Frank-5 commented on #966
(I used @Draconas' method for the update)

[2017-11-01 12:32] bewilderedthetan commented on #870
The hmod is finished and I created a pull request for it. Let's hope it gets incorporated.
Btw, the hmod lets you also save and load filter settings per game.

[2017-11-01 13:38] ghost commented on #870
Pull request is there, hopefully it will get into the next version. The install/uninstall scripts might not be completely correct, so do not copy the code from my fork, it needs to be reviewed.

Modified it alot, now the hmod is much more user-friendly I believe! Changes are in the same pull request.

[2017-11-01 13:43] Drakonas commented on #984
This is a known issue posted publicly. We are already aware.

[2017-11-01 13:46] Drakonas commented on #985
If you're talking about there being only around 240MB free space on a fresh install of Hakchi, it is correctly being detected. The SNES Classic uses about 60MB of the space for the built in games, and those games cannot be deleted or edited. They are read only. As such, you can disable them, but you cannot remove them, so the space has been removed from the total available space.

[2017-11-01 13:46] #985 closed, assigned to nobody

[2017-11-01 13:48] #959 closed, assigned to nobody

[2017-11-01 13:51] Drakonas commented on #981
Try backing up your saves, uninstalling Hakchi through the Kernel -> Uninstall function, then flashing OG kernel (make sure you get no MD5 checksum errors), then go to your SNES Classic main menu and perform a factory reset from the options menu, then flash custom kernel again. @rubiopaul02 There are probably leftover files from old/bad hakchi installs.

[2017-11-01 14:05] AllegroDigital commented on #836
Thanks for the tip re: 2.12
Confirmed as working great for me. Down side is it doesn't seem to have all the letters (no"W" or "4") for game titles in the menu... so I'd still like to see an actual fix in 2.20+ . But with 2.12 and retroarch for the games with missing modules, everything is working great.

[2017-11-01 14:07] Frank-5 commented on #984
Yes I know.  That was the point I was trying to make.  I failed to mention explicitly that this was already a known (and posted) issue.

[2017-11-01 14:18] ArieKindicator commented on #762
I don't have this problem and I'm in NL too.

[2017-11-01 14:20] Drakonas commented on #762
@HtheB What version of Hakchi are you using?

[2017-11-01 14:34] Juckov commented on #883
I let it be. What I have noticed, is that it happens when resetting the console too often. May be some memory leak or something.
 And my console is NES mini, hackchi 2.17d

[2017-11-01 15:05] djritz0 commented on #883
@juckov youre correct. After you do too many resets it starts to act up. I think the system is trying to CD create too many save states when that happens and causes the machine to crash. Is there a proper fix for this @clusterm ?

[2017-11-01 16:08] petopp81 commented on #962
@Drakonas I tried that and it didn't work, but I will give it another go. I get a black screen when i startup but that happened a few times before i fucked up as well.

@madmonkey1907 No, not solved yet, would be great with some help but you have to consider that I am a novice so if you could explain for a total idiot like myself ;)

[2017-11-01 16:36] megaDRONe86 commented on #966
@Drakonas I believe this issue is related to this one https://github.com/ClusterM/hakchi2/issues/921 because all started after removing delay from /bin/remote-exec in this commit https://github.com/ClusterM/hakchi2/commit/124f65ddedbd41a2179c8b61fd6d634fa599aaf9 and the solution provided in this commit https://github.com/ClusterM/hakchi2/commit/124f65ddedbd41a2179c8b61fd6d634fa599aaf9 with simply

[2017-11-01 18:37] HtheB commented on #762
It was with all the versions (even the latest) that l I've tried.
Is there a debug version to see what it tries to do?

[2017-11-01 19:05] KMFDManic commented on #984
Since enough people asked, I am gonna fix this issue in my Repo today and update the Core Set, accordingly.  I have been using a workaround to save, up til this point.  But, a more user-friendly install will suffice in this case.  Note: This mainly affects larger games.

[2017-11-01 19:24] PilgrimToHyperion commented on #639
@Drakonas I've just tested it with the latest version (2.21f) and the behaviour has changed. Now even though I select any of the other 3 console types, it stays on SNES (USA/Europe). I assume detection now handles whether you can change with these checks?

Detected board: dp-shvc
Detected region: EUR

[2017-11-01 19:43] ArieKindicator opened #988 "A 'Select all' checkbox to select all games"
Add a select all checkbox to select (or unselect) all games at once. Doing it one by one can become quite tedious when there are many games present in the hakchi2 games folder(s).
Position: in the first column of the header.
IMHO, a text box ("Select all") isn't necessary as it is self-explanatory and used in a similar way in many other applications.

[2017-11-01 19:52] hoderer commented on #988
I would like to take that idea a step further: "Select all or type/extension" with a list of existing file extensions. Useful when you want to delete all pc engine-games with file ending ".pce" for example. Also sorting would be great.

EDIT: Using the shift-key to select multiple files is working, but it's really not that comfortable.

[2017-11-01 21:06] rubiopaul02 commented on #981
That seemed to do it, when i did it the first time got the md5 error, but now it work and issue hasnot appeared again.  Thanks

[2017-11-01 21:36] Danteku commented on #966
So.
I followed the steps from earlier.
After removing AND uninstalling all traces of extra ROMs and Hakchi kernel, I ran my system as if it were out of the box.
It was working fine, without a heating issue.
I reinstalled the latest build, 2.21f, only to run into the heating issue again.
While it doesn't seem detrimental (I haven't run it for more than two hours just in case though), it definitely

[2017-11-01 21:40] JustinForest opened #989 "snes compatibily"
I've been looking through the list of games that don't work correctly or at all, and was wondering if these will be permanent issues, or will future updates to hakch2 be able to solve some of them.  There are only a few games I want to add anyways that don't work so not a huge deal, but i've been following this site for months, sinces the nes classic, and seen it constantly updated. i've been hold

[2017-11-01 21:48] megaDRONe86 commented on #966
I played today more than hour on 2.21f and from my perspective tempreture of the console is normal. I updated from 2.21d just by reflashing custom kernel to fix this issue https://github.com/ClusterM/hakchi2/issues/921 .
Personally I don’t get any issues on 2.21f right now so I am planning to leave this version unless any major issues would be found or major update available.

[2017-11-01 21:52] Arakon commented on #989
Considering this is opensource software and community-driven, there never will be such a thing as a "final" version without flaws and "everything" included.

[2017-11-01 21:53] megaDRONe86 commented on #989
I think current version 2.21f is pretty solid. I configured my SNES mini and I don’t found any issues so far.
For all not working ir buggy games you could use RetroArch emulator instead built in one.
As for the game list support by the built in emulator here it is: https://docs.google.com/spreadsheets/d/12HKfz4ZQBy6Ip5awvh8t2aV5cVswYlnsdKxn9xoIW2Y/htmlview?sle=true#

[2017-11-01 22:46] ludomadinina opened #990 "Problem with space left on snes"
Hi,
There's only 237,8MB left on my snes.
I worked on VMware fusion with OS X.
I first hack well and found 300MB with web installer hackchi2.
As I couldn't install others emulators, I used hackchi2 zip version. Then it's the beginning of many desinstall action with the two versions of hackchi.
How to find my space back please?

PS: I desinstall everything and set back to origin on the original min

[2017-11-01 23:44] KMFDManic commented on #984
Fixed in my latest Core Update

https://github.com/KMFDManic/NESC-SNESC-Modifications/releases/

[2017-11-01 23:49] mikezila commented on #814
Autodetection doesn't seem to work for emulators other than the inbuilt SNES one.

[2017-11-02 05:14] ludomadinina commented on #990
I can't even play with Europe version of games.

[2017-11-02 05:53] Gab-75 commented on #990
237,8 MB are the "normal" free storage space on an hacked SNES mini... you can increase a little the free memory available with the extra_space module (the module moves the savestates on 50 MB of unused NAND memory, but, in this case, you have "only" 50 MB for your savestates (if you like use a lot of savestate points it could be a problem).

NB: Canoe (the native emulator of SNES mini) doesn't su

[2017-11-02 06:22] ReyVGM commented on #988
This already exists. Just select the files you want and hit the checkmark for any of those files and they will all be selected or unselected.

[2017-11-02 06:49] OrisX commented on #984
I just downloaded this and tried it. I don't think I installed it incorrectly, but saves for Pokemon Stadium and Ocarina of Time still don't stick for me. Does it matter which module I use to run N64 games, or is it just an issue based on the game's size? Because Banjo-Kazooie's save is working now, which is an improvement from before.

[2017-11-02 06:51] ib0w commented on #436
Does anyone have a download link for the EU Snes mini kernel? Mine isn't working anymore. Hope someone can help me out here.

[2017-11-02 07:14] KMFDManic commented on #984
@orisX, do one test for me, if you do not mind.  Run Pokemon Stadium and Ocarina of Time in uncompressed format and let me know if the saves work for you.  May need to do a minor adjustment to adapt to them.  Thanks!

[2017-11-02 07:35] AbyssalWank commented on #620
I had this same problem. switching form usb 3.0 to 2.0 solved it.
ryzen 7 1800x
msi mobo
win 10
Edit: this only allowed me to dump the kernel. now i cannot write

[2017-11-02 08:39] ghost commented on #989
Some of the roms dont work because they use functionality which is simply not emulated, so it's not a Hakchi thing.

[2017-11-02 08:48] ghost commented on #989
I have 2 consoles, one for modding constantly and one for modding with the final übermod. I am 100% certain that this console will eat dust for the rest of my life while I wait for this übermod. The moment to enjoy modding is now and it's in the nature of every modder to keep on modding and tweaking stuff constantly and continuously work towards the ultimate mod which will never be there, but it's

[2017-11-02 09:07] skforty opened #991 "[Feature Request] Allow a user to change the output resolution"
**Description:**
The mini-snes and nes classics output 720p, but it would be great for a variety of reasons if we could output in lower/higher (480p/1080p) resolutions.

TBH, I've not read up enough on the hardware so I don't really know if this is even possible.

**Justification:**
_480p_
For my SONY BVM and PVM CRT's I hook up all of my old systems in RGB (~15khz Horizontal Scanrate/~240p), but

[2017-11-02 09:35] JustinForest commented on #989
I'm not a modder. I just want to have a system that my baby will be able to enjoy growing up with a similar experience I had, without having to let her into my collection and ruin my games value.

[2017-11-02 09:38] noyera commented on #436
Here is the original Kernel from my SNES Classic Mini EU Version (bought in Germany).
Please tell me, if it isn't working correctly.

[SNES Classic Mini Original EU Kernel](http://s000.tinyupload.com/?file_id=92385157764481097154)

[2017-11-02 10:09] megaDRONe86 commented on #989
Justin absolutely! Me too.

[2017-11-02 11:38] Majorboots commented on #988
Hi, I'm trying to use Hakchi 2 to add some games to my son's mini snes. I've watched several youtube video's and followed the instructions up to the point of trying to add games to Hakchi2. At the Select games I've noticed that I can only add 2 games even though I have selected 50 games to add. I try to then add them separately and whatever I select after the first 2 then changes the last game I a

[2017-11-02 12:00] unaigalder commented on #870
I want normal mode without border, no scanlines, bilinear and scale image to full screen or 16/9

[2017-11-02 12:30] ghost commented on #991
Technically yes it is possible. There are a few modes available, just cat the file /etc/fb.modes to see them and do a fbset <mode> to set a specific mode.
Yet, the emulator changes the mode, so it's not quite useful. You would have to modify the emulator for this to work, or maybe I am overlooking something.

[2017-11-02 12:32] ghost commented on #989
Then, you have that system already, but maybe not with the games you played as a kid. Without the mod you have an excellently stable system from Nintendo, a consumer product.
I dont want to sound harsh btw, just want to make something clear about consumer products you pay for vs community driven OSS development

[2017-11-02 13:41] ArieKindicator commented on #988
@ReyVGM. Yes, but it is a bit cumbersome. To be sure that I select or unselect all games I have to click the first and the last game in the list while holding the shift key.

For example, what doesn't work but is quite intuitive (to me), is selecting the first game in the list and then drag the mouse downwards, but this doesn't select/highlight the games below.

IMHO, a checkbox on top of the game

[2017-11-02 14:16] Drakonas commented on #989
@JustinForest these compatibility issues are not patchable by Hakchi. This is a Canoe problem, which is Nintendo's design. The only thing that can be done is find patches to patch games to make them work, but lots of games like Star Ocean and Tales of Phantasia will never run on Canoe because of the required hardware emulation needed to run the game that Canoe does not have support for.

[2017-11-02 14:16] #989 closed, assigned to nobody

[2017-11-02 14:17] Drakonas commented on #991
This would be possible, but I would expect that there would be lag induced from doing so, which may make games unplayable.

[2017-11-02 14:19] Drakonas commented on #436
@ib0w 1: do not respond to half a month old tickets for separate requests. 2: this is not the place to be asking for illegally distributed content. The kernel is copyright Nintendo. Closing this and removing links to kernels.

[2017-11-02 14:19] #436 closed, assigned to nobody

[2017-11-02 14:26] Drakonas commented on #990
This is normal @ludomadinina. The SNES Classic's built in games are non-removable and non-editable. Unchecking them just hides them. Like @Gab-75 said, the extra space mod will give you more space, but you run the risk of C8 errors running out of save space because it limits the save storage to 50MB and all the built in roms use 2 to 3MB of storage per savestate.

[2017-11-02 14:26] #990 closed, assigned to nobody

[2017-11-02 14:28] Drakonas commented on #814
@mikezila please make a new ticket for this instead of responding to a week old ticket that is nonrelated to your problem.

[2017-11-02 14:29] #981 closed, assigned to Drakonas

[2017-11-02 14:31] Drakonas commented on #762
https://github.com/ClusterM/hakchi2/wiki/If-you-have-any-problems It's on the release page with each release.... @HtheB

[2017-11-02 14:33] Drakonas commented on #883
@Juckov why don't you try my instructions instead of shrugging it off.

[2017-11-02 14:33] ludomadinina commented on #990
Hello,
thank you for your answers.
I was pretty sure that at the first hack, hakchi was indicating 300MB on space. My fault so. But whatever, I'm now confused. The screen shot as you see in my pdf file appears each time I hack, is it normal?
then, I did install retroarch and the other cores. But I can play only with nintendo games (snes, nes, GB, GBC, GBA) but I can't play with Europe version. for

[2017-11-02 14:56] Juckov commented on #883
I did that the first time it happened.
The first time was the worst, and it was error c7 I think. I wanted to see how many saves it can keep. Would start a game, save and to the next one. The error popped up on 15th game, or something like that. So it could be turned on but there was the error on screen.
So I did uninstall, flashed,  then factory reset, and installed hackchi back.
But it happened

[2017-11-02 14:58] Drakonas commented on #883
... well then there's your problem probably. you need to leave more free space on it. Most C7/C8's and crashes are caused by not having enough free space on the system. It's like having windows with only 2-5GB free space on your hard drive. It has issues.

[2017-11-02 15:05] Juckov commented on #883
Thanx, I'll let it like that. 390 games
 I don't even play it just scroll through games during 30 mintes and my free time is over.
But I lent it to my friend for several weeks, he finished about 20 games and didn't complained, so if playing soft it makes no errors.

[2017-11-02 15:05] Drakonas commented on #990
@ludomadinina your kernel dump is corrupted. If you have deleted the Hakchi directory without backing up the dump folder, then you have lost your original kernel dump. Once a SNES or NES Classic is hacked, the kernels are modified, and cannot be restored without a dump prior to being hacked. If you delete the dump folder, Hakchi will dump the kernel from the console again but it will be a broken d

[2017-11-02 15:08] Drakonas commented on #883
@djritz0 have you ever tried the full uninstall I mentioned in like 3 different tickets to you, and do you have enough free space on your console? I will close this if you're not willing to try. you need to uninstall through hakchi, flash og kernel, then perform factory reset from SNES Classic main menu. then flash custom kernel making sure you get no MD5 Checksum errors.

[2017-11-02 15:09] ludomadinina commented on #990
Ok, I think you described my problem. I did found different dumps. with different size. Do yo know the size of the original dump?

[2017-11-02 15:20] Drakonas commented on #990
It depends on your region @ludomadinina
                "d76c2a091ebe7b4614589fc6954653a5", // SNES Mini (EUR)
                "c2b57b550f35d64d1c6ce66f9b5180ce", // SNES Mini (EUR)
                "0f890bc78cbd9ede43b83b015ba4c022", // SNES Mini (EUR)
                "449b711238575763c6701f5958323d48", // SNES Mini (USA)
                "5296e64818bf2d1dbdc6b594f3eefd17", // SNES Mini (USA)

[2017-11-02 15:29] ludomadinina commented on #990
I tested my kernel snes.img on the website onlinemd5.
File checksum indicate D76C2A091EBE7B4614589FC6954653A5 as your first proposition.
2,734,080 Bytes size file.
I think it's the original kernel.
The virtual machine installed the files in my OS X documents directory. This is the file I just checked with your help.
I will set the machine back to original and restart the hack to check if everythin

[2017-11-02 15:31] djritz0 commented on #991
Retroarch can set the display

[2017-11-02 15:32] Drakonas commented on #991
not what they're talking about @djritz0 it still outputs in 720p signal to the TV.

[2017-11-02 15:33] Drakonas commented on #990
If that's the case try that yes. @ludomadinina Your kernel is probably just corrupted on the SNES then.

[2017-11-02 16:39] ludomadinina commented on #990
Nothing changed. I can play SNES, GBCA and Master system files but not with French versions and Megadrive, Genesis and Neo Geo don't work.
I found a kernel on the net.
I wil try again with this version to see if I can deblock the system.
Thank you for support.

[2017-11-02 17:05] KMFDManic commented on #984
@OrisX I modified the fix to also apply to 50+ Mb Games for n64.  I can confirm Legend of Zelda - Ocarina of Time now works:)

https://github.com/KMFDManic/NESC-SNESC-Modifications/releases/

[2017-11-02 17:16] mikezila commented on #814
It's not unrelated, it's the same question/request.  Autodetection of the save capability badge doesn't seem to work with emulators other than the built-in SNES one.  It doesn't detect the save capability on the mGBA core or the genesis-plus core.  I've tested loading a GBA/Genesis game and making a battery save, and the icon with the cartridge and pencil is still missing.

It would be nice to hav

[2017-11-02 18:13] ReyVGM commented on #988
@Majorboots Unzip the games.

[2017-11-02 18:15] Omar-Diaz-Silva commented on #491
Hi,
Not, with the new releases, the error is gone

[2017-11-02 19:37] djritz0 commented on #883
Tried that. How do you get it so there are no checksum errors?

[2017-11-02 19:44] ludomadinina commented on #990
Nevertheless, I think I found the good kernel because the message as in my first post doesn't appear anymore. now, I think I'll have to find the clue with retroarch and its different cores to play Zelda in French. Thank you, I suppose the problem is closed.

[2017-11-02 20:40] Nintendog commented on #966
I have the exact same issue. I installed hakchi 2.21f on a clean factory SNES Classic US.  Not took very long before it started to heat up. Would be appreciated if you could try to fix this. Thanks.

[2017-11-02 21:09] ReyVGM commented on #975
This worked perfectly. Thanks.

[2017-11-02 21:17] ReyVGM opened #993 "Convert rollbacks to autoplay"
As shown [here ](https://www.reddit.com/r/miniSNESmods/comments/78wq01/creating_a_classic_demo_for_an_added_rom_canoe/), but better explained [here ](https://github.com/ClusterM/hakchi2/issues/975), there's a simple way to take the rollback from a save state and convert it to autoplay to have the "Classic Demo" option working for every game using Canoe. The process is really simple, yet it can be

[2017-11-02 21:22] ghost commented on #850
This is not a trivial task actually. There is a script '/usr/bin/clover-reset.factory' that contains the actual reset code, which can be overmounted and I tried that and yes, you can build simply build some anti-reset logic in there (for starters just remove all code from that script), but then the system hangs, because reedplayer is not running anymore.
The actual menu logic is in JIT compiled LU

[2017-11-02 21:23] ReyVGM commented on #988
@ArieKindicator I don't quite understand. While having a specific "select all" and "check/uncheck all" would be good, this is something you can already do just fine. You don't have to hold shift to highlight all games, just use the mouse and highlight them all. However, don't click on the game and then try to drag the mouse, instead click on an empty space and then drag the mouse to highlight all

[2017-11-02 22:24] Majorboots commented on #988
selecting the games is not the problem, the issue is that they don't appear in Hakchi. Only 2 of the 50 games highlighted appear in the Hakchi list and to have anymore appear, I tried to add them singularly which I could do BUT all that happened in Hakchi add game list was only ever 2 games, the one I put in singularly would replace the one on the bottom of the hakchi add game list. I hope that cl

[2017-11-02 22:28] Majorboots commented on #988
ReyVGM , the games are unzipped I'm trying to add..as mentioned..only 2 out of the 50 I'm trying to add will go into the add games box in Hakchi. I can replace ANY of the 50 games into the add games box but unfortunately it just replaces one of the 2 already in the box..it doesn't ADD anymore than 2 ..then that's it.

[2017-11-02 23:36] ReyVGM commented on #988
@Majorboots This thread is about a request for a feature, you shouldn't hijack the thread asking help with your own problem. Just make a new thread explaining the problem and people will help in your own thread. You can also ask on GBAtemp and reddit about it.

[2017-11-03 00:22] nekonall commented on #984
can not compressing kirby dreamland 3 get it to save .. i still cant get it to save with out making a suspend point and loading it

[2017-11-03 00:30] Drakonas commented on #990
@ludomadinina did you reinstall retroarch and the required modules?

[2017-11-03 01:07] KMFDManic commented on #984
@nekonall, you using which date RetroArch?  As stated in my latest Update, I will try to make adjustments to compensate for any other games found to have save issues.  Let me know what the date is on the RetroArch you are using. I will look into this game in the morning, otherwise.  In the case of you being able to manually save, but not internally save, this may potentially be related to an sram

[2017-11-03 02:56] ludomadinina commented on #990
Yes, I did. everything looks fine for nintendo and sega now. My Zelda3 is translated in French too. I just didn't find the good core for the Neo geo games i want to play. fba and csp2 don't seem to work (black screen before going back to menu).if you have any suggestion... Anyway, many thanks again!

[2017-11-03 04:03] OrisX commented on #984
@KMFDManic Sorry I took so long. I kept the games decompressed and that made them more cooperative as far as loading them, but didn't fix my saves for games like OoT and Pokemon Stadium. I did test the update you put out 11-1, and that got the saves for OoT and Stadium working, but not Stadium 2. I tested the update you came out with today and it still didn't let Stadium 2 keep its saves for me. E

[2017-11-03 06:09] KMFDManic commented on #984
@OrisX, I will do another adjustment and ensure Pokemon Stadium 2 works:)  Thanks for the feedback! I will update the Core Set today to take this into account.

[2017-11-03 08:17] ghost commented on #993
You could do that by writing a shellscript to traverse all directories and do the rewrite of savestate to autoplay, would not be hard to implement.

[2017-11-03 13:04] r3tro80 commented on #993
Maybe could be possible to create a generic "autoplay" dir that works for all the roms that start the game from the start and exit automatically after a given value in seconds...

So in hakchi2 there could be add an "activate autoplay" option for added roms.

We don't know exactly how the files A.inputs,state etc.. works but someone could check it.

[2017-11-03 13:23] Shoothimnow commented on #993
Once created, couldn't these autoplay's be shared?  Or is that in the grey area of original kernal territory?

I just figured if someone with OCD (talking about myself, but I haven't hacked my SNESC yet) would do this and share their files.

However, the conversion looks terribly simple to script

[2017-11-03 15:09] ghost commented on #850
Ok, i created two HMOD's for this scenario and I will test it some more first. No LUA script modification is needed.

I created a special HMOD that simply gives you a script you can call to code protect functionality. Via clear information images on screen it will guide you through the process.
I created another HMOD for this specific factory reset scenario, so you need to enter a code to confirm

[2017-11-03 15:46] TechnoSurYoutube commented on #955
I even know what it means AutoScript update, basically if we click on Synchronize the games after keeping the files of the configuration, games and kernel, the games will be added and there will be no problem?

[2017-11-03 16:41] bslenul opened #994 "[Simple feature request] Option to add a nested "Original Games" shortcut to each folder."
Hey :)

I'd like to be able to replace original games with patched versions (restoration or translation patches for example) so that they appear in the main menu instead of the "More games" folder, it could be a simple option in hakchi2 like this: https://i.imgur.com/dn80HWg.png or just by adding "--original-folder" in the command line or something like that, idk.

I know I can do this with custom

[2017-11-03 17:04] Drakonas commented on #994
It is not possible to modify the original games on the SNES Classic, but what you are asking is already possible if you had checked the Pages/Folders structure options in the Settings menu before asking. Closing this.

[2017-11-03 17:05] Drakonas commented on #994
To clarify, you can hide the original games and add duplicates, but the SNES Classic has locked the original roms to prevent deletion/editing.

[2017-11-03 17:09] Drakonas commented on #955
@TechnoSurYoutube he was curious if this exists in the portable version as well as the web installer. I was confused what the feature meant, but now I understand. Yes @Pito23 This feature was implemented in the portable version as well. Closing.

[2017-11-03 17:09] #955 closed, assigned to nobody

[2017-11-03 17:12] Drakonas commented on #990
My pleasure. Glad to be of help. Also be aware mortal kombat won't run in FBA, and CPS2 doesn't work quite yet I'm afraid. It is claimed to be working in KMFD's coreset but his coreset tends to have more bugs for people I've asked. @ludomadinina

[2017-11-03 17:18] bslenul commented on #994
That's not what I asked, sorry I'll try to explain better:
I just want some of my games to appear on the main menu (and not in the "More games" folder).
I know you can't remove original games (but you can hide them).
The custom folders option CAN'T act like the default settings (check the video) so I don't want to use it.

So basically I just want to be able to move games on the main menu while ke

[2017-11-03 17:18] Drakonas commented on #883
@djritz0 if you are having checksum errors then that is your problem. You have a corrupted or already hacked original dump in your dump folder (if you ever deleted the dump folder since the first time you ever used Hakchi with your SNES it is no longer an original dump). If you run Hakchi from a new folder without copying the dump folder over it will redump the kernel from the already modified SNE

[2017-11-03 17:26] Juckov commented on #883
Indeed I have a hacked version, I'll try this weekend to fix it

On 3 Nov 2017 7:19 p.m., "3rdN3rd" <notifications@github.com> wrote:

[2017-11-03 18:39] Frank-5 commented on #966
Ok.... So, after a few things learned I was able to get 2.21f installed and NO overheating problem now!!   Following instructions is the key...  Refer to @Drakonas' instructions. The key to this is to perform the full factory reset:
1) back up any save states you want to keep first
2) uninstall current version of Hackchi2
3) Flash original kernel
4) make sure system is running correctly and not ov

[2017-11-03 18:43] Frank-5 commented on #966
Still having issues installing RetroArch 1.0c back though, but that is a different issue I think already posted elsewhere.

[2017-11-03 18:57] bslenul opened #995 "[Simple feature request] Add an option to automatically move games to main menu without using custom folders."
My previous post was misunderstood and closed so I'll try to explain better. I'm sorry I'm not english and sometimes it's hard for me to explain clearly what I have in mind D:

I'm just asking for a really simple feature: an option to move added games on the main menu instead of the "More games" folder.
It is simply done by moving your games from /usr/share/games/00X to /usr/share/games, BUT right

[2017-11-03 21:22] KMFDManic commented on #984
@nekonall Which Kirby Game are you talking about exactly?  Kirby Dreamland 3 is on SNES.  Just want to make sure I am looking into the correct game.

[2017-11-03 21:26] MrXCuci commented on #608
Hunt for red october US has the same problem and Euro Football champ.

[2017-11-04 00:19] ReyVGM commented on #995
Personally I'm not very clear as to what you are asking. Your english is fine by the way, but the explanation is not clear to me.

You can have all or any new game on the 'original games' menu/folder. Just don't add any folders. But if you want folders arranged in a specific way, select the "custom folder" option in hakchi, you can organize folders anyway you want. I know the program asks if how y

[2017-11-04 00:58] markched opened #996 "Two Compression Questions"
Not an issue, just two questions and I could not find the answer amongst other posts.

First question, Now that Hakchi2 can compress files, is there any benefit to NOT compressing files?

Second Question, Are there any specific game types (Genesis, GBA, MAME... ETC) that we should be leaving uncompressed? or should we have EVERYTHING compressed regardless of game types?

[2017-11-04 01:13] Frank-5 commented on #996
Pretty sure you need to ask this question on the many resources available such as Reddit, etc. and not here.  This is for ISSUES relating to HackChi and not a general help forum to answer questions.
But to answer  part of your question anyway, compressing saves space but doesn't work with N64 Roms, at least in my experience with glupen64. Most All my other Roms are compressed.

[2017-11-04 01:16] markched commented on #996
Wow. Thanks for the quick response. I figured the community would want to take care of itself rather than fan speculation on other pages.

Thank you for the help.

Mark Chedrawe
(902) 209-3910
Sent from my iPhone

On Nov 3, 2017, at 10:13 PM, Frank-5 <notifications@github.com<mailto:notifications@github.com>> wrote:

Pretty sure you need to ask this question on the many resources available such as

[2017-11-04 01:28] rubiopaul02 commented on #995
You can change the icons folder when you are on the 'menu folder ' When the menu pops out you select the folder icon ( the bigger one on the right). It gives you option to change it.  there are several icons for the folder (nes, fammicon, snes, sega , etc and folders with letters.
The only one i dont see how to change is the back icon.  Also you can choose your own icons

[2017-11-04 01:41] Frank-5 commented on #996
I don't think that anyone is trying to "fan speculation" on other pages. It is just easier for ClusterM to address the issues relating to HackChi without having to sort through a bunch of questions that can be handed by the community in the proper forums.  By the way, you should probably remove your personal info from your git response through email unless you want you cell phone and name on your

[2017-11-04 01:44] Frank-5 commented on #996
I think @Drakonas, et. al. can help direct you to some great places to get further information on using Hackchi2.  but this area really is best used to report issues and request features.

[2017-11-04 01:59] nekonall commented on #984
yeah on snes

[2017-11-04 02:04] markched commented on #996
How do I edit a comment? I thought the email was the response? I didn't know it would filter back to here!

[2017-11-04 02:06] markched commented on #996
Never mind. Figured it out. In the mobile version you can't but desktop webpage you can. Thanks man! Appreciate the help.

[2017-11-04 02:08] markched commented on #996
Do you know a good forum for Q&A? I don't have anymore questions for now but it could be useful for later

[2017-11-04 02:10] KMFDManic commented on #984
@nekonall This is a different issue than the GBA/N64 Save Issue.  What are you running it with, Canoe or RetroArch?  I will see what I can do to help:)

[2017-11-04 02:14] Frank-5 commented on #996
No problem.  Glad to help any way I can.  I've been really having a blast with my SNES mini this past couple weeks.  Thankful to get one so quickly and not paying scalpers crazy prices.  Just walked into store and asked.     Great piece of equipment. And madmonkey, Clusterm, and all the folks that developed these tools did it just for the love of gaming.  Be nice if folks would donate more to them

[2017-11-04 02:16] Frank-5 commented on #996
Another place:
https://gbatemp.net/threads/hakchi2-nes-mini-very-simple-pimp-tool.456256/page-671

[2017-11-04 02:17] Frank-5 commented on #996
And
http://m.neogaf.com/showthread.php?t=1444556&page=100000

[2017-11-04 02:20] bslenul commented on #995
By default settings I mean Pages/folders structure set to "Original games in root -> Automatic in subfolders". This way you have your original games in main menu and a "More games" folder. In the "More games" folder you have your 1st set of 30 games directly + folders with other sets of games + "Original games" folder (which brings you back to the main menu). When you select another set of games y

[2017-11-04 02:42] ReyVGM commented on #995
Ok, first of all, you are asking for TWO things. One is to have a specific folder structure, and the other is to have extra games on the main menu.

For the folder structure question, it appears you made a video which shows you using both? So I don't understand what more you can want? As for having Contra on the main menu, you are over complicating yourself using the ftp. Just select "Custom -show

[2017-11-04 02:53] bslenul commented on #995
I know that, but you can't make shortcuts to the other folders or to the main menu with the Folders Manager :( You have to select "Back" every time, then change folder. It's just less practical...

I'm going to bed, it's almost 4am here already D: Thank you anyway for trying to help me! It's my fault I can't explain my problem clearly the way I'd like to :/

[2017-11-04 03:10] SNESDUDEBLUE opened #997 "Hakchi2 can not open. "Hakchi2 has stopped working""
I have never had this problem with any other program before but I simply can not open hackchi. I've tried driver updates, changing the compatibility mode, installing and reinstalling previous versions and current ones, but I can not get the program to load. Any suggestions?

[2017-11-04 03:27] ReyVGM commented on #995
Again, from the video you posted it seems you already can do what you are asking with the folders?

Look, enter the pages/folder structure, select the folder structure you want. Then select custom. Open the folder manager and the structure you selected will be there (you can also select the structure you want in there, btw). Now, once you're there, move the games to any folder you want, including

[2017-11-04 03:30] ReyVGM commented on #997
Disable your antivirus or firewall and see if it opens.

Also, right click on the .exe and select to open as administrator.

Also, are you using windows or what?

[2017-11-04 03:39] SNESDUDEBLUE commented on #997
I am using windows 10 and have tried opening as administrator. I have tried allowing it through the firewall as well, but no luck.

[2017-11-04 05:17] ReyVGM commented on #997
Anti virus?

[2017-11-04 05:18] ReyVGM commented on #997
Uninstall and don't use the web installer again. Download the regular zip and extract the files anywhere you want and use the program like that.

[2017-11-04 09:32] Frank-5 commented on #996
@markched, you should probably close this issue now

[2017-11-04 10:39] bslenul commented on #995
My games are divided into 3 folders: ACT-ILL, KIR-ROC and RTY-ZOM.

This is what I have with default folder settings: https://i.imgur.com/oZf30yn.png

As you can see you can easily switch from folder to folder anywhere you are because you ALWAYS have folders for the other games and a "Original games" folder.

This is what I have with custom folders: https://i.imgur.com/7Lmv7tC.png

Here you only h

[2017-11-04 14:49] bslenul opened #998 "Add shortcuts in Folders Manager"
Hey!

It would be great if we could add shortcuts with the Folders Manager.
Something like this:
![as42hai](https://user-images.githubusercontent.com/33353403/32406500-e9f58a80-c179-11e7-898b-721d90f8a8bb.png)

For example you click "New shortcut" then point to the folder you want and rename the shortcut as you like. The navigation between folders would become way more practical this way :) You co

[2017-11-04 15:36] #995 closed, assigned to nobody

[2017-11-04 17:15] kimllee opened #999 "Sequence contains no elements at System.Linq.Enumerable.First[TSource](IEnumerable`1 source)"
Hi,

I deleted portable version of hakchi 2.21f after i uploaded games in my snes mini.
I redownloaded it to add more games to the snes mini but I have the following error now when I want to synchronize the snes.

_Sequence contains no elements   at System.Linq.Enumerable.First[TSource](IEnumerable`1 source)
   at com.clusterrr.hakchi_gui.WorkerForm.DoKernelDump(String dumpPath, Int32 maxProgress,

[2017-11-04 18:34] ReyVGM commented on #999
If you DELETED the original hakchi folder, then you're pretty much starting over with a new hakchi folder. That's what's probaby causing the issue.

Flash the original kernel back to the SNES, then flash the custom kernel back and it should work.

[2017-11-04 19:32] monkeyass2017 commented on #966
Will @cluster be updating Hakchi to solve this problem ?

[2017-11-04 21:06] Frank-5 commented on #999
If he deleted the hackchi2 folder then he also deleted his OG kernel in the dump sub folder.  He can't flash the OG kernel back until he has his original kernel in the dump folder.  So.. Unless it still is in the trash then he will have to try and find a compatible original kernel.   Don't know why anyone would delete the dump folder unless they didn't read the 1000 warnings on not to delete the d

[2017-11-04 21:10] Frank-5 commented on #999
This is a user error and not really a hackchi issue. Although if the program would more gracefully let the person know instead of the way it did in this case that would be better.

[2017-11-04 21:24] DarthTrotsky opened #1000 "Sound lag"
Hi!

I hacked the mini snes and got an awful lot of sound lag -- I move to the next game in the menu and after a sec I'll hear the click. I flashed the original kernel but still the lag persists. Isn't that supposed to reset to factory settings? Could it be a TV problem? Thanks!

[2017-11-04 21:29] DarthTrotsky commented on #1000
Sorry for the newb questions, but I held reset and turned it on and it turned of after a while. When I turned it back on, it was working with no lag again! SO this means my mini snes is no longer at factory settings? I don't think I will hack it again...

[2017-11-04 21:44] kimllee commented on #999
Thanks for your answers guys. I was expecting this answer... I know i did a very bad move...
Where can i find an OG snes (EU) firmware please ?

[2017-11-04 22:21] kimllee commented on #999
Thnak you for your answers. Problem solved. I flashed the console on another computer and I hopefully kept the Hakchi folder with the OG firmware in it :D
Issue solved. I close it.
Thank you.

[2017-11-04 22:21] #999 closed, assigned to nobody

[2017-11-05 05:42] Gab-75 opened #1001 "Rewind frames management option/function"
Hi guys,
in a next hakchi2 release it would be useful to add a function/option to manage the "rewind frames" for all games or for a selected bunch of games... in the current release you need to edit manually the related command line "-rollback-snapshot-period  FRAMES" for each single game.

PS: if I'm not mistaken, decrease the frames count it should decrease the savestate file size and it can be

[2017-11-05 07:40] NDpendent commented on #931
I got 3 things,i would love to see.I got 100 SNES-Games in a Folder,i have to quit the folder to not get the C8-Error.Maybe assign a Button to go back to main menue,to not scroll the entire games to reach back-folder and/or fix that C8-Error.Tried to change the max-rom-settings in .cfg-file in hakchi2 folder to 99,but dosnt work.
Second thing would be really nice!If retroarch emulates GameBoy Roms

[2017-11-05 09:16] NDpendent opened #1002 "Super GameBoy PlugIn,Turn scrolling off in Main-Menu,Fixing C8-Error"
I got 3 things,i would love to see.I got 100 SNES-Games in a Folder,i have to quit the folder to not get the C8-Error.Maybe assign a Button to go back to main menue,to not scroll the entire games to reach back-folder and/or fix that C8-Error.Tried to change the max-rom-settings in .cfg-file in hakchi2 folder to 99,but dosnt work.
Second thing would be really nice!If retroarch emulates GameBoy Roms

[2017-11-05 09:20] NDpendent opened #1003 "How can i disable Savestate-Function?"
I want to remove the Savestate-Function and Rewind,cause it is not retro in my opinion.
2 mb is to much space anyway!
Is there a way to remove it?

[2017-11-05 09:23] Drakonas commented on #1003
Why are you asking us to remove an option that is built into the SNES Classic code? This is not something that can be done by Hakchi2. If you don't want to use it then just don't save the savestates when you exit the game. They don't save unless you tell them to. Closing this.

[2017-11-05 09:23] #1003 closed, assigned to nobody

[2017-11-05 09:28] Drakonas commented on #1002
Did you not see the "Not Recommended" in the menu when setting the folder limitation past 45? Having more than 60 games causes crashes when having too many games in a folder, but more than 45 cuts off the thumbnails. Lag with more than 60 games is a hardware limitation and cannot be fixed. Retroarch does emulate GameBoy roms if you install the gambette retroarch core module if you didn't notice. S

[2017-11-05 09:42] SNESDUDEBLUE commented on #997
Thanks for the suggestions but didn't have any luck. Disabled firewall/anti virus and all of the above. Just tried it on my laptop and it works fine, just not on my desktop. So, at least there is that.

[2017-11-05 12:33] ghost commented on #931
Don't double post stuff, that's annoying!!! You opened an issue #1002 with the exact same text.

[2017-11-05 14:58] TechnoSurYoutube commented on #955
So basically, I just need to take the files of the old version of hakchi and put them in the new version (dump, config, games ...) and I'll just have to click on Sync games for that the scripts are updated?

If I'm right, tell me yes unless it's wrong

[2017-11-05 18:03] nekonall commented on #984
canoe retro arch cause slow downs

[2017-11-05 20:32] ludomadinina commented on #990
I spend few days to try different cores. Many little Neo geo games run (baseball, bust a move etc...) but I don't find a way to make metal slug 3 run on the machine. For all sega and nintendo platforms, everything is very fine. so cool!

[2017-11-05 20:34] HEBURNLL opened #1004 "Flashing custom Kernel-Waiting for Device"
Hi, couldn't find whether this has been posted about or not.

Originally started using Hackchi2 adding games to my NESC with no problems with an older version of windows (Vista?).

Next I got a different computer with Windows 8 on it, and followed the instructions to sync my NESC.

The directions tell me to flash the custom kernel, install the driver, but when I do, it just says, "waiting for devi

[2017-11-05 21:45] KMFDManic commented on #1004
Usually an issue with virus protection or security protection or firewall.  You also want to be sure you are using the official usb cable that came with the System, as well as a direct USB Connection.

[2017-11-05 21:48] HEBURNLL commented on #1004
Where can I look to see if it is a virus protection or firewall issue? Is there somewhere I can look to get through it?

[2017-11-05 21:50] KMFDManic commented on #984
@nekonall You can try the game with 4 different versions of SNES9X (2002, 2005, 2010, 9X).  Sram Saves work fine on 9X.  Canoe is still a WIP, as far as complete game support.  If you want to stick to Canoe, then the Manual Saves, Upon Exiting should work fine for you:)  This has absolutely nothing to do with the GBA/N64 Save issue, however.  This is related to Canoe running a game, versus SNES9X

[2017-11-05 21:52] ReyVGM commented on #1004
Install the driver again. If it's already installed, then just do what the screen says (hold reset and power on).

Disable anti virus / firewall and test.

[2017-11-05 22:41] zcraft11 opened #1005 "my snes wont show anything on the tv and idk what to do please help"
i tried to hack my snes and i hooked it back up to the tv but now the light is flashing randomly and nothing shows up on the tv, i just need to know how to reset it to normal, i dont even care about hacking it anymore i just dont want to waste $80... please help!

[2017-11-05 23:39] Frank-5 commented on #1005
You are ok.  Don't worry, it's near impossible to brick these units.  First. This is a bug and issue tracker for hackchi.  Not a general help forum.  There are a lot of places to ask for help of this kind.   That being said, If you have your hackchi2 folder with the dump sub folder with your original kernel then all you have to do is uninstall hackchi and flash the original kernel.

[2017-11-05 23:42] Frank-5 commented on #1005
Go to https://www.reddit.com/r/miniSNESmods/ to read the FAQ and ask questions.  Honesty, you can get this resolved and have a cool hacked system that you can customize to your hearts content.

[2017-11-05 23:43] Frank-5 commented on #1005
Here's the FAQ

[2017-11-05 23:43] Frank-5 commented on #1005
https://www.reddit.com/r/miniSNESmods/comments/73qve2/frequently_asked_questions/

[2017-11-05 23:53] Frank-5 commented on #1005
@Drakonas please close this thread.

[2017-11-06 00:29] ghost commented on #1002
Drakonas you sound pretty harsh. especially saying "This cannot be fixed". I know that it might be no priority but to simply say "NO." is just stupid.

[2017-11-06 01:31] JeffSeverino commented on #1002
It's not about priority. He's just stating facts @Vogeluff. You guys have to learn about the limits of the project before requesting things that are just plain impossible, and still whine about it. There are already a lot of solutions out there, Why not adapt yourself?

[2017-11-06 06:44] DanTheMan827 commented on #991
I think the chip has a max resolution of 1280x800

[2017-11-06 08:28] Drakonas commented on #991
Doing more research, this is not possible due to hardware restrictions. Get a TV that has better support for 720p signals. Closing.

[2017-11-06 08:28] #991 closed, assigned to Drakonas

[2017-11-06 08:30] Drakonas commented on #1005
@zcraft11 this is not a personal help line. This issue tracker is meant for requesting features or reporting bugs with the code of Hakchi. Please ask for help on Reddit.

[2017-11-06 08:30] #1005 closed, assigned to nobody

[2017-11-06 08:32] Drakonas commented on #1004
@HEBURNLL This can also be due to using newer USB 3.0/3.1 ports which have been reported to not work with the Hakchi (S)NESC drivers. You should try different ports or you may not be able to use that computer.

[2017-11-06 08:34] Drakonas commented on #984
@nekonall please take this elsewhere and do not hijack someone else's issue for yours. This is a bug tracker not a personal help line. The OP was talking about N64 games, not SNES games. Continue this on Reddit or Discord please.

[2017-11-06 08:39] Drakonas commented on #990
@ludomadinina you need to be using the roms from the romset the emulator is made for. I'm not sure what version it is though, as @ClusterM didn't list what MAME version the FBA core is built against. I would try finding a rom from the 0.139 romset possibly, but you may have to try different ones.

[2017-11-06 08:45] Drakonas commented on #955
@TechnoSurYoutube You are correct.

[2017-11-06 08:46] Drakonas commented on #997
This sounds like corruption on Windows side. A reinstall of your computer may be in order. This is something outside of the boundaries of Hakchi. Closing.

[2017-11-06 08:46] #997 closed, assigned to nobody

[2017-11-06 08:50] Drakonas commented on #1000
flashing OG kernel will not reset the SNES Classic to factory defaults. You need to uninstall Hakchi from the Kernel -> Uninstall function in the Hakchi menu, then flash OG kernel, then perform a factory reset from the SNES Classic main menu (THIS WILL ERASE ALL SAVES). May I ask how much free space you had left on your SNES when you were hacking it?

[2017-11-06 08:53] Drakonas commented on #966
@monkeyass2017 Why don't you mention @ClusterM not cluster. Entirely different person.

[2017-11-06 08:57] #996 closed, assigned to nobody

[2017-11-06 08:58] Drakonas commented on #996
This is not the place to ask general questions. This is for reporting bugs or requesting features. Please ask on Reddit or forums next time.

[2017-11-06 08:59] Drakonas commented on #994
If you had tried what I said, the Pages/Folders menu can do this already. @bslenul Use Custom folder option.

[2017-11-06 09:01] #491 closed, assigned to nobody

[2017-11-06 09:04] Drakonas commented on #814
@mikezila sorry I neglected to realize you were responding to my last message. I apologize. I reacted too fast before realizing what you were talking about. I have closed about 200 tickets in the last few weeks. :P

[2017-11-06 09:09] Drakonas commented on #814
@mikezila my point was to make a separate ticket requesting the bug for autodetection to be fixed for retroarch instead of requesting this workaround to be implemented. That is the source of the issue.

[2017-11-06 09:44] FoyzM commented on #543
I wasn't referring to the Kernel output, I was referring to the management console, the ability to better organise the games would be very helpful PRIOR to building the kernel for upload.

Hope this makes sense.

[2017-11-06 10:06] FoyzM opened #1007 "Filter Games list by Console in the Hakchi window (GUI)"
**Note**: I'm not sure how to re-open closed posts, so I'm requesting again. I'm talking about the games management console, **NOT** the kernel output (folders feature)

Would help keep it clean for those that don't want to mix games on the different consoles. :)
I know you can now have a separate list for SNES and NES uploads, but you still have to manually manage those lists. So I'll ask again,

[2017-11-06 12:14] codex785 opened #1008 "[Feature Request] Permanent software/Original kernel upgrade feature"
When connecting to NES/SNES

root@CLOVER:~# cat /etc/issue

gives you the current version installed on the system
---
Upload another software version .hsqs to /var/lib/hakchi/
and then
Type:
root@CLOVER:~# hsqs /var/lib/hakchi/XXXXXXXX.hsqs

gives you the ability to upgrade to the desired version
----
Then type
root@CLOVER:~# cat /etc/issue

and check if the new software version is live on your ha

[2017-11-06 14:55] heinrich928 opened #1009 "Hakchi + Retroarch = No Demo"
Demo Mode seems inop. Mario jumps to activate each title, but it does not open, and he moves on  to the next. This happens for all titles he tries.

[2017-11-06 15:24] bslenul commented on #998
[I just played a bit with the CLV-S-0000X folders in /usr/share/games/ and the .desktop files](https://www.reddit.com/r/miniSNESmods/comments/7b5v8p/quick_example_of_what_you_could_do_with_folders/dpfjfh4/), here's a quick example of what you could do with shortcuts: https://youtu.be/k82-z2vTCGA

See how I am switching from my SNES folder to other systems and vice-versa in just one click? Pretty c

[2017-11-06 15:46] Shoothimnow commented on #1009
Can you be more specific.  Is this for the default games, or custom games?

--If you are saying that your default 21 games do not have demos, then this is a bug.

--If you are saying that custom installed games do not have demos, there is already a **feature request** #993.  This isn't a bug, as Hakchi2 is working as it's suppose to.  Better explanations can be found how to create these autoplay d

[2017-11-06 15:56] heinrich928 commented on #1009
Thanks for replying. More specificity:

Demo does not work with additional games (sounds like a known feature request)
Demo does not work with any games, including stock, when console was last turned off with focus on extra games, and when turned on returns to that sub-menu. Does not work with stock games in this scenario either. If focus is returned to stock menu, demo will begin to work.
Demo do

[2017-11-06 16:08] Juckov commented on #883
Ok, so I did all that. Found a good kernel, checked it. Resetting 30 times, no errors.
After installing hackchi 2.21 f, got the error c7 again. (293 mb occupied), but this time I got back to the menu( no restarting) and was able to start games and reset. I have  reset  a few times, and no errors.
I should try one more time with more free space

[2017-11-06 17:29] sitrick2 opened #1010 "NES Mini running hot, experiencing random reboots"
NES Mini running 2.21f kernel. Had no real issues until recently, turned it on to play and the OS self-rebooted as soon as the game select screen loaded. Uninstalled the custom kernel, reloaded the stock kernel, reflashed the most recent kernel. Everything worked fine until about an hour into play, where I got another random reboot mid-game. Noticed the case was warmer than I've ever noticed it ge

[2017-11-06 17:49] Shoothimnow commented on #1010
There is a current bug reported in issue #966 that is currently still open regarding the SNESC Overheating.

[2017-11-06 18:54] DarthTrotsky commented on #1000
many, many thanks!

it was empty, and I uploaded some 15mb (about six snes games, three GBA and
the retroarch cores)

my best!

On Mon, Nov 6, 2017 at 6:51 AM, 3rdN3rd <notifications@github.com> wrote:

[2017-11-06 21:03] pommmme commented on #961
I disagree that this request is about Retroarch. NES Classic firmware can dual-boot on the SNES Classic hardware. Since NES games can be played with the SNES controller without using Retroarch, it would be nice to be able to set a button config with Y-B acting as B-A, respectively.

Note that this should happen at the emulator level and not necessarily the game menu.

[2017-11-06 21:36] ReyVGM commented on #961
Ah, you are right. Forgot about dual boot.

[2017-11-06 21:48] skforty commented on #991
Hey, I just wanted to chime back in and say thanks for digging into this more and doing the research.  Much appreciated!

Just a note, I read about people having their systems get stuck in 480p, and on a hunch I assumed it was when the system was unable to get the DDC information from the display and so it would default to SD to be safe.  I was able to repro this by using an adapter to strip the D

[2017-11-06 22:00] madmonkey1907 commented on #991
Resolution is controlled by ini file somewhere in share. You can set 480p for game and/or menu mode separately. Neither stock menu, nor emulator support that properly. Works great in retroarch though.

[2017-11-06 22:35] Frank-5 commented on #1009
Exactly what I'm seeing with 2.21f and RetroArch 1.0.

[2017-11-06 22:45] madmonkey1907 commented on #285
sorry for disappearing. https://www.dropbox.com/s/q5cutdknivcnk3y/hakchi-gui-win32-reflash-full.zip?dl=0
this build has 'write nand feature enabled'
instructions:
1. get full nand dump of snes classic, place it in dump/nand.bin
we're going to use snes classic image, as it's last partition has size 0, meaning 'use all available storage'
2. flash it using 'write nand'
do not flash your original nand

[2017-11-06 22:46] alexarus1 opened #1011 "Snes mini overheating"
Hi, I wanted to share that I am experiencing possible overheating issues with hakchi 2.21 f.
The case is really hot after 30-45 minutes of usage, and it's something I have never experienced with past releases (I've been sticking with 2.21b).
I also have another snes classic with stock kernel, and after many stress tests, I can say it never gets this hot even after running for 2-3 hours straight.
T

[2017-11-06 22:49] madmonkey1907 commented on #962
https://www.dropbox.com/s/bzgcok7sowigkk8/hakchi-gui-win32-reflash.zip?dl=0

1. dump kernel
2. unpack kernel
3. rebuild kernel
4. memboot

after that you can use hakchi2 as usual, start from scratch

[2017-11-06 22:52] madmonkey1907 commented on #1008
while this is already implemented, I'm not sure I should provide instructions to do it. you shouldn't uninstall if you system still boots, and you should never flash original kernel, unless you're going to sell/return it.

[2017-11-06 23:33] KMFDManic commented on #285
@madmonkey1907 Excellent work.  This has been sought after for quite some time now.  Some will be extremely pleased.

[2017-11-06 23:46] DanTheMan827 commented on #285
@madmonkey1907 so, have you figured out how to write a full nand backup back to the system then?

[2017-11-07 00:10] madmonkey1907 commented on #285
not sure about many, I'm only aware of @Neite99 taking the plunge to replace nand chip.
@DanTheMan827, no, that's why I'm saying it will only work trough memboot each time.

[2017-11-07 00:15] Shoothimnow commented on #1011
You.... legitimately.... just posted exactly the same thing that the very last (yours is #1011) issue post #1010 said.  Please refer to #966, as they are already aware of this bug.

[2017-11-07 01:03] KMFDManic commented on #285
@madmonkey1907, yes, many might have been an overshoot:)

[2017-11-07 01:10] Averagewriter opened #1012 "[Feature Request:] Stretch Fill option"
I use the SNES and NES Classic on both a CRT TV and on a flatscreen. It would be nice to have the option to stretch the screen, as when on the CRT the image still thinks it's 16:9 and thus is stuck in a small distorted window.

[2017-11-07 06:27] Neite99 commented on #285
You're the man.

Thanks for getting this to me. It is late where I am so I don't have time tonight but I will see what happens tomorrow. Im excited to try it and will let you guys know the results as soon as I get done testing it.

I am assuming the memboot has to be done because of the boot0/boot partitions. Are they included in the source code Nintendo released for this?

[2017-11-07 07:59] codex785 commented on #1008
@madmonkey1907
Do you mean there is allready a way to permanently upgrade your system?

[2017-11-07 12:36] madmonkey1907 commented on #285
no hurry.
boot0 is part of uboot source code, I just don't know how how write it properly, or even how to interpret what's written there. I figured out how to rip boot0 from there, but not how to write it yet. guides for other sunxi boards don't mention what I'm seeing here.

[2017-11-07 12:38] madmonkey1907 commented on #1008
yes. but all you really need to do is not "uninstall and revert to original kernel". it's that easy.

[2017-11-07 12:48] ZakDanger opened #1013 "Request for info on building kernel modules from source"
Can some info please be added on how to build kernel modules for S/NES mini from sourcecode?

I have tried building the clovercon source included with hakchi2 but the resultant kernel module has vermagic that does not match the original. I think this is causing it to not be able to be loaded.

I tried using the open source packs provided by Nintendo for NES, but I think my generated config file is

[2017-11-07 13:30] codex785 commented on #1008
@madmonkey1907
Do you think that there is a benefit in upgrading the software?

[2017-11-07 14:14] Shoothimnow commented on #1013
Is Hakchi2 providing an issue in this situation (as this is the Hakchi2 issues board).

It looks like you are looking for a how-to guide, which is better suited for the reddit https://www.reddit.com/r/miniSNESmods/ page

[2017-11-07 14:22] arch-rogue opened #1014 "Add an option to remove all game box art"
Thanks you for your tool, working great so far

I would like to know it it is possible to add an options to remove the game box art. This use case has come to me when I realized that my storage limit is coming fast, so I will add to let the games have default snes cartridge box art instead of the google one that it has downloaded.

Thanks

[2017-11-07 15:04] kagan1416 opened #1015 "Retroarch weird issue (can't boot normally anymore)"
Hey, I encountered a very strange issue. I flashed my snes classic mini with hakchi2, added some games and everything worked as intended. Then I installed retroarch to play games like terranigma. Still no problems. I can shutdown, reboot my snes classic mini and play whatever I want as intended. Then I altered an option in retroarch but I can't remember what exactly. Anyway it crashed instantly an

[2017-11-07 16:40] petopp81 commented on #962
Thank you @madmonkey1907, will try this! One stupid question though, What is memboot?

[2017-11-07 16:47] AlexAkulov commented on #961
Hi, guys! I lost half day however I have found the solution! It is very easy.
I publush step by step detailed instruction:
- run any nes game
- press <kbd>select</kbd> + <kbd>start</kbd> to show RetroArch menu
- "Quick Menu"
- "Controls"
- to change buttons you should press <kbd><</kbd> or <kbd>></kbd> on gamepad
I set these settings:
[code]
- press "Save Game Remap File"
Your settings will be sav

[2017-11-07 17:16] ReyVGM commented on #961
That doesn't work if you are not using retroarch.

[2017-11-07 17:17] ReyVGM commented on #1015
Uninstall retroarch, install again.

[2017-11-07 17:19] ReyVGM commented on #1014
Just delete the images from hakchi's 'game_snes' folder.

[2017-11-07 17:24] kagan1416 commented on #1015
Does not work. Issue persists. The only solution currently is to uninstall retroarch completely

[2017-11-07 17:27] madmonkey1907 commented on #1015
weird. there is a 'dump nandc' option in hakchi2. create a dump when the problem is present and send it to me and/or cluster on reddit or twitter

[2017-11-07 17:29] madmonkey1907 commented on #1008
none as far as I can tell. version number is different, but it's unknown if anything else besides version number changed between versions.

[2017-11-07 17:29] kagan1416 commented on #1015
Ok thanks. I will send it later to you

[2017-11-07 17:30] madmonkey1907 commented on #962
there is a button called 'memboot' in the software linked. otherwise, it literary means 'boot from memory'

[2017-11-08 00:24] ghost commented on #1002
damn you dont have to be an asshole. thats basically what i eanted drakonas to know. plus its stupid to claim something is impossible. people said running terranigma on canoe would never be possible aswell and now its running just fine. Requesting features is the right place to request a feature. its not a case of "whining" or demanding it, its just making sure its heard that that is wanted.

[2017-11-08 00:52] JeffSeverino commented on #1002
Now you are being a little too salty, as no one is offending you. If a ROM works now it doesn't mean everything is possible.
Don't you think that all the limitations listed within hackchi were not tested? If hackchi was released this way (with its limitations) wouldn't be logical that these issues weren't noticed before? The OP is just stating obvious problems that you have to adapt yourself if yo

[2017-11-08 02:52] ZeldaGeek opened #1017 "I can't save my non-NES games"
I was able to successfully add about 160 games to my NES Classic. They all work fine as they should. To be specific, I added 30 GameBoy games, 25 GameBoy Color games, 90 NES games, and 18 Sega Master System games. The NES games can use save states like they should, but when I'm done playing a certain game from another console, hitting the reset button will cause it to not save the game. This can b

[2017-11-08 03:20] JohnSid45 commented on #1007
I just sort them manually, but it's not too hard to do.  Most of them have different thumbnail icons by console, so when I add new games I drop them all into folders by console type, then let hakchi sort the console folders automatically.  It'd be nice to have this sort of filter in the interface where you pick the games, though.

[2017-11-08 08:21] brothan323 opened #1018 "The glupen64 core doesn't work"
Hello. You're glupen64 hmod doesn't work. It will not load any 64 game. Though the cluter 64 core works fine.

[2017-11-08 08:53] brothan323 opened #1019 "Hakchi2 showing snes has 207 MB of space"
Is this an error? I've seen countless threads with people saying their snes has close to 300 MB of space.

[2017-11-08 08:56] codex785 commented on #1008
@madmonkey1907
can you describe the update process for those who are technically capable of doing it?
(this may be out of my capabilities), but sharing the process may help people who want to do it at their own risks.
is this applicable to the SNES and NES?
Thanks a lot

[2017-11-08 09:12] #1019 closed, assigned to nobody

[2017-11-08 09:46] #1018 closed, assigned to nobody

[2017-11-08 16:12] ghost commented on #1002
i dont see why we are arguing. we are both stating that it could be possible in the future that certain things might change and then work. i just claimed that its a good thing people post as request what they'd like to see hakchi do. it's not a demand. it comes down to making your voice heard about what you'd like, not even necessarily what u need.
I just found that Drakonas sounded very aggressiv

[2017-11-08 16:31] JeffSeverino commented on #1002
I now seem to understand you a little bit. Everyone wants this hack to be the best possible. But for now would be nice to not fill the issue board with things that are not as important, and prioritize issues like the overheating bug, which is kinda serious. Even if ClusterM is doing all this as a hobby, we can help him by filtering what really is a problem at the moment and what isn't. Everyday so

[2017-11-08 18:58] sund0260 commented on #452
I have seen ClusterM respond on this before saying you need to do a NAND B dump from the SNES classic and put it in a certain folder on a hacked NES mini. I have not found a step-by-step for this yet as ClusterM warned doing a kernel swap alone could brick the NES mini.

[2017-11-08 20:34] eneizel opened #1020 "NHL ´96 issue"
Screen freezes after a couple of minutes in to the match...does not happen when in practice mode

[2017-11-08 23:29] Drakonas commented on #1020
This is not the place to report this. Hakchi is ClusterM. Canoe is Nintendo. You are reporting this to someone that cannot do anything. Ask on Reddit to see if someone is having the same problem.

[2017-11-08 23:29] #1020 closed, assigned to nobody

[2017-11-08 23:32] Drakonas commented on #452
This is already possible as @sund0260 said. there is no feature Hakchi needs to add to allow this. Ask for help on Reddit for this.

[2017-11-08 23:32] #452 closed, assigned to nobody

[2017-11-08 23:38] Drakonas commented on #1002
@Vogeluff I was not trying to sound harsh, neither am I in this message. I am just trying to be blunt. I was emphasizing that fixing rom compatibility is one thing. Increasing performance is another. C8 errors usually occur when the SNES Classic works too hard and hits limits. Be aware that Terranigma was not Cluster's doing. That was someone else actually modifying the rom code, not Hakchi code,

[2017-11-08 23:38] #1002 closed, assigned to nobody

[2017-11-08 23:59] Drakonas commented on #1007
To clarify @FoyzM Do you mean the list in the actual Hakchi2 program, and not the outputted organization on the console?

[2017-11-09 00:00] Drakonas commented on #1017
@ZeldaGeek How much free space do you have reported by Hakchi? And did you install the extra_space mod, which is not recommended?

[2017-11-09 00:03] Drakonas commented on #1014
You can just search for all PNG files in the folder and remove them all, but I will leave the feature request open. It will be of lowest priority though.

[2017-11-09 00:05] Drakonas commented on #1013
Please ask for help on places like Reddit, not on an issue request. There are many that can help you there, and I am not aware of how to do it.

[2017-11-09 00:05] #1013 closed, assigned to nobody

[2017-11-09 00:07] Drakonas commented on #1012
This is a limitation of the hardware, and is not fixable by software. Sorry but this cannot be fixed. At best we'd be able to squish it to be a square on your screen, but it would be so small in the middle of the screen that it would be unplayable. You can however, manipulate the output with Retroarch to possible fit your needs. But Canoe and base games are a no go.

[2017-11-09 00:07] #1012 closed, assigned to nobody

[2017-11-09 00:09] Drakonas commented on #1010
Closing this as a duplicate.

[2017-11-09 00:09] #1010 closed, assigned to nobody

[2017-11-09 00:10] Drakonas commented on #1011
Closing this as a duplicate of #966. Please keep discussion there for further updates.

[2017-11-09 00:10] #1011 closed, assigned to nobody

[2017-11-09 00:15] Drakonas commented on #1009
This is not a bug with Hakchi. It is because the SNES Classic requires the game demos to be there for the games. They have to be made. You can make savestates for it to load and make prerecorded games for Canoe games only (will not work with retroarch)

See issue #975 for a tutorial on creating prerecorded game demos yourself. Closing this as it is not an issue with Hakchi, but has to do with Nint

[2017-11-09 00:15] #1009 closed, assigned to nobody

[2017-11-09 00:20] Drakonas commented on #1000
@DarthTrotsky Closing this issue. I would still advise to to an uninstall and factory reset, else you will eventually start having crashes as Hakchi is still present on the system but is just semi-inactive. If you need to backup your saves, install custom kernel, backup the saves with Hakchi, then follow the uninstall procedure I mentioned 3 days ago. Reopen this issue if you ever decide to try Ha

[2017-11-09 00:20] #1000 closed, assigned to nobody

[2017-11-09 00:22] Drakonas commented on #883
..... @Juckov are you installing the extra_space mod? That's probably your problem. It limits the total save space to 50MB, when all the built in games use usually 2.5MB PER savestate. This feature is meant for when you are installing very small amount of extra games. Uninstall that and remove some games to allow a lot of free space for saves, preferably 100MB or more if you are installing hundred